<!-- jQuery enable script if needed -->
<!-- <script src="assets/vendor/jquery-3.1.1.min.js"></script> -->
<script src="assets/vendor/classie.js"></script>
<script src="assets/vendor/modernizr.custom.js"></script>
<script src="assets/js/bundle.js"></script>
