/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.list-radios li { list-style-type: none; margin-bottom: 10px; text-align: left; }

.radio { display: inline-block; position: relative; }
.radio input { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }

.radio label { position: relative; padding: 0 0 0 25px; }
.radio label:before { width: 20px; height: 20px; border-radius: 50%; border: 2px solid #f2857e; content: ''; position: absolute; top: -2px; left: 0; transition: all .3s; }
.radio label:after { width: 12px; height: 12px; border-radius: 50%; position: absolute; top: 2px; left: 4px; content: ''; background-color: #f2857e; opacity: 0; transition: all .3s; }
.radio input:checked + label:after { opacity: 1; }
.radio input:checked + label:before { border-color: #f2857e; }

.radio--scale-in label:after { transform: scale(0); background-color: #f2857e; }
.radio--scale-in input:checked + label:after { transform: scale(1); opacity: 1; }

.radio--scale-out label:after { transform: scale(1.8); background-color: transparent; }
.radio--scale-out input:checked + label:after { transform: scale(1); opacity: 1; background-color: #f2857e; }

.radio--small label:after { display: none; }

.radio--small label:before { border-color: #7ebdf2; }
.radio--small input:checked + label:before { transform: scale(0.8); background-color: #7ebdf2; border-color: #7ebdf2; }


.radio--large label:after { display: none; }
.radio--large label:before { transform: scale(0.8); border-color: #7ebdf2; }
.radio--large input:checked + label:before { transform: scale(1); background-color: #7ebdf2; border-color: #7ebdf2; }

.radio--fancy input:checked + label:before,
.radio--fancy label:before { border-color: #8ccf88; }

.radio--fancy label:after { background-color: #8ccf88; }

.sample-preview:hover .radio-preview label:after { opacity: 1; top: 2px; height: 12px; animation: jump-in .3s forwards; background-color: #8ccf88; }
.radio--fancy input:checked + label:after { opacity: 1; top: 2px; height: 12px; animation: jump-in .3s forwards; background-color: #8ccf88; }

@keyframes jump-in {
	0% { top: 0px; }
	25% { top: 6px; height: 12px; }
	50% { top: 12px; height: 6px; }
	100% { top: 2px; height: 12px; }
}

.radio--track input:checked + label:before,
.radio--track label:before { border-color: #8ccf88; }

.radio--track label:after { background-color: #8ccf88; }

.radio--track input:checked + label:after { opacity: 1; top: 2px; height: 12px; animation: track .3s forwards; background-color: #8ccf88; }

@keyframes track {
	0% { top: 0px; }
	25% { top: 6px; height: 4px; width: 4px; }
	50% { top: 12px; height: 6px; }
	100% { top: 2px; height: 12px; width: 12px; }
}

.radio--flip-small label:after { background-color: #8ccf88; }

.radio--flip-small input:checked + label:before,
.radio--flip-small label:before { border-color: #8ccf88; }

.radio--flip-small input + label:after { transform: rotateX(90deg); }
.radio--flip-small input:checked + label:after { transform: rotateX(-190deg); }

.radio--outside label:before { border-color: #7ebdf2; }
.radio--outside label:after { background-color: #7ebdf2; }
.radio--outside input:checked + label:before { border: 3px solid rgba(126,189,242,.5); }
.radio--outside input:checked + label:after { transform: scale(1.2); background-color: #7ebdf2; border-color: #7ebdf2; }

.radio--flip input:checked + label:before,
.radio--flip label:before { border-color: #7ebdf2; }

.radio--flip label:after { background-color: #7ebdf2; }

.radio--flip input + label:before { transform: rotateX(0deg); }
.radio--flip input:checked + label:before { transform: rotateX(-190deg); }

.radio--flip-right input:checked + label:before,
.radio--flip-right label:before { border-color: #7ebdf2; }

.radio--flip-right label:after { background-color: #7ebdf2; }

.radio--flip-right input + label:before { transform: rotateY(0deg); }
.radio--flip-right input:checked + label:before { transform: rotateY(-190deg); }

.radio--ripple label:before { content: '\2716'; border-color: #7ebdf2; color: transparent; text-align: center; line-height: 16px; }
.radio--ripple label:after { width: 20px; height: 20px; border: 0; opacity: 0; background-color: #7ebdf2; left: 0; top: -2px; z-index: -1; }

.radio--ripple input:checked + label:before { border-color: #7ebdf2; background-color: #7ebdf2; color: #fff; }
.radio--ripple input:checked + label:after { animation: ripple .5s; }

@keyframes ripple {
	0% { opacity: .35; transform: scale(1); }
	100% { opacity: 0; transform: scale(4); }
}


.radio--liquid label:before { border-color: #f2857e; }
.radio--liquid label:after { background-color: #f2857e; }

.radio--liquid label:after { opacity: 1; transform: translate(0, -4px) scale(0, 0); transform-origin: center top; }
.radio--liquid input:checked + label:before { border-color: #f2857e; }
.radio--liquid input:checked + label:after { animation: liquid .3s forwards; }

@keyframes liquid {
	0% { transform: translate(0, -4px) scale(0, 0); }
	20% { transform: translate(0, -2px) scale(.25, .5); }
	100% { transform: translate(0, 0) scale(1, 1); }
}

.radio--collapse label:after { width: 20px; height: 20px; opacity: 1; left: 0; top: -2px; background-color: transparent; border: 0; box-shadow: inset 0 0 0 0 #f2857e; }
.radio--collapse input:checked + label:after { box-shadow: inset 0 0 0 7px #f2857e; }