/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */
.hero-wrapper { display: flex; min-height: 100vh; padding: 2vw 5vw; }

.hero { margin: 0; text-align: center; font-size: 0; line-height: 0; width: 100%; height: auto; background: #dde1de; border-radius: 1.92vw; display: flex; align-items: flex-end; justify-content: center; }

.furry { width: 16.8vw; height: 38.04vw; margin: auto auto 0; }

/* ------------------------------------------------------------ *\
	Head
\* ------------------------------------------------------------ */

.head { width: 7.94vw; height: 10.02vw; background-color: #895a48; border-radius: 2.08vw; display: inline-block; position: relative; z-index: 10; }
.head:before { content: ''; width: 1.03vw; height: 1.03vw; border-radius: 50%; background-color: #ba7a61; position: absolute; top: 0.7vw; right: 1.03vw; }
.head:after { content: ''; width: 0.35vw; height: 0.35vw; border-radius: 50%; background-color: #ba7a61; position: absolute; top: 1.38vw; right: 0.7vw; }

.head-inner { overflow: hidden; padding: 4.84vw 1.03vw 0; height: 100%; }

/*  Eyes  */

.eyes { position: relative; }
.eyes:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 0.35vw 0.7vw 0 0.7vw; border-color: #6f4434 transparent transparent transparent; position: absolute; top: 0; left: 50%; margin-left: -0.7vw; }

.eye { float: left; width: 2.08vw; height: 0.35vw; background-color: #242225; position: relative; }
.eye:after { content: ''; width: 0.7vw; height: 0.35vw; background-color: #242225; position: absolute; top: 100%; right: 0.7vw; }

.eye-mask { float: right; width: 2.08vw; height: 2.08vw; background-color: #242225; border-radius: 0.7vw; margin-top: -0.7vw; position: relative; z-index: 2; }
.eye-mask:before { content: ''; width: 0.35vw; height: 13.82vw; background-color: #242225; transform: translate(-50%,-50%) rotate(-46deg); position: absolute; top: 50%; left: 50%; }

/*  Scar  */

.scar { width: 0; height: 0; border-style: solid; border-width: 1.03vw 0 0 0.35vw; border-color: transparent transparent transparent #2c3240; position: absolute; bottom: 100%; transform: rotate(-15deg); left: 0.7vw; }

.scar:after,
.scar-second:after,
.scar-third:after { width: 0; height: 0; border-style: solid; border-width: 0 0.35vw 0.7vw 0; border-color: transparent #2c3240 transparent transparent; position: absolute; top: 100%; transform: rotate(15deg); left: -0.7vw; margin-top: 2.08vw; content: ''; }

.scar-second { transform: rotate(0deg); left: 1.38vw; border-width: 0.7vw 0 0 0.35vw;  }
.scar-second:after { left: 0vw; transform: rotate(5deg);}

.scar-third { transform: rotate(20deg); left: 1.73vw; border-width: 0.7vw 0 0 0.35vw; }
.scar-third:after { transform: rotate(-18deg); left: 0.7vw; margin-top: 2.08vw; }

/*  Nose  */

.nose { width: 0; height: 0; border-style: solid; border-width: 0 0 1.38vw 1.03vw; border-color: transparent transparent #895442 transparent; display: inline-block; margin-left: -0.7vw; position: relative; margin-top: 0.35vw; }
.nose:after { width: 0; height: 0; border-style: solid; border-width: 1.38vw 0 0 1.03vw; border-color: transparent transparent transparent #ac7e6e; position: absolute; top: 0; left: 100%; content: ''; }
.nose:before { width: 1.73vw; height: 0.7vw; background-color: #6e4333; border-radius: 0 0 10.37vw 10.37vw; content: ''; position: absolute; top: 1.38vw; left: -1.03vw; }

/*  Mouth  */

.mouth { width: 3.11vw; height: 3.11vw; background-color: #242225; border-radius: 0.35vw; display: inline-block; margin-top: 0.7vw; position: relative; }
.mouth:before { width: 2.08vw; height: 1.38vw; background-color: #895a48; content: ''; position: absolute; top: 0.7vw; left: 0.5vw; }
.mouth:after { width: 1.73vw; height: 0.2vw; background-color: #242225; content: ''; position: absolute; top: 1.03vw; left: 0.7vw; }

/*  Ears  */

.ears { position: absolute; top: 5.18vw; width: 100%; left: 0; }

.ear { position: absolute; top: 0; width: 0.35vw; height: 1.38vw; background-color: #6e4333; right: 100%; }
.ear:after { height: 1.38vw; width: 100%; background-color: #6e4333; content: ''; top: 100%; margin-top: -0.7vw; left: 0; position: absolute; border-radius: 3.46vw 0 0 3.46vw; }

.ear-right { right: auto; left: 100%; }
.ear-right:after { border-radius: 0 3.46vw 3.46vw 0; }

/*  Handsfree  */

.handsfree { width: 0.7vw; height: 1.73vw; background-color: #242225; position: absolute; top: 0.35vw; right: 0; z-index: 3; border-radius: 0.35vw 0 0 0; }
.handsfree:after { width: 0; height: 0; border-style: solid; border-width: 1.38vw 0.7vw 0 0; border-color: #242225 transparent transparent transparent; content: ''; position: absolute; top: 100%; left: 0.35vw; transform: rotate(-45deg); margin-top: -0.35vw; }

/* ------------------------------------------------------------ *\
	Neck
\* ------------------------------------------------------------ */

.neck { width: 4.49vw; height: 2.08vw; display: block; background-color: #45464b; margin: auto; }

/* ------------------------------------------------------------ *\
	Body
\* ------------------------------------------------------------ */

.body { width: 7.26vw; min-height: 8.64vw; background: linear-gradient(to bottom,  #5b5b63 0%,#5b5b63 50%,#5b5b63 50%,#45464b 50%,#45464b 100%); display: inline-block; position: relative; }

.body:before,
.body:after { top: -2.08vw; bottom: 0; width: 0.35vw; background-color: #3c3c3e; content: ''; left: 50%; margin-left: -0.35vw; position: absolute; }

.body:before { margin-left: 0vw; }

/*  Belt  */

.belt { width: 7.26vw; height: 1.73vw; background-color: #242527; display: block; margin: auto; position: relative; }

.belt-part { width: 0.7vw; height: 2.08vw; background-color: #6d6e72; position: absolute; left: 50%; margin-left: -0.7vw; top: 0vw; }
.belt-part:after { width: 0.7vw; height: 0.7vw; border-radius: 50%; content: ''; background-color: #6d6e72; top: 0.35vw; left: 100%; margin-left: -0.35vw; position: absolute; }

.belt-part-alt { background-color: #818286; margin-left: 0vw; }
.belt-part-alt:after { left: auto; right: 100%; margin-left: 0; margin-right: -0.35vw; top: 1.03vw; background-color: #818286; }

/*  Mantle  */

.mantle { background-color: #000; }
.mantle:before { background-color: #000; content: ''; height: 14.17vw; position: absolute; top: 8.64vw; left: -1.03vw; right: -1.03vw; animation: waveBack 3s infinite;}

.mantle-part { width: 3.11vw; height: 4.15vw; background-color: #3b3b3b; left: -1.38vw; position: absolute; top: -0.35vw; z-index: 3; }

.mantle-part-right-side { transform: scaleX(-1); left: auto; right: -1.38vw; }

.mantle-part-top { position: absolute; bottom: 100%; margin-bottom: -0.35vw; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 1.38vw 4.84vw; border-color: transparent transparent #3b3b3b transparent; }
.mantle-part-top:before { width: 0; height: 0; border-style: solid; border-width: 0 2.08vw 6.56vw 0; border-color: transparent #3b3b3b transparent transparent; content: ''; position: absolute; top: 1.38vw; right: 100%; margin-right: 2.42vw; }
.mantle-part-top:after { width: 0; height: 0; border-style: solid; border-width: 7.61vw 2.42vw 0 0; border-color: #3b3b3b transparent transparent transparent; content: ''; top: 100%; right: 0; position: absolute; margin-top: 5.18vw; }

.mantle-part-collar { width: 0; height: 0; border-style: solid; border-width: 3.8vw 2.08vw 3.8vw 0; border-color: transparent #242225 transparent transparent; content: ''; position: absolute; right: 0; bottom: 100%; position: absolute; margin-bottom: -4.15vw; }

.mantle-part-bottom { position: absolute; top: 100%; z-index: 4; width: 0; height: 0; border-style: solid; border-width: 0 0 17.63vw 2.76vw; border-color: transparent transparent #1c1c1c transparent; content: ''; left: -1.73vw; margin-top: 2.42vw; transform: rotate(5deg); z-index: -1; animation: wave 3s infinite;}
.mantle-part-bottom:before { position: absolute; top: 100%; z-index: 4; width: 0; height: 0; border-style: solid; border-width: 0 0 8.99vw 1.73vw; border-color: transparent transparent #000 transparent; content: ''; left: -3.11vw; transform: rotate(-39deg) skewX(-43deg); margin-top: 7.61vw; z-index: 5; }
.mantle-part-bottom:after { width: 0; height: 0; border-style: solid; border-width: 21.77vw 2.08vw 0 0; border-color: #3b3b3b transparent transparent transparent; content: ''; position: absolute; top: 100%; left: -2.08vw; transform: rotate(5deg); margin-top: -2.76vw; z-index: 5; }

@keyframes wave {
  0% {
    transform: rotate(5deg);
    left: -1.73vw;
  }

  20% {
    transform: rotate(6deg);
    left: -2vw;
  }

  30% {
    transform: rotate(6deg);
    left: -2vw;
  }

  50% {
		transform: rotate(5deg);
		left: -1.73vw;
  }

  100% {
		transform: rotate(5deg);
		left: -1.73vw;
  }
}

@keyframes waveBack {
  0% {
    left: -1.03vw;
    right: -1.03vw;
  }

  20% {
    left: -1.5vw;
    right: -1.5vw;
  }

	30% {
    left: -1.5vw;
    right: -1.5vw;
  }

	50% {
		left: -1.03vw;
    right: -1.03vw;
  }

  100% {
		left: -1.03vw;
    right: -1.03vw;
  }
}

/* ------------------------------------------------------------ *\
	Hands
\* ------------------------------------------------------------ */

.hand { width: 2.08vw; height: 12.44vw; background-color: #292929; position: absolute; right: 100%; top: 0.35vw;  margin-right: 1.38vw; transform: rotate(7deg); }
.hand:after { width: 2.08vw; height: 2.08vw; background-color: #895a48; position: absolute; top: 100%; right: 0; border-radius: 50%; content: ''; margin-top: -0.35vw; }
.hand-right { transform: scaleX(-1) rotate(7deg); right: auto; left: 100%; margin-right: 0; margin-left: 1.38vw; }

/* ------------------------------------------------------------ *\
	Legs
\* ------------------------------------------------------------ */

.legs { position: relative; display: block; margin: auto; width: 6.56vw; }
.legs .legs-upper { position: absolute; left: 0vw; width: 6.56vw; height: 2.42vw; background: #45464b; border-bottom-left-radius: 0.7vw; border-bottom-right-radius: 0.7vw; }

/* ------------------------------------------------------------ *\
	Leg
\* ------------------------------------------------------------ */

.leg { position: absolute; top: 0; left: 0vw; width: 1.73vw; height: 15.55vw; }

.leg-lower { position: absolute; bottom: 0; right: 0; width: 1.03vw; height: 4.15vw; background: #242527; }

.leg-right { left: auto; right: 0.35vw; transform: scaleX(-1); }

/* ------------------------------------------------------------ *\
	Thigh
\* ------------------------------------------------------------ */

.thigh { width: 1.73vw; height: 4.84vw; background: #45464b; position: absolute; top: 1.73vw; border-bottom-left-radius: 0vw; border-bottom-right-radius: 0vw;}

.thigh:before,
.thigh:after { position: absolute; content: ''; left: 0; width: 100%; height: 0.7vw; background: #242527; }

.thigh:before { top: 2.08vw; }
.thigh:after { top: 3.46vw; }

/* ------------------------------------------------------------ *\
	gun
\* ------------------------------------------------------------ */

.gun { position: absolute; left: -0.7vw; top: 0.7vw; width: 1.03vw; height: 3.8vw; background: #282c2f; border-radius: 0.35vw; }
.gun:before,
.gun:after { position: absolute; content: ''; }

.gun:before { width: 1.73vw; height: 1.03vw; background: #6d6e72; top: 0; right: 0; border-top-right-radius: 0.35vw; }

.gun-inner { position: absolute;left: 0; top: 0; background: inherit; width: 0.7vw; height: 1.38vw; }

/* ------------------------------------------------------------ *\
	Knee
\* ------------------------------------------------------------ */

.knee,
.knee-inner { position: absolute; top: 5.88vw; right: 0; width: 2.76vw; height: 5.53vw; background: #242529; border-top-left-radius: 4.15vw; border-bottom-left-radius: 3.46vw; }

.knee-inner { background: #45464b; top: 0; height: 3.11vw; width: 2.76vw; border-bottom-left-radius: 0; }

/* ------------------------------------------------------------ *\
	Leg Belt
\* ------------------------------------------------------------ */

.leg-belts { position: absolute; bottom: 0vw; left: 0; width: 100%; height: 1.73vw; }

.leg-belt { position: absolute; right: -0.35vw; top: 0; width: 2.76vw; height: 0.7vw; background: #3b393c; border-bottom-left-radius: 0.35vw; }
.leg-belt:after { position: absolute; content: ''; width: 0.7vw; height: 0.7vw; left: 0.35vw; top: 0vw; background: #787379; }

.leg-belt-small { width: 2.42vw; top: auto; bottom: 0vw; }

/* ------------------------------------------------------------ *\
	Shoe
\* ------------------------------------------------------------ */

.shoe { position: absolute; bottom: 0; right: 0; width: 2.42vw; height: 1.73vw; }

.shoe:before,
.shoe:after  { position: absolute; content: ''; z-index: 2; }

.shoe:before { width: 1.73vw; height: 0.7vw; top: 0.35vw; right: 0vw; background: #3a3c3b; border-top-left-radius: 0.7vw; }
.shoe:after { width: 0.35vw; height: 1.03vw; top: 0; right: 0vw; background: #777278; border-top-right-radius: 0vw; border-bottom-right-radius: 0vw; }

.shoe-bottom { position: absolute; bottom: 0; right: 0; width: 100%; height: 0.35vw; background: #232426; }
.shoe-inner { position: absolute; top: 0.35vw; right: 0.7vw; width: 0; height: 0; border-style: solid; border-width: 0.7vw 0 1.38vw 1.03vw; border-color: transparent transparent transparent #242527; transform: rotate(58deg); }
