/* ------------------------------------------------------------ *\
	Quantity
\* ------------------------------------------------------------ */

.quantity { display: flex; }

.quantity .quantity__btn { cursor: pointer; outline: none; }
.quantity .quantity__value { display: none; }

.quantity.is--animating .quantity__btn { pointer-events: none; }

/* ------------------------------------------------------------ *\
	Quantity 1
\* ------------------------------------------------------------ */

.quantity--1 { min-width: 120px; }

.quantity--1 .quantity__input { width: 48px; height: 36px; padding: 0 10px; border: 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; border-radius: 0; font-size: 24px; color: $title; text-align: center; }

.quantity--1 .quantity__btn { flex: 0 0 36px; max-width: 36px; height: 36px; border: 0; position: relative; transition: background-color .3s; }

.quantity--1 .quantity__btn:before,
.quantity--1 .quantity__btn:after { content: ''; background-color: $white; position: absolute; left: 50%; top: 50%; }

.quantity--1 .quantity__btn:before { width: 18px; height: 2px; margin-left: -9px; margin-top: -1px; }
.quantity--1 .quantity__btn:after { width: 2px; height: 18px; margin-left: -1px; margin-top: -9px; }

.quantity--1 .quantity__btn--decrement { background-color: $brand; border-radius: 4px 0 0 4px; }
.quantity--1 .quantity__btn--decrement:after { display: none; }
.quantity--1 .quantity__btn--decrement:hover { background-color: color($brand shade(10%)); }

.quantity--1 .quantity__btn--increment { background-color: $green; border-radius: 0 4px 4px 0; }
.quantity--1 .quantity__btn--increment:hover { background-color: color($green shade(10%)); }

/* ------------------------------------------------------------ *\
	Quantity 2
\* ------------------------------------------------------------ */

.quantity--2 { min-width: 156px; }

.quantity--2 .quantity__input { width: 64px; height: 36px; padding: 0 10px; border: 1px solid #ddd; border-radius: 0; font-size: 24px; color: $title; text-align: center; }

.quantity--2 .quantity__btn { flex: 0 0 36px; max-width: 36px; height: 36px; margin-left: 10px; border: 0; border-radius: 50%; position: relative; transition: opacity .3s;
	background: rgb(224,224,224);
	background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(155,155,155,1) 100%);
	background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(155,155,155,1) 100%);
	background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(155,155,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#9b9b9b',GradientType=0 );
}

.quantity--2 .quantity__btn:hover { opacity: .75; }

.quantity--2 .quantity__btn:before,
.quantity--2 .quantity__btn:after { content: ''; background-color: $white; position: absolute; left: 50%; top: 50%; }

.quantity--2 .quantity__btn:before { width: 18px; height: 2px; margin-left: -9px; margin-top: -1px; }
.quantity--2 .quantity__btn:after { width: 2px; height: 18px; margin-left: -1px; margin-top: -9px; }

.quantity--2 .quantity__btn--decrement:after { display: none; }

/* ------------------------------------------------------------ *\
	Quantity 3
\* ------------------------------------------------------------ */

.quantity--3 { min-width: 96px; }

.quantity--3 .quantity__field { flex: 0 0 64px; border: 1px solid #ddd; position: relative; overflow: hidden; }

.quantity--3 .quantity__value { display: block; width: 100%; height: 100%; background-color: $white; font-size: 24px; color: $title; text-align: center; line-height: 1.42; position: absolute; left: 0; top: 0; }
.quantity--3 .quantity__value--old { z-index: 2; }
.quantity--3 .quantity__value--new { z-index: 1; }

.quantity--3 .quantity__input { width: 64px; height: 34px; padding: 0 10px; border: 0; border-radius: 0; font-size: 0; color: $title; text-align: center; }

.quantity--3 .quantity__btn { flex: 0 0 32px; max-width: 32px; height: 18px; text-align: center; border: 0; border-radius: 0; position: relative; transition: opacity .3s; 
	background: rgb(224,224,224);
	background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(155,155,155,1) 100%);
	background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(155,155,155,1) 100%);
	background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(155,155,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#9b9b9b',GradientType=0 );
}

.quantity--3 .quantity__btn:hover { opacity: .75; }

.quantity--3 .quantity__btn:before,
.quantity--3 .quantity__btn:after { content: ''; background-color: $white; position: absolute; left: 50%; top: 50%; }

.quantity--3 .quantity__btn:before { width: 12px; height: 2px; margin-left: -6px; margin-top: -1px; }
.quantity--3 .quantity__btn:after { width: 2px; height: 12px; margin-left: -1px; margin-top: -6px; }

.quantity--3 .quantity__btn--decrement:after { display: none; }

.quantity--3 .quantity__btn--increment { margin: 18px 0 0 -32px; }

.quantity--3.is--animating-up .quantity__value,
.quantity--3.is--animating-down .quantity__value { transition: transform .3s; }

.quantity--3.is--animating-up .quantity__value { transform: translate(0, -100%); }
.quantity--3.is--animating-down .quantity__value { transform: translate(0, 100%); }
