/* ------------------------------------------------------------ *\
	Canvas
\* ------------------------------------------------------------ */

.canvas { width: 300px; height: 240px; }
.canvas .block { width: 20px; height: 20px; margin-left: -20px; }
.canvas .block {
	box-shadow:
	40px 0 0 $brand, 60px 0 0 $brand, 80px 0 0 $brand, 240px 0 0 $dark, 260px 0 0 $dark, 280px 0 0 $dark,
	40px 20px 0 $brand, 60px 20px 0 $brand, 80px 20px 0 $brand, 100px 20px 0 $brand, 220px 20px 0 $dark, 240px 20px 0 $dark, 260px 20px 0 $dark, 280px 20px 0 $dark,
	60px 40px 0 $brand, 80px 40px 0 $brand, 100px 40px 0 $brand, 120px 40px 0 $brand, 200px 40px 0 $dark, 220px 40px 0 $dark, 240px 40px 0 $dark, 260px 40px 0 $dark,
	80px 60px 0 $brand, 100px 60px 0 $brand, 120px 60px 0 $brand, 140px 60px 0 $brand, 180px 60px 0 $dark, 200px 60px 0 $dark, 220px 60px 0 $dark, 240px 60px 0 $dark,
	100px 80px 0 $brand, 120px 80px 0 $brand, 140px 80px 0 $brand, 160px 80px 0 $brand, 160px 80px 0 $dark, 180px 80px 0 $dark, 200px 80px 0 $dark, 220px 80px 0 $dark,
	120px 100px 0 $brand, 140px 100px 0 $brand, 160px 100px 0 $brand, 180px 100px 0 $brand, 190px 100px 0 $dark, 180px 100px 0 $dark, 200px 100px 0 $dark,
	140px 120px 0 $brand, 160px 120px 0 $brand, 180px 120px 0 $brand, 200px 120px 0 $brand,
	100px 140px 0 $dark, 80px 140px 0 $dark, 60px 140px 0 $dark, 160px 140px 0 $shadow, 180px 140px 0 $shadow, 200px 140px 0 $brand, 220px 140px 0 $brand,
	120px 160px 0 $dark, 100px 160px 0 $dark, 80px 160px 0 $dark, 180px 160px 0 $shadow, 200px 160px 0 $shadow, 220px 160px 0 $brand, 240px 160px 0 $brand,
	140px 180px 0 $dark, 120px 180px 0 $dark, 100px 180px 0 $dark, 200px 180px 0 $shadow, 220px 180px 0 $shadow, 240px 180px 0 $brand, 260px 180px 0 $brand,
	160px 200px 0 $dark, 140px 200px 0 $dark, 120px 200px 0 $dark, 220px 200px 0 $brand, 240px 200px 0 $brand, 260px 200px 0 $brand, 280px 200px 0 $brand,
	180px 220px 0 $dark, 160px 220px 0 $dark, 140px 220px 0 $dark, 240px 220px 0 $brand, 260px 220px 0 $brand, 280px 220px 0 $brand, 280px 220px 0 $brand;
}
