/* ------------------------------------------------------------ *\
	Loader
\* ------------------------------------------------------------ */

.loader {
	flex: 0 0 100%;
	width: 100%;
	display: block;

	.loader__bar {
		width: 100%;
		height: 20px;
		position: relative;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 50px;

		span {
			display: block;
			height: 100%;
			width: 20%;
			border-radius: 20px 8px 8px 20px;
			background-color: #2bc253;
			box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
			position: relative;
			overflow: hidden;
			transition: width 0.35s;
		}
	}

	/*  Loader Candys  */
	&--candys {
		.loader__bar {
			span {
				&:after {
					content: '';
					background-image: linear-gradient(
						-45deg,
						rgba(255, 255, 255, 0.2) 25%,
						transparent 25%,
						transparent 50%,
						rgba(255, 255, 255, 0.2) 50%,
						rgba(255, 255, 255, 0.2) 75%,
						transparent 75%,
						transparent
					);
					background-size: 50px 50px;
					border-radius: 20px 8px;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 1;
					overflow: hidden;
					animation: progress 2.5s linear infinite;
				}
			}
		}
	}

	/*  Loader Warning  */
	&--warning {
		.loader__bar {
			span {
				background-color: #f1a165;
				width: 45%;
			}
		}
	}

	/*  Loader Danger  */
	&--danger {
		.loader__bar {
			span {
				background-color: #f0a3a3;
				width: 65%;
			}
		}
	}

	/*  Loader Animated  */
	&--animated {
		.loader__bar {
			span {
				animation: progressWidth 3.5s linear infinite;
			}
		}
	}

	/*  Loader Gradient  */
	&--gradient {
		.loader__bar {
			span {
				display: block;
				width: 100%;
				border-radius: 20px;
				background: linear-gradient(
					to right,
					$purple,
					$blue,
					$green,
					$yellow,
					$orange,
					$red,
					$purple,
					$blue,
					$green,
					$yellow,
					$orange,
					$red,
					$purple
				);
				background-size: 200%;
				z-index: 1;
				background-position: 0 0;
				animation: 2s linear infinite gradientColors;
			}
		}
	}

	/*  Loader Zig- Zag  */
	&--zig-zag {
		.loader__bar {
			span {
				background-image: url(../images/temp/zig-zag.svg);
				transition: all 2.5s;
			}
		}

		&:hover {
			.loader__bar {
				span {
					width: 100%;
					border-radius: 20px;
				}
			}
		}
	}

	/*  Loader Dots  */
	&--anchors {
		.loader__bar {
			span {
				width: 45%;
				background-image: url(../images/temp/anchors.svg);
				background-color: $blue;
				transition: all 2.5s;
			}
		}

		&:hover {
			.loader__bar {
				span {
					width: 100%;
					border-radius: 20px;
				}
			}
		}
	}

	/*  Loader Stripes  */
	&--stripes {
		.loader__bar {
			span {
				width: 65%;
				background-image: url(../images/temp/stripes.svg);
				background-color: $pink;
				background-size: 20px auto;
				transition: all 2.5s;
			}
		}

		&:hover {
			.loader__bar {
				span {
					width: 100%;
					border-radius: 20px;
				}
			}
		}
	}

	/*  Loader Bar Stepped  */
	&--stepped {
		.loader__bar {
			max-width: 200px;
			height: auto;
			background: none;
			margin: auto;
		}

		.loader__bar-percents {
			width: 100%;
			height: 50%;
			border-bottom: 1px solid $grey;
			position: absolute;
			z-index: -1;
			background: none;
		}

		.loader__bar-percent {
			width: 0;
			height: 100%;
			border-bottom: 1px solid $dark-pink;
			z-index: 1;
			transition: width 1s;
		}

		.loader__bar-steps {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.loader__bar-step {
			background-color: #f4f4f4;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 2px solid $pink;
			transition: background-color 0.35s, border-color 0.35s;

			&.selected {
				border-color: $dark-pink;
			}

			&.completed {
				border-color: $dark-pink;
				background-color: $dark-pink;
			}

			&:hover {
				border-color: $dark-pink;
			}
		}
	}

	/*  Loader Sticky  */
	&--sticky {
		height: 90%;
		overflow: auto;
		position: relative;

		&:before {
			content: '';
			display: block;
			background: linear-gradient(to right top, $green 0%, $blue 50%, $grey 50%);
			height: calc(100% + 6px);
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:after {
			content: '';
			display: block;
			background: #e6f0f5;
			height: calc(100% - 6px);
			width: 100%;
			position: sticky;
			bottom: 0;
			left: 0;
		}

		.loader__entry {
			position: relative;
			z-index: 1;
		}
	}

	/*  Loader Gif  */
	&--gif {
		.loader__bar {
			span {
				width: 0;
				border-radius: 20px;
				background-color: $blue;
				transition: all 4s;

				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
					mix-blend-mode: overlay;
					opacity: 0.5;
				}
			}
		}

		.loader__text {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;
			margin-top: 10px;
		}

		&:hover {
			.loader__bar {
				span {
					border-width: 20px;
					width: 100%;
				}
			}
		}
	}

	@keyframes progress {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 50px 50px;
		}
	}

	@keyframes progressWidth {
		0% {
			width: 0;
		}

		100% {
			width: 100%;
		}

		100% {
			width: 100%;
		}
		0% {
			width: 0;
		}
	}

	@keyframes gradientColors {
		0% {
			background-position: 100% 0;
		}
		100% {
			background-position: 0 0;
		}
	}
}
