// ----- Variables -----

/*  Colors  */

$grey: rgba(0, 0, 0, 0.15);
$red: #ff6666;
$dark-red: #ff3333;
$orange: #ff8533;
$dark-orange: #ff6600;
$yellow: #ffff66;
$dark-yellow: #ffff1a;
$green: #8ccf88;
$dark-green: #7bbc77;
$blue: #7ebdf2;
$dark-blue: #7e8cf2;
$purple: #d07ef2;
$dark-purple: #d07ef2;
$pink: #f27eaa;
$dark-pink: #e3709c;
