/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */


body { background: transparent; font-family: $font-family-sans-serif; font-size: $font-size-base; line-height: $line-height-base; color: #000; letter-spacing: .0715em; }

a { color: inherit; text-decoration: underline; }

a:hover,
a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: calc($(line-height-base)em / 2); }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: $(line-height-base)em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }


html.effect-preview body,
html.effect-preview { cursor: pointer; overflow: hidden; }

html.effect-preview .sample { background: #fff; width: 100%; padding: 0; height: 100vh; margin: 0; }
html.effect-preview .sample__title { display: none; }
