/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Underline Merging
\* ------------------------------------------------------------ */

.link--example-1:before,
.link--example-1:after { position: absolute; bottom: 0; width: 55%; height: 2px; background-color: #f2857e; transition: transform .4s; content: ''; transform: scaleX(0); }

.link--example-1:before { left: 0; transform-origin: 0 0; }
.link--example-1:after { right: 0; transform-origin: 100% 0; }

.link--example-1:hover:before,
.link--example-1:hover:after { transform: none; }

/* ------------------------------------------------------------ *\
	Link Underline Merging Reverse
\* ------------------------------------------------------------ */

.link--example-2:before,
.link--example-2:after { position: absolute; bottom: 0; width: 51%; height: 2px; background-color: #f2857e; transition: transform .4s; content: ''; }

.link--example-2:before { left: 0; transform-origin: 0 0; }
.link--example-2:after { right: 0; transform-origin: 100% 0; }

.link--example-2:hover:before,
.link--example-2:hover:after { transform: scaleX(0); }

/* ------------------------------------------------------------ *\
	Link Arrow
\* ------------------------------------------------------------ */

.link--example-3 { padding-left: 5px; padding-right: 12px; text-transform: capitalize; transition: color .2s; }

.link--example-3:before { position: absolute; top: 100%; left: 0; right: 0; height: 2px; background-color: #f2857e; content: ''; transition: transform .2s; transform: scaleX(0); transform-origin: 0 0; }
.link--example-3:after { position: absolute; right: 0; top: 50%; width: 8px; height: 8px; border-top: 2px solid #f2857e; border-right: 2px solid #f2857e; transform: translateY(-50%) translateX(-5px) rotate(45deg); transition: opacity .2s .1s, transform .2s .1s; content: ''; margin-top: -1px; opacity: 0; }

.link--example-3:hover { color: #f2857e; }

.link--example-3:hover:after { transform: translateY(-50%) translateX(0px) rotate(45deg); opacity: 1; }
.link--example-3:hover:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link Double Underline
\* ------------------------------------------------------------ */

.link--example-4:before,
.link--example-4:after { content: ''; position: absolute; left: 0; right: 0; top: 100%; transform: scaleX(0); height: 2px; background-color: #f2857e; transition: transform .5s; }

.link--example-4:before { transform-origin: 100% 0; }
.link--example-4:after { margin-top: 2px; transform-origin: 0 100%; }

.link--example-4:hover:before,
.link--example-4:hover:after { transform: none; }

.link--example-4:hover:before { transform-origin: 0 100%; }
.link--example-4:hover:after { transform-origin: 100% 0; }

/* ------------------------------------------------------------ *\
	Link Swap Collors
\* ------------------------------------------------------------ */

.link--example-5 { color: #000; transition: color .4s; }

.link--example-5:before,
.link--example-5:after { content: ''; position: absolute; bottom: -2px; left: 0; display: block; height: 2px; transition: width .4s; }

.link--example-5:before { width: 100%; background-color: #f2857e; }
.link--example-5:after { width: 0; background-color: #000; }

.link--example-5:hover { color: #f2857e; }
.link--example-5:hover:after { width: 100%; }

/* ------------------------------------------------------------ *\
	Link Loading
\* ------------------------------------------------------------ */

.link--example-6:before{ content: ''; position: absolute; left: 0; bottom: -3px; height: 1px; width: 100%; background-color: #000; transition:all 0.3s ease 0s; }
.link--example-6:after{ content: ''; position: absolute; left: 0; bottom: -4px; height: 3px; width: 30%; background-color: #f2857e; transition:all 0.3s ease 0s; }

.link--example-6:hover { color: #f2857e; }
.link--example-6:hover:after{ width: 100%; }
