/* ------------------------------------------------------------ *\
	Keyframes
\* ------------------------------------------------------------ */

@keyframes flowingUnderline {
	0% {
		transform: scaleX(0);
		transform-origin: 0 0;
	}

	30% {
		transform: scaleX(1);
		transform-origin: 0 0;
	}

	30.01% {
		transform-origin: 100% 0;
		transform: scaleX(1);
	}

	60% {
		transform: scaleX(0);
		transform-origin: 100% 0;

	}

	100% {
		transform: scaleX(0);
		transform-origin: 100% 0;
	}
}

@keyframes heartbeat {
  0% {
  	transform: scale(1);
  }

  10% {
  	transform: scale(1.1);
  }

  20% {
  	transform: scale(1);
  }

  30% {
  	transform: scale(1.1);
  }

  40% {
  	transform: scale(1);
  }
}

@keyframes heartbeat-x {
  0% {
  	transform: scaleX(0);
  }

  10% {
  	transform: scaleX(1);
  }

  20% {
  	transform: scaleX(0);
  }

  30% {
  	transform: scaleX(1);
  }

  40% {
  	transform: scaleX(0);
  }
}