/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Bordered Background
\* ------------------------------------------------------------ */

.link--example-1 { padding: 5px; }

.link--example-1 span { position: relative; padding: 6px; }

.link--example-1:before { content: ''; position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 0%; background: linear-gradient(to right, rgba(242,133,126,1) 0%, rgba(242,133,126,0.2) 100%); transition: width .3s; }

.link--example-1:hover:before { width: 100%; }

/* ------------------------------------------------------------ *\
	Link Border and Background
\* ------------------------------------------------------------ */

.link--example-2 { padding: 4px; overflow: hidden; }

.link--example-2 span { position: relative; z-index: 1; }

.link--example-2:before,
.link--example-2:after { content: ""; position: absolute; bottom: 0; left: 0; z-index: 0; width: 100%; height: 3px; background-color: #f2857e; transition: all 0.3s ease; }

.link--example-2:after { bottom: 100%; height: 100%; }

.link--example-2:hover { color: #fff; }

.link--example-2:hover:before { width: 0; }
.link--example-2:hover:after { bottom: 0; }

/* ------------------------------------------------------------ *\
	Link Chess
\* ------------------------------------------------------------ */

.link--example-3 { z-index: 1; padding: 4px; overflow: hidden; }

.link--example-3:before,
.link--example-3:after,
.link--example-3 span:before,
.link--example-3 span:after{ content: ""; position: absolute; top: -20%; left: -5%; z-index: -1; transform: scale(0,1); transform-origin: 100% 0; width: 57%; height: 75%; background-color: #E37D76; transition: all .25s ease-out; }

.link--example-3:after{ right: -5%; left: auto; background-color: #F49B95; transform-origin: 50% 100%; transform: scale(1,0); transition: all .3s ease-out; }

.link--example-3 span:before{ top: auto; bottom: -25%; transform-origin: 50% 0; transform: scale(1,0); background-color: #F49B95; transition:all .3s ease-out; }
.link--example-3 span:after{ top: auto; left: auto; right: -5%; bottom: -25%; transform-origin: 0 50%; transform: scale(0,1); }

.link--example-3:hover:before,
.link--example-3:hover:after,
.link--example-3:hover span:before,
.link--example-3:hover span:after{ transform: scale(1,1); }

.link--example-3:hover { color: #fff; }
