/* ------------------------------------------------------------ *\
	Loaders
\* ------------------------------------------------------------ */

/*  Progress  */

.loader--progress { display: flex; width: 137px; height: 26px; }
.loader--progress div { width: 11px; background-color: rgba(0, 0, 0, .15); position: relative; }
.loader--progress div ~ div { margin-left: 3px; }

.loader--progress .loader__bar { position: relative; overflow: hidden; }
.loader--progress .loader__bar:before { content: ''; width: 100%; height: 100%; background-color: $brand; position: absolute; left: 0; top: 0; opacity: 0; }
.loader--progress .loader__bar--1:before { animation-delay: 0s; animation: fillOneOfTen 5s infinite; }
.loader--progress .loader__bar--2:before { animation-delay: .5s; animation: fillTwoOfTen 5s infinite; }
.loader--progress .loader__bar--3:before { animation-delay: 1s; animation: fillThreeOfTen 5s infinite; }
.loader--progress .loader__bar--4:before { animation-delay: 1.5s; animation: fillFourOfTen 5s infinite; }
.loader--progress .loader__bar--5:before { animation-delay: 2s; animation: fillFiveOfTen 5s infinite; }
.loader--progress .loader__bar--6:before { animation-delay: 2.5s; animation: fillSixOfTen 5s infinite; }
.loader--progress .loader__bar--7:before { animation-delay: 3s; animation: fillSevenOfTen 5s infinite; }
.loader--progress .loader__bar--8:before { animation-delay: 3.5s; animation: fillEightOfTen 5s infinite; }
.loader--progress .loader__bar--9:before { animation-delay: 4s; animation: fillNineOfTen 5s infinite; }
.loader--progress .loader__bar--10:before { animation-delay: 4.5s; animation: fillTenOfTen 5s infinite; }

/*  Text  */

.loader--text { width: 300px; display: flex; align-items: center; justify-content: center; position: relative; }

.loader--text .loader__text { width: 20px; height: 28px; font-weight: 700; color: $purple; text-align: center; position: absolute; opacity: 0; transform: rotate(180deg); animation: flyText 2s linear infinite; }

.loader--text .loader__text--1 { animation-delay: .6s; }
.loader--text .loader__text--2 { animation-delay: .5s; }
.loader--text .loader__text--3 { animation-delay: .4s; }
.loader--text .loader__text--4 { animation-delay: .3s; }
.loader--text .loader__text--5 { animation-delay: .2s; }
.loader--text .loader__text--6 { animation-delay: .1s; }
.loader--text .loader__text--7 { animation-delay: 0s; }

/*  Rotating Dots  */

.loader--rotating-dots { width: 44px; height: 8px; margin: 12px auto; position: relative; }

.loader--rotating-dots .loader__dot { width: 8px; height: 8px; border-radius: 8px; background-color: rgba(0, 0, 0, .15); position: absolute; }
.loader--rotating-dots .loader__dot--1 { background-color: $blue; left: 12px; animation: animateDot1 1.5s linear infinite; }
.loader--rotating-dots .loader__dot--2 { left: 24px; animation: animateDot2 1.5s linear infinite; animation-delay: .5s; }
.loader--rotating-dots .loader__dot--3 { left: 12px; animation: animateDot3 1.5s linear infinite; }
.loader--rotating-dots .loader__dot--4 { left: 24px; animation: animateDot4 1.5s linear infinite; animation-delay: .5s; }

/*  Bubbles  */

.loader--bubbles { display: flex; align-items: center; justify-content: center; position: relative; }

.loader--bubbles .loader__bubble { width: 14px; height: 14px; margin: 0 5px; border: 2px solid $green; border-radius: 50%; transform: scale(0); animation: scaleIn 1s ease infinite; }
.loader--bubbles .loader__bubble--2 { animation-delay: .3s; }
.loader--bubbles .loader__bubble--3 { animation-delay: .6s; }

/*  GPS  */

.loader--gps { width: 32px; height: 32px; position: relative; }
.loader--gps:before { content: ''; width: 32px; height: 32px; border: 0 solid $brand; border-radius: 50%; animation: gpsPulse 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1); position: absolute; left: 0; top: 0; }
.loader--gps:after { content: 'Loading...'; margin-top: 10px; color: $brand; letter-spacing: .1em; position: absolute; left: 50%; top: 100%; transform: translate(-50%, 0); animation: gpsPulseLabel 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1); white-space: nowrap; }

/*  Windows  */

.loader--windows { display: flex; align-items: center; justify-content: center; padding: 0 60px; position: relative; }

.loader--windows .loader__dot { flex: 0 0 12px; max-width: 12px; height: 12px; margin: 0 4px; background-color: $purple; border-radius: 50%; animation: loaderDots 3s infinite ease-in-out; }
.loader--windows .loader__dot--1 { animation-delay: .5s; }
.loader--windows .loader__dot--2 { animation-delay: .4s; }
.loader--windows .loader__dot--3 { animation-delay: .3s; }
.loader--windows .loader__dot--4 { animation-delay: .2s; }
.loader--windows .loader__dot--5 { animation-delay: .1s; }

/*  Bounce Ball  */

.loader--bounce-ball { display: flex; align-items: flex-end; justify-content: center; }

.loader--bounce-ball .loader__text { margin-left: 15px; color: $blue; text-transform: uppercase; }
.loader--bounce-ball .loader__ball { width: 16px; height: 40px; position: relative; top: -2px; }
.loader--bounce-ball .loader__ball:before { content: ''; width: 16px; height: 16px; background-color: $blue; border-radius: 50%; position: absolute; left: 0; top: 0; animation: bounceBall .5s alternate infinite ease; }

/*  Planets  */

.loader--planets { width: 16px; height: 16px; border-radius: 50%; background-color: $brand; position: relative; }

.loader--planets:before,
.loader--planets:after { content: ''; border-radius: 50%; position: absolute; }

.loader--planets:before { width: 9px; height: 9px; background-color: $green; left: -20px; top: -15px; transform-origin: 30px 20px; animation: planetAxis 2s linear infinite; }
.loader--planets:after { width: 6px; height: 6px; background-color: $blue; left: -5px; top: -5px; transform-origin: 20px 15px; animation: planetAxis 1s linear infinite; }

/*  Drip  */

.loader--drip { width: 200px; height: 250px; display: flex; flex-wrap: wrap; justify-content: center; margin: auto; position: relative; }
.loader--drip:before { content: ''; width: 15px; height: 15px; background-color: $green; border-radius: 50%; opacity: 0; animation: drip 2.5s ease infinite; position: absolute; left: 92.5px; top: 0; }
.loader--drip:after { content: ''; width: 0px; height: 0px; border: solid 4px $green; border-radius: 50%; opacity: 0; animation: splash 2.5s ease infinite; position: absolute; bottom: 0; left: 0; }

/*  Stairs  */

.loader--stairs { width: 75px; height: 100px; position: relative; }

.loader--stairs .loader__bar { width: 10px; height: 50%; background-color: $purple; transform-origin: center bottom; position: absolute; bottom: 0; }
.loader--stairs .loader__bar--1 { left: 0; transform: scale(1, .2); animation: barUp1 4s infinite; }
.loader--stairs .loader__bar--2 { left: 15px; transform: scale(1, .4); animation: barUp2 4s infinite; }
.loader--stairs .loader__bar--3 { left: 30px; transform: scale(1, .6); animation: barUp3 4s infinite; }
.loader--stairs .loader__bar--4 { left: 45px; transform: scale(1, .8); animation: barUp4 4s infinite; }
.loader--stairs .loader__bar--5 { left: 60px; transform: scale(1, 1); animation: barUp5 4s infinite; }

.loader--stairs .loader__ball { width: 10px; height: 10px; background-color: $purple; border-radius: 50%; position: absolute; left: 0; bottom: 10px; animation: ballMove 4s infinite; }

/*  Material  */

.loader--material .loader__spinner { animation: materialRotate 1.4s linear infinite; }
.loader--material .path { stroke-dasharray: 187; stroke-dashoffset: 0; transform-origin: center; animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

/*  Infinity  */

.loader--infinity #outline { stroke: $green; stroke-dasharray: 2.42777px, 242.77666px; stroke-dashoffset: 0; animation: infinityLoader 1.6s linear infinite; }
.loader--infinity #outline-bg { stroke: rgba(0, 0, 0, .05); }
