/* ------------------------------------------------------------ *\
	Burger
\* ------------------------------------------------------------ */

.burger { display: inline-block; height: 40px; width: 50px; }
.burger input { position: absolute; opacity: 0; }
.burger label { display: block; height: 100%; position: relative; }
.burger span { display: block; }

.burger span,
.burger label:after,
.burger label:before { position: absolute; left: 0; height: 8px; width: 100%; background: $brand; border-radius: 4px; }

.burger label:after,
.burger label:before  { content: ''; }

.burger span { top: 16px; }
.burger label:before { top: 0; }
.burger label:after { top: 32px; }


/*  Burger animation1  */

.burger--anim1 label:before,
.burger--anim1 label:after,
.burger--anim1 label span { transition: background $t, top $t, opacity $t, transform $t $d; transition: top $t $d, opacity $t $d, transform $t 0s; }

.burger--anim1 input:checked ~ label:before,
.burger--anim1 input:checked ~ label:after,
.burger--anim1 input:checked ~ label span { transition: background $t, top $t, opacity $t, transform $t $d; }

.burger--anim1 input:checked ~ label:before,
.burger--anim1 input:checked ~ label:after { top: 16px; }

.burger--anim1 input:checked ~ label span { opacity: 0; }

.burger--anim1 input:checked ~ label:before { transform: rotate(45deg); }
.burger--anim1 input:checked ~ label:after { transform: rotate(-45deg); }

/*  Burger animation2  */

.burger--anim2 label:before,
.burger--anim2 label:after,
.burger--anim2 label span { background: $light-blue; transition: top $t2, transform $t2, opacity $t2; }

.burger--anim2 input:checked ~ label:before,
.burger--anim2 input:checked ~ label:after { top: 16px; }

.burger--anim2 input:checked ~ label span { opacity: 0; }

.burger--anim2 input:checked ~ label:before { transform: rotate(45deg); }
.burger--anim2 input:checked ~ label:after { transform: rotate(-45deg); }

/*  Burger animation3  */

.burger--anim3 label:before,
.burger--anim3 label:after,
.burger--anim3 label span { background: $purple; transition: top $t 0s, transform $t 0s, opacity $t2 $d; }

.burger--anim3 input:checked ~ label:before,
.burger--anim3 input:checked ~ label:after { top: 16px; transition-delay: $d; }

.burger--anim3 input:checked ~ label span { opacity: 0; transition-delay: 0s; }

.burger--anim3 input:checked ~ label:before { transform: rotate(45deg); }
.burger--anim3 input:checked ~ label:after { transform: rotate(-45deg); }


/*  Burger animation4  */

.burger--anim4 label { transition: transform $t 0s; }
.burger--anim4 label:before,
.burger--anim4 label:after,
.burger--anim4 label span { background: $green; transition: width $t $d, transform $t 0s, top $t 0s; }

.burger--anim4 input:checked ~ label { transform: rotate(45deg); transition-delay: $d; }

.burger--anim4 input:checked ~ label:before,
.burger--anim4 input:checked ~ label:after { top: 16px; transition-delay: $d; }

.burger--anim4 input:checked ~ label span { width: 0; transition-delay: 0s; }

.burger--anim4 input:checked ~ label:before { transform: rotate(90deg); }


/*  Burger animation5  */


.burger--anim5 .cross:before,
.burger--anim5 .cross:after,
.burger--anim5 label:before,
.burger--anim5 label:after,
.burger--anim5 label span { background: $dark-green; transition: transform $t $d; }

.burger--anim5 .cross { display: block; width: 100%; height: 100%; transform: scaleX(0); transition: transform $t 0s; }
.burger--anim5 .cross:before,
.burger--anim5 .cross:after { content: ''; position: absolute; top: 16px; left: 0; width: 100%; height: 8px; border-radius: 4px; }

.burger--anim5 .cross:before { transform: rotate(45deg); }
.burger--anim5 .cross:after { transform: rotate(-45deg); }

.effect-preview:hover .burger--anim5 label .cross,
.burger--anim5 input:checked ~ label .cross { transform: scaleX(1); transition-delay: $d; }

.effect-preview:hover .burger--anim5 label:before,
.effect-preview:hover .burger--anim5 label:after,
.effect-preview:hover .burger--anim5 label span,
.burger--anim5 input:checked ~ label:before,
.burger--anim5 input:checked ~ label:after,
.burger--anim5 input:checked ~ label span { transform: scaleX(0); transition-delay: 0s; }

/*  Burger animation6  */

.burger--anim6 .cross:before,
.burger--anim6 .cross:after,
.burger--anim6 label:before,
.burger--anim6 label:after,
.burger--anim6 label span { background: $brand; transition: transform $t $d; }

.burger--anim6 label:before,
.burger--anim6 label:after,
.burger--anim6 label span { transform-origin: 0 center; }

.burger--anim6 .cross:before,
.burger--anim6 .cross:after { content: ''; position: absolute; top: 16px; left: 0; width: 100%; height: 8px; border-radius: 4px; transition-delay: 0s; }

.burger--anim6 .cross:before { transform: scale(0) rotate(45deg); }
.burger--anim6 .cross:after { transform: scale(0) rotate(-45deg); }

.burger--anim6 input:checked ~ label:before,
.burger--anim6 input:checked ~ label:after,
.burger--anim6 input:checked ~ label span { transform: scaleX(0); }

.burger--anim6 input:checked ~ label:before { transition-delay: .1s; }
.burger--anim6 input:checked ~ label span { transition-delay: .2s; }
.burger--anim6 input:checked ~ label:after { transition-delay: .3s; }

.burger--anim6 input:checked ~ label .cross:before,
.burger--anim6 input:checked ~ label .cross:after { transition-delay: .5s; }

.burger--anim6 input:checked ~ label .cross:before { transform: scale(1) rotate(45deg); }
.burger--anim6 input:checked ~ label .cross:after { transform: scale(1) rotate(-45deg); }
