$font-family-sans-serif     : Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
$font-family-serif          : Times, 'Times New Roman', serif;

$font-size-base             : 14px;
$line-height-base           : 1.3;

$shell-max-width            : 1200px;
$shell-gutter               : 10px;

$responsive-xxs             : 374px;
$responsive-xs              : 767px;
$responsive-sm              : 1023px;
$responsive-md              : 1200px;

$breakpoint-mobile-portrait : @media (max-width: $responsive-xxs);
$breakpoint-mobile          : @media (max-width: $responsive-xs);
$breakpoint-tablet-portrait : @media (max-width: $responsive-sm);
$breakpoint-small-desktop   : @media (max-width: $responsive-md);
$retina                     : @media (min-resolution: 2dppx);

$brand: #f2857e;
$light-blue: #7ebdf2;
$blue: #7e8cf2;
$purple: #d07ef2;
$pink: #e3709c;
$green: #8ccf88;
$dark-green: #7bbc77;

$t: .2s;
$d: .25s;
$t2: .3s;
