/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

.dropdown { position: relative; }

.dropdown .dropdown__toggle { display: block; padding: 10px 0; text-decoration: none; transition: color .3s; position: relative; z-index: 100; }
.dropdown .dropdown__toggle:after { content: ''; display: inline-block; vertical-align: middle; width: 0; height: 0; margin-left: 10px; border-style: solid; border-width: 5px 5px 0 6px; border-color: $black transparent transparent transparent; position: relative; top: -1px; transition: border-color .3s, transform .3s; }

.dropdown .dropdown__menu { min-width: 240px; margin: 0; padding: 0; color: $white; text-align: left; list-style: none; position: absolute; left: 0; top: 100%; z-index: 99; }
.dropdown .dropdown__menu a { display: block; text-decoration: none; }
.dropdown .dropdown__menu > li { border-top: 1px solid rgba(0,0,0,.1); background-color: $brand; }
.dropdown .dropdown__menu > li:first-child { border-top: 0; }
.dropdown .dropdown__menu > li > a { padding: 15px; transition: background-color .3s; }
.dropdown .dropdown__menu > li > a:hover { background-color: rgba(0,0,0,.1); }

.effect-preview .sample:hover .dropdown .dropdown__toggle,
.dropdown:hover .dropdown__toggle { color: $brand; outline: none; }

.effect-preview .sample:hover .dropdown .dropdown__toggle:after,
.dropdown:hover .dropdown__toggle:after { border-top-color: $brand; transform: scaleY(-1); }

/* ------------------------------------------------------------ *\
	Dropdown Example 1
\* ------------------------------------------------------------ */

.dropdown--example-1 .dropdown__menu { opacity: 0; visibility: hidden; transition: opacity .3s, visibility .3s; }

.effect-preview .sample:hover .dropdown--example-1 .dropdown__menu,
.dropdown--example-1:hover .dropdown__menu { opacity: 1; visibility: visible; }

/* ------------------------------------------------------------ *\
	Dropdown Example 2
\* ------------------------------------------------------------ */

.dropdown--example-2 .dropdown__menu { pointer-events: none; perspective: 400px; }
.dropdown--example-2 .dropdown__menu > li { opacity: 0; transform: rotateY(90deg); transition: opacity .3s, transform .3s; }
.dropdown--example-2 .dropdown__menu > li:nth-child(1) { transition-delay: .25s; }
.dropdown--example-2 .dropdown__menu > li:nth-child(2) { transition-delay: .2s; }
.dropdown--example-2 .dropdown__menu > li:nth-child(3) { transition-delay: .15s; }
.dropdown--example-2 .dropdown__menu > li:nth-child(4) { transition-delay: .1s; }
.dropdown--example-2 .dropdown__menu > li:nth-child(5) { transition-delay: .05s; }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu,
.dropdown--example-2:hover .dropdown__menu { pointer-events: auto; }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu > li,
.dropdown--example-2:hover .dropdown__menu > li { opacity: 1; transform: rotateY(0deg); }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu > li:nth-child(1),
.dropdown--example-2:hover .dropdown__menu > li:nth-child(1) { transition-delay: .05s; }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu > li:nth-child(2),
.dropdown--example-2:hover .dropdown__menu > li:nth-child(2) { transition-delay: .1s; }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu > li:nth-child(3),
.dropdown--example-2:hover .dropdown__menu > li:nth-child(3) { transition-delay: .15s; }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu > li:nth-child(4),
.dropdown--example-2:hover .dropdown__menu > li:nth-child(4) { transition-delay: .2s; }

.effect-preview .sample:hover .dropdown--example-2 .dropdown__menu > li:nth-child(5),
.dropdown--example-2:hover .dropdown__menu > li:nth-child(5) { transition-delay: .25s; }

/* ------------------------------------------------------------ *\
	Dropdown Example 3
\* ------------------------------------------------------------ */

.dropdown--example-3 .dropdown__menu { pointer-events: none; }
.dropdown--example-3 .dropdown__menu > li { opacity: 0; transform: translateX(50px); transition: opacity .3s, transform .3s; }
.dropdown--example-3 .dropdown__menu > li:nth-child(even) { transform: translateX(-50px); }

.effect-preview .sample:hover .dropdown--example-3 .dropdown__menu,
.dropdown--example-3:hover .dropdown__menu { pointer-events: auto; }

.effect-preview .sample:hover .dropdown--example-3 .dropdown__menu > li,
.dropdown--example-3:hover .dropdown__menu > li { opacity: 1; transform: translateX(0); }

/* ------------------------------------------------------------ *\
	Dropdown Example 4
\* ------------------------------------------------------------ */

.dropdown--example-4 .dropdown__menu { pointer-events: none; }
.dropdown--example-4 .dropdown__menu > li { opacity: 0; transform: translateX(50px); transition: opacity .3s, transform .3s; }
.dropdown--example-4 .dropdown__menu > li:nth-child(even) { transform: translateX(-50px); }
.dropdown--example-4 .dropdown__menu > li:nth-child(1) { transition-delay: .25s; }
.dropdown--example-4 .dropdown__menu > li:nth-child(2) { transition-delay: .2s; }
.dropdown--example-4 .dropdown__menu > li:nth-child(3) { transition-delay: .15s; }
.dropdown--example-4 .dropdown__menu > li:nth-child(4) { transition-delay: .1s; }
.dropdown--example-4 .dropdown__menu > li:nth-child(5) { transition-delay: .05s; }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu,
.dropdown--example-4:hover .dropdown__menu { pointer-events: auto; }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu > li,
.dropdown--example-4:hover .dropdown__menu > li { opacity: 1; transform: translateX(0); }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu > li:nth-child(1),
.dropdown--example-4:hover .dropdown__menu > li:nth-child(1) { transition-delay: .05s; }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu > li:nth-child(2),
.dropdown--example-4:hover .dropdown__menu > li:nth-child(2) { transition-delay: .1s; }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu > li:nth-child(3),
.dropdown--example-4:hover .dropdown__menu > li:nth-child(3) { transition-delay: .15s; }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu > li:nth-child(4),
.dropdown--example-4:hover .dropdown__menu > li:nth-child(4) { transition-delay: .2s; }

.effect-preview .sample:hover .dropdown--example-4 .dropdown__menu > li:nth-child(5),
.dropdown--example-4:hover .dropdown__menu > li:nth-child(5) { transition-delay: .25s; }

/* ------------------------------------------------------------ *\
	Dropdown Example 5
\* ------------------------------------------------------------ */

.dropdown--example-5 .dropdown__menu { pointer-events: none; }
.dropdown--example-5 .dropdown__menu > li { opacity: 0; transition: opacity .3s, transform .3s; }
.dropdown--example-5 .dropdown__menu > li:nth-child(1) { transform: translate(0, -100%); }
.dropdown--example-5 .dropdown__menu > li:nth-child(2) { transform: translate(0, -200%); }
.dropdown--example-5 .dropdown__menu > li:nth-child(3) { transform: translate(0, -300%); }
.dropdown--example-5 .dropdown__menu > li:nth-child(4) { transform: translate(0, -400%); }
.dropdown--example-5 .dropdown__menu > li:nth-child(5) { transform: translate(0, -500%); }

.effect-preview .sample:hover .dropdown--example-5 .dropdown__menu,
.dropdown--example-5:hover .dropdown__menu { pointer-events: auto; }

.effect-preview .sample:hover .dropdown--example-5 .dropdown__menu > li,
.dropdown--example-5:hover .dropdown__menu > li { opacity: 1; transform: translate(0, 0); }

/* ------------------------------------------------------------ *\
	Dropdown Example 6
\* ------------------------------------------------------------ */

.dropdown--example-6 .dropdown__menu { transform: perspective(400px) rotateX(-90deg); transform-origin: center top; transition: transform .3s; }

.effect-preview .sample:hover .dropdown--example-6 .dropdown__menu,
.dropdown--example-6:hover .dropdown__menu { transform: perspective(400px) rotateX(0deg); }

/* ------------------------------------------------------------ *\
	Dropdown Example 7
\* ------------------------------------------------------------ */

.dropdown--example-7 .dropdown__menu { transform: scale(.9); opacity: 0; transform-origin: center top; transition: transform .3s, opacity .3s; pointer-events: none; }

.effect-preview .sample:hover .dropdown--example-7 .dropdown__menu,
.dropdown--example-7:hover .dropdown__menu { transform: scale(1); opacity: 1; pointer-events: auto; }

/* ------------------------------------------------------------ *\
	Dropdown Example 8
\* ------------------------------------------------------------ */

.dropdown--example-8 .dropdown__menu { max-height: 0; transition: max-height .3s; pointer-events: none; overflow: hidden; }

.effect-preview .sample:hover .dropdown--example-8 .dropdown__menu,
.dropdown--example-8:hover .dropdown__menu { max-height: 500px; pointer-events: auto; }

/* ------------------------------------------------------------ *\
	Dropdown Example 9
\* ------------------------------------------------------------ */

.dropdown--example-9 .dropdown__menu { display: none; }

.effect-preview .sample:hover .dropdown--example-9 .dropdown__menu,
.dropdown--example-9:hover .dropdown__menu { display: block; animation: flipInX .75s ease-in; }

/* ------------------------------------------------------------ *\
	Dropdown Example 10
\* ------------------------------------------------------------ */

.dropdown--example-10 .dropdown__menu { opacity: 0; transform: translate(0, 25px); transition: opacity .3s, transform .3s; overflow: hidden; }
.dropdown--example-10 .dropdown__menu + .dropdown__menu { width: 100%;  }

.dropdown--example-10 .dropdown__menu > li ul { width: 100%; height: 100%; margin: 0; padding: 0; background-color: $brand; color: $white; text-align: left; list-style: none; position: absolute; left: 100%; top: 0; z-index: 99; transform: translate(0, 0); transition: transform .3s; }
.dropdown--example-10 .dropdown__menu > li ul a { display: block; text-decoration: none; }

.dropdown--example-10 .dropdown__menu > li ul li { border-top: 1px solid rgba(0,0,0,.1); background-color: $brand; }
.dropdown--example-10 .dropdown__menu > li ul li:first-child { border-top: 0; }
.dropdown--example-10 .dropdown__menu > li ul li > a { padding: 15px; transition: background-color .3s; }
.dropdown--example-10 .dropdown__menu > li ul li > a.dropdown__back { background-color: rgba(0,0,0, .1); }
.dropdown--example-10 .dropdown__menu > li ul li > a.dropdown__back:before { display: inline-block; vertical-align: middle; content: ''; width: 0; height: 0; margin-right: 10px; border-style: solid; border-width: 5px 6px 5px 0; border-color: transparent rgba(255, 255, 255, .5) transparent transparent; position: relative; top: -1px; }
.dropdown--example-10 .dropdown__menu > li ul li > a:hover { background-color: rgba(0,0,0,.1); }

.dropdown--example-10 .dropdown__menu li.has-dropdown > a { padding-right: 35px; position: relative; }
.dropdown--example-10 .dropdown__menu li.has-dropdown > a:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 6px; border-color: transparent transparent transparent rgba(0,0,0,.25); position: absolute; right: 15px; top: 50%; margin-top: -5px; }

.dropdown--example-10 .dropdown__menu.is--opened { opacity: 1; transform: translate(0, 0); }
.dropdown--example-10 .dropdown__menu li.has-dropdown.is--opened > ul { transform: translate(-100%, 0); }


