*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body,
.scene,
.wrapper {
	letter-spacing: 0.0715em;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.scene {
	flex: 1 1;
	min-height: 55vw;
	max-height: 70vw;
	position: relative;
	overflow: hidden;
}

html.effect-preview body,
html.effect-preview {
	cursor: pointer;
	overflow: hidden;
}

html.effect-preview .sample {
	background: #fff;
	width: 100%;
	padding: 0;
	height: 100vh;
	margin: 0;
}
html.effect-preview .sample__title {
	display: none;
}


body {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	letter-spacing: .0715em;
}
