/* ------------------------------------------------------------ *\
	Sample Style
\* ------------------------------------------------------------ */

.samples {
	width: 100%;
	height: 100%;
	counter-reset: sample;
}

.samples:after {
	content: '';
	line-height: 0;
	display: table;
	clear: both;
}

.sample {
	text-align: center;
	width: calc(100% / 3 - 1px);
	height: 0;
	float: left;
	position: relative;
	padding-bottom: 24.99%;
	margin: 0 1px 1px 0;
	background: #f4f4f4;
	transition: background-color 0.35s ease;
}
.sample:hover {
	background-color: #fff;
}

.sample__preview {
	position: absolute;
	top: 26px;
	left: 26px;
	right: 26px;
	bottom: 66px;
}
.sample__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
}

.sample__icon,
.sample__title {
	position: absolute;
	right: 7px;
	z-index: 2;
}

.sample__icon {
	font-size: 13px;
	line-height: 1.9;
	color: #000;
	width: 26px;
	height: 26px;
	opacity: 0.25;
	top: 17px;
	padding: 1px 0 0 1px;
	border: 2px solid;
	margin-right: 10px;
	border-radius: 50%;
}
.sample__title {
	font-size: 11px;
	color: #444;
	opacity: 0.5;
	bottom: 26px;
	left: 7px;

	&:after {
		counter-increment: sample;
		content: '#' counter(sample);
		display: inline-block;
		vertical-align: middle;
		margin-left: 3px;
	}
}

@media (max-width: 1023px) {
	.sample {
		width: calc(50% - 1px);
		padding-bottom: 37.324%;
	}
}

@media (max-width: 767px) {
	.sample {
		width: auto;
		float: none;
		padding-bottom: 75%;
		margin: 0 0 20px;
	}
}

/*  Grid sizes  */

.samples--1of2 .sample {
	width: calc(50% - 1px);
	padding-bottom: 37.324%;
}

.samples--full .sample {
	width: auto;
	float: none;
	padding-bottom: 75%;
}

/* Mobile */

@media (max-width: 767px) {
	.samples--1of2 .sample {
		width: 100%;
		padding-bottom: 75%;
	}
}
