/* ------------------------------------------------------------ *\
	Image
\* ------------------------------------------------------------ */

.image { position: relative; width: 100%; height: 100%; overflow: hidden; }
.image .image__inner { width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; transition: transform .3s ease; backface-visibility: hidden; }


/*  Image Zoom  */
.effect-preview:hover .image__inner,
.image--zoom:hover .image__inner { transform: scale(1.5); }

/*  Image Zoom out  */

.image--zoom-out .image__inner { transform: scale(1.5); }
.image--zoom-out:hover .image__inner { transform: scale(1); }

/*  Image Slide  */

.image--slide .image__inner { transform: scale(1.8) translateX(-50px); }
.image--slide:hover .image__inner { transform: scale(1.8) translateX(0); }

/*  Image Zoom out rotate  */

.image--zoom-out-rotate .image__inner { transform: scale(2.4) rotate(45deg); }
.image--zoom-out-rotate:hover .image__inner { transform: scale(1) rotate(0); }

/*  Image Blur  */

.image--blur .image__inner { filter: blur(3px); transition: filter 0.3s ease-out; }
.image--blur:hover .image__inner { filter: blur(0); }

/*  Image Gray Scale  */

.image--gray-scale .image__inner { filter: grayscale(100%); transition: filter 0.3s ease; }
.image--gray-scale:hover .image__inner { filter: grayscale(0); }

/*  Image Gray Scale  */

.image--blur-grey-scale .image__inner { filter: grayscale(100%) blur(5px); transition: filter 0.3s ease; }
.image--blur-grey-scale:hover .image__inner { filter: grayscale(0) blur(0); }

/*  Image Sepia  */

.image--sepia .image__inner { filter: sepia(100%); transition: filter 0.3s ease; }
.image--sepia:hover .image__inner { filter: sepia(0); }

/*  Image Opacity  */

.image--opacity .image__inner { transition: opacity 0.3s ease; }
.image--opacity:hover .image__inner { opacity: .7; }

/*  Image Colorized  */

.image--colorized { background-color: #6e6e6e; }
.image--colorized .image__inner { transition: opacity 0.3s ease; }
.image--colorized:hover .image__inner { opacity: .4; }

/*  Image Flashing  */

.image--flashing:hover .image__inner {  opacity: 1; animation: flashed 1s; }

@keyframes flashed {
	0% {
		opacity: .4;
	}

	100% {
		opacity: 1;
	}
}

/*  Image Flashing  */

.image--flashing2 .image__inner:before { content: ''; display: block; width: 0; height: 0; background: rgba(255,255,255,.5); border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  opacity: 0; }
.image--flashing2:hover .image__inner:before  { animation: flashed-circle .75s;  }

@keyframes flashed-circle {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		width: 200%;
		height: 200%;
	}
}

/*  Image Shine  */

.image--shine { position: relative; }
.image--shine:before  { content: ''; display: block; width: 30%; height: 100%; background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%); position: absolute; top: 0; left: -75%; z-index: 2; transform: skewX(-25deg); }
.image--shine:hover:before { animation: slide .75s }

@keyframes slide {
	100% {
		left: 100%;
	}
}
