/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.list-checkboxes li { list-style-type: none; margin-bottom: 10px; text-align: left; }

.checkbox { display: inline-block; position: relative; }
.checkbox input { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }

.checkbox label { position: relative; padding: 0 0 0 25px; }
.checkbox label:before { content: ''; width: 20px; height: 20px; border: 2px solid $pink; border-radius: 4px; position: absolute; left: 0; top: -2px; }

.checkbox label:before,
.checkbox label:after { transition: all .3s; }

/*  Default  */
.checkbox--default label:after { content: ''; width: 7px; height: 13px; border-bottom: 2px solid transparent; border-right: 2px solid transparent; transform: rotate(45deg); position: absolute; left: 6px; top: 0px; }
.checkbox--default input:checked + label:before { background-color: $pink; }
.checkbox--default input:checked + label:after { border-bottom-color: $white; border-right-color: $white; }

/*  Square  */

.checkbox--square label:after { content: ''; width: 12px; height: 12px; border-radius: 2px; background-color: $pink; position: absolute; left: 4px; top: 2px; opacity: 0; transform: scale(0); }
.checkbox--square input:checked + label:after { opacity: 1; transform: scale(1); }

/*  Transform  */

.checkbox--transform label:before { transform-origin: right top; }
.checkbox--transform input:checked + label:before { width: 9px; height: 15px; border-radius: 0; border-left: 0; border-top: 0; transform: translate(8px, 5px) rotate(45deg); }

/*  Cross  */

.checkbox--cross:before { content: ''; width: 21px; height: 21px; border: 2px solid $pink; border-radius: 4px; position: absolute; left: 0; top: -2px; }

.checkbox--cross label:before,
.checkbox--cross label:after { content: ''; width: 2px; height: 15px; border: 0; border-radius: 0; background-color: $pink; position: absolute; top: 3px; }

.checkbox--cross label:before { transform: rotate(45deg) scaleY(0); transition-delay: .3s; transform-origin: right top; left: 15px;}
.checkbox--cross label:after { transform: rotate(-45deg) scaleY(0); transition-delay: 0s; transform-origin: left top; left: 5px; }

.checkbox--cross input:checked + label:before { transform: rotate(45deg) scaleY(1); transition-delay: .3s; }
.checkbox--cross input:checked + label:after { transform: rotate(-45deg) scaleY(1); transition-delay: 0s; }

/*  Icon  */

.checkbox--icon label:after { content: '\f046'; font-family: 'FontAwesome'; font-size: 24px; color: $pink; opacity: 0; transform: scale3d(0.3, 0.3, 0.3); position: absolute; left: 0; top: -6px; }

.checkbox--icon input:checked + label:before { animation: zoomOut .5s forwards; }
.checkbox--icon input:checked + label:after { animation: bounceIn .5s forwards; }

/*  Material  */

.checkbox--material .ripple { width: 20px; height: 20px; background-color: $pink; border-radius: 50%; position: absolute; left: 0; top: -1px; z-index: -1; opacity: 0; }
.checkbox--material label:after { content: ''; width: 7px; height: 13px; border-bottom: 2px solid $white; border-right: 2px solid $white; transform-origin: left bottom; transform: rotate(45deg) scaleY(0); position: absolute; left: 3px; top: -4px; transition: none; }

.effect-preview:hover .ripple,
.checkbox--material input:focus ~ .ripple { animation: ripple .5s; }

.effect-preview:hover label:before,
.checkbox--material input:checked + label:before { background-color: $pink; }

.effect-preview:hover label:after,
.checkbox--material input:checked + label:after { transform: rotate(45deg) scaleY(1); transition: all .3s; transition-delay: .3s; }

/*  Draw  */

.checkbox--draw svg { width: 20px; height: 18px; position: absolute; left: 0; top: 1px; pointer-events: none; }
.checkbox--draw svg path { fill: transparent; stroke: $pink; stroke-width: 8px; stroke-dasharray: 1010; stroke-dashoffset: 1010px; transition: stroke-dashoffset .6s; }
.checkbox--draw input:checked ~ svg path { stroke: $pink; stroke-width: 8px; stroke-dasharray: 1010; stroke-dashoffset: 0px; }

@keyframes ripple {
	0% { opacity: 0; transform: scale(1); }
	75% { opacity: .25; transform: scale(3); }
	100% { opacity: 0; transform: scale(3); }
}
