/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

/* ------------------------------------------------------------ *\
	Form Control
\* ------------------------------------------------------------ */

.form-control { text-align: left; position: relative; }
.form-control .form-control__field { width: 320px; font-size: 16px; color: $title; transition: color .3s; }

.form-control .form-control__field::-webkit-input-placeholder { color: $title !important; opacity: .5 !important; transition: color .3s; }
.form-control .form-control__field::-moz-placeholder { color: $title !important; opacity: .5 !important; transition: color .3s; }
.form-control .form-control__field:-moz-placeholder { color: $title !important; opacity: .5 !important; transition: color .3s; }
.form-control .form-control__field:-ms-input-placeholder { color: $title !important; opacity: .5 !important; transition: color .3s; }

.form-control.has-error .form-control__field::-webkit-input-placeholder { color: $error !important; }
.form-control.has-error .form-control__field::-moz-placeholder { color: $error !important; }
.form-control.has-error .form-control__field:-moz-placeholder { color: $error !important; }
.form-control.has-error .form-control__field:-ms-input-placeholder { color: $error !important; }

/* ------------------------------------------------------------ *\
	Form Control 1
\* ------------------------------------------------------------ */

.form-control--1 .form-control__field { padding: 10px 15px; border: 0; border-bottom: 2px solid $blue; border-radius: 0; background-color: transparent; }
.form-control--1 .form-control__field-wrapper { position: relative; }

.form-control--1 .form-control__field-wrapper:before,
.form-control--1 .form-control__field-wrapper:after { content: ''; width: 50%; height: 100%; background-color: $error-light; border-bottom: 2px solid $error; position: absolute; bottom: 0; z-index: 10; transform: scaleX(0); transition: transform .3s, opacity .3s; }

.form-control--1 .form-control__field-wrapper:before { left: 0; transform-origin: left center; }
.form-control--1 .form-control__field-wrapper:after { right: 0; transform-origin: right center; }

.form-control--1 .form-control__notice { font-size: 12px; color: $error; position: absolute; left: 0; top: 100%; margin-top: 10px; transform: translate(0, -10px); opacity: 0; transition: transform .3s, opacity .3s; }

/*  Error state  */

.form-control--1.has-error .form-control__field { color: $error; }

.form-control--1.has-error .form-control__field-wrapper:before,
.form-control--1.has-error .form-control__field-wrapper:after { transform: scaleX(1); }

.form-control--1.has-error .form-control__notice { transform: translate(0, 0); opacity: 1; }

/* ------------------------------------------------------------ *\
	Form Control 2
\* ------------------------------------------------------------ */

.form-control--2 .form-control__field { padding: 10px 15px; border: 0; border-bottom: 2px solid $pink; border-radius: 0; background-color: transparent; }
.form-control--2 .form-control__field-wrapper { position: relative; }

.form-control--2 .form-control__field-wrapper:before { content: ''; width: 100%; height: 100%; background-color: $error-light; border-bottom: 2px solid $error; position: absolute; left: 0;  bottom: 0; z-index: 10; transform-origin: left center; transform: scaleX(0); transition: transform .3s; }

.form-control--2 .form-control__notice { font-size: 12px; color: $error; position: absolute; left: 0; top: 100%; margin-top: 10px; transform: translate(-10px, 0); opacity: 0; transition: transform .3s, opacity .3s; }

/*  Error state  */

.form-control--2.has-error .form-control__field { color: $error; }

.form-control--2.has-error .form-control__field-wrapper:before { transform: scaleX(1); }

.form-control--2.has-error .form-control__notice { transform: translate(0, 0); opacity: 1; }

/* ------------------------------------------------------------ *\
	Form Control 3
\* ------------------------------------------------------------ */

.form-control--3 .form-control__field { padding: 10px 15px; border: 1px solid $purple; border-radius: 4px; background-color: transparent; transition: border-color .3s, background-color .3s; }

.form-control--3 .form-control__notice { font-size: 12px; color: $error; position: absolute; left: 0; top: 100%; margin-top: 10px; transform-origin: left top; transform: scale(.9); opacity: 0; transition: transform .3s, opacity .3s; }

/*  Error state  */

.form-control--3.has-error .form-control__field { color: $error; border-color: $error; background-color: $error-light; }

.form-control--3.has-error .form-control__notice { transform: scale(1); opacity: 1; }

/* ------------------------------------------------------------ *\
	Form Control 4
\* ------------------------------------------------------------ */

.form-control--4 .form-control__field { padding: 10px 15px; border: 1px solid $brand; border-radius: 4px; background-color: transparent; transition: border-color .3s, background-color .3s; position: relative; z-index: 1; }

.form-control--4 .form-control__notice { padding: 10px; background-color: $error; border-radius: 4px 4px 0 0; font-size: 12px; color: $white; position: absolute; right: 0; bottom: 100%; z-index: 0; opacity: 0; transition: opacity .3s; }

/*  Error state  */

.form-control--4.has-error .form-control__field { background-color: $error-light; border-color: $error; border-radius: 4px 0 4px 4px; color: $error; }

.form-control--4.has-error .form-control__notice { opacity: 1; }

/* ------------------------------------------------------------ *\
	Form Control 5
\* ------------------------------------------------------------ */

.form-control--5 .form-control__field { padding: 10px 15px; border: 1px solid $light-blue; border-radius: 4px; background-color: transparent; transition: border-color .3s; position: relative; z-index: 1; }
.form-control--5 .form-control__field-wrapper { position: relative; }
.form-control--5 .form-control__field-wrapper:after { content: ''; width: 100%; height: 100%; background-color: $error; border-radius: 4px; position: absolute; left: 0; top: 0; z-index: -1; opacity: 0; transition: opacity .3s, transform .3s; }

.form-control--5 .form-control__notice { font-size: 12px; color: $error; position: absolute; right: 0; top: 100%; transform: translate(0, 0); opacity: 0; transition: transform .3s, opacity .3s; }

/*  Error state  */

.form-control--5.has-error .form-control__field { border-color: $error; color: $error; }

.form-control--5.has-error .form-control__field-wrapper:after { opacity: .07; transform: translate(-10px, -10px); }

.form-control--5.has-error .form-control__notice { opacity: 1; transform: translate(10px, 10px); }

/* ------------------------------------------------------------ *\
	Form Control 6
\* ------------------------------------------------------------ */

.form-control--6 .form-control__field { padding: 11px 50px 10px 15px; border: 0; border-bottom: 1px solid $green; border-radius: 4px 4px 0 0; background-color: $lightest-grey; transition: border-color .3s; }
.form-control--6 .form-control__field-wrapper { position: relative; }
.form-control--6 .form-control__field-wrapper:after { content: '!'; width: 24px; height: 24px; padding-left: 1px; border-radius: 50%; background-color: $error; text-align: center; font-weight: 700; font-size: 14px; color: $white; line-height: 1.75; position: absolute; right: 15px; top: 50%; margin-top: -12px; transform: scale(0); transition: transform .3s; }

.form-control--6 .form-control__notice { position: absolute; left: 0; top: 100%; margin-top: 10px; margin-left: 15px; font-size: 12px; color: $error; opacity: 0; transform: translate(0, -10px); transition: opacity .3s, transform .3s; }

/*  Error state  */

.form-control--6.has-error .form-control__field { border-color: $error; color: $error; }

.form-control--6.has-error .form-control__field-wrapper:after { animation: bounceIn .6s forwards; }

.form-control--6.has-error .form-control__notice { opacity: 1; transform: translate(0, 0); }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to { animation-timing-function: cubic-bezier(.215, .61, .355, 1); }

  0% { opacity: 0; transform: scale3d(.3, .3, .3); }
  20% { transform: scale3d(1.1, 1.1, 1.1); }
  40% { transform: scale3d(.9, .9, .9); }
  60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
  80% { transform: scale3d(.97, .97, .97); }
  to { opacity: 1; transform: scale3d(1, 1, 1); }
}

/* ------------------------------------------------------------ *\
	Form Control 7
\* ------------------------------------------------------------ */

.form-control--7 .form-control__field { padding: 11px 15px 10px; border: 0; border-bottom: 1px solid $dark-grey; border-radius: 4px 4px 0 0; background-color: $lightest-grey; transition: border-color .3s .3s, padding .3s .3s; }

.form-control--7 .form-control__field-wrapper { position: relative; }
.form-control--7 .form-control__field-wrapper:before { content: '!'; content: '!'; width: 24px; height: 24px; padding-left: 1px; border-radius: 50%; background-color: $error; text-align: center; font-weight: 700; font-size: 14px; color: $white; line-height: 1.75; position: absolute; left: 15px; top: 50%; margin-top: -12px; opacity: 0; transform: translate(-15px, 0); transition: transform .3s .3s, opacity .3s .3s; }
.form-control--7 .form-control__field-wrapper:after { content: ''; width: 100%; height: 2px; background-color: $error; position: absolute; left: 0; bottom: 0; transform-origin: left center; transform: scaleX(0); transition: transform .3s .3s; }

.form-control--7 .form-control__notice { padding: 10px 15px; background-color: $error; font-size: 12px; color: $white; position: absolute; right: -25px; top: 100%; margin-top: 15px; transition: opacity .3s; opacity: 0; transform-origin: right top; }
.form-control--7 .form-control__notice:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 11px 15px 11px; border-color: transparent transparent $error transparent; position: absolute; right: 15px; top: -14px; }

/*  Error state  */

.form-control--7.has-error .form-control__field { padding-left: 50px; color: $error; transition: border-color .3s, padding .3s; }

.form-control--7.has-error .form-control__field-wrapper:before { opacity: 1; transform: translate(0, 0); transition: transform .3s, opacity .3s; }
.form-control--7.has-error .form-control__field-wrapper:after { transform: scaleX(1); transition: transform .3s; }

.form-control--7.has-error .form-control__notice { opacity: 1; transition: opacity .3s .3s; }

/* ------------------------------------------------------------ *\
	Form Control 8
\* ------------------------------------------------------------ */

.form-control--8 .form-control__field { padding: 10px 15px; border: 0; border-bottom: 2px solid $pink; border-radius: 0; background-color: transparent; position: relative; z-index: 10; }

.form-control--8 .form-control__field-wrapper { position: relative; overflow: hidden; }
.form-control--8 .form-control__field-wrapper:after { content: ''; width: 100%; height: 2px; background-color: $error; transform: scaleX(0); position: absolute; left: 0; bottom: 0; z-index: 10; transition: transform .3s; }
.form-control--8 .form-control__field-wrapper:before { content: ''; width: 120%; padding-bottom: 120%; border-radius: 50%; background-color: $error-light; position: absolute; left: -10%; top: 50%; transform: translate(0, -50%) scale(0); opacity: 0; transition: transform .3s, opacity .3s; z-index: 0; }

.form-control--8 .form-control__notice { height: 36px; padding: 11px 15px 10px 35px; background-color: $error; font-size: 12px; color: $white; position: absolute; left: 0; top: 100%; margin-top: 10px; transform: translate(0, -10px); opacity: 0; transition: transform .3s, opacity .3s; }
.form-control--8 .form-control__notice:before { content: '!'; width: 24px; height: 24px; background-color: $white; border-radius: 50%; font-weight: 700; font-size: 14px; color: $error; text-align: center; line-height: 1.75; position: absolute; left: 6px; top: 6px; }

/*  Error state  */

.form-control--8.has-error .form-control__field { color: $error; }

.form-control--8.has-error .form-control__field-wrapper:before { transform: translate(0, -50%) scale(1); opacity: 1; }
.form-control--8.has-error .form-control__field-wrapper:after { transform: scaleX(1); }

.form-control--8.has-error .form-control__notice { opacity: 1; transform: translate(0, 0); }

/* ------------------------------------------------------------ *\
	Form Control 9
\* ------------------------------------------------------------ */

.form-control--9 .form-control__field { padding: 10px 15px; border: 1px solid $purple; border-radius: 4px; background-color: transparent; transition: border-color .3s, background-color .3s; }

.form-control--9 .form-control__notice { font-size: 12px; color: $error; position: absolute; left: 0; top: 100%; margin-top: 10px; transform: translate(0, -10px); opacity: 0; transition: transform .3s, opacity .3s; }

/*  Error state  */

.effect-preview:hover .form-control--9 .form-control__field,
.form-control--9.has-error .form-control__field { background-color: $error-light; border-color: $error; color: $error; animation: wobble .6s; }

.effect-preview:hover .form-control--9 .form-control__notice,
.form-control--9.has-error .form-control__notice { opacity: 1; transform: translate(0, 0); }

@keyframes wobble {
  from { transform: translate3d(0, 0, 0); }
  15% { transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% { transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% { transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% { transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% { transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to { transform: translate3d(0, 0, 0); }
}
