/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.list-checkboxes li { list-style-type: none; margin-bottom: 10px; text-align: left; }

/* ------------------------------------------------------------ *\
	Switch
\* ------------------------------------------------------------ */

.switch { position: relative; }
.switch input { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }
.switch label { display: block; position: relative; cursor: pointer; }

.switch label:before,
.switch label:after { transition: all .3s; }

/*  Square Switch  */

.switch--square label { width: 52px; height: 26px; border: 2px solid $grey; }

.switch--square label:before { content: ''; width: 20px; height: 26px; background-color: $dark-grey; position: absolute; left: -2px; top: -2px; z-index: 2; }
.switch--square label:after { content: ''; width: 44px; height: 18px; background-color: $light-grey; position: absolute; left: 2px; top: 2px; z-index: 1; }

.switch--square input:checked + label:before { transform: translate(32px, 0); }
.switch--square input:checked + label:after { background-color: $brand; }

/*  iOS Switch  */

.switch--ios label { width: 52px; height: 26px; border: 1px solid $grey; border-radius: 26px; background-color: $light-grey; transition: all .3s; }

.switch--ios label:before { content: ''; width: 26px; height: 26px; border-radius: 26px; background-color: $white; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2); position: absolute; left: -1px; top: -1px; z-index: 2; }

.effect-preview:hover .switch--ios input + label,
.switch--ios input:checked + label { background-color: $brand; border-color: $brand; }

.effect-preview:hover .switch--ios input + label:before,
.switch--ios input:checked + label:before { transform: translate(26px, 0); box-shadow: inset 0 0 0 1px $brand, 0 2px 4px rgba(0,0,0,.2); }

.effect-preview:hover .switch--ios input:checked + label { background-color: $light-grey; border-color: $grey; }
.effect-preview:hover .switch--ios input:checked + label:before { transform: none; box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2); }

/*  Slide Switch  */

.switch--slide:before { content: ''; width: 34px; height: 2px; background-color: $grey; border-radius: 3px; box-shadow: 0px 1px 0px rgba(255, 255, 255, .5); position: absolute; left: 10px; top: 12px; z-index: 1; pointer-events: none; }

.switch--slide label { width: 52px; height: 26px; border: 1px solid $grey; border-radius: 26px; background-color: $light-grey; }
.switch--slide label:before { content: ''; width: 20px; height: 20px; background-color: $white; border-radius: 50%; position: absolute; left: 2px; top: 2px; z-index: 2; }
.switch--slide label:after { content: ''; width: 8px; height: 8px; background-color: $grey; border-radius: 50%; position: absolute; left: 8px; top: 8px; z-index: 3; }

.switch--slide input:checked + label:before,
.switch--slide input:checked + label:after { transform: translate(26px, 0); }

.switch--slide input:checked + label:after { background-color: $brand; }

/*  Classic Switch  */

.switch--classic label { width: 52px; height: 26px; border: 1px solid $brand; border-radius: 26px; background-color: $brand; transition: all .3s; }

.switch--classic label:before { content: ''; width: 26px; height: 26px; border-radius: 26px; background-color: $white; box-shadow: inset 0 0 0 1px $brand, 0 2px 4px rgba(0,0,0,.2); position: absolute; left: -1px; top: -1px; z-index: 5; }
.switch--classic label:after { content: 'OFF'; font-weight: 700; font-size: 9px; color: $white; line-height: 26px; text-transform: uppercase; position: absolute; right: 4px; top: 0; z-index: 2; }

.switch--classic input:checked + label { background-color: $green; border-color: $green; }
.switch--classic input:checked + label:before { transform: translate(26px, 0); box-shadow: inset 0 0 0 1px $green, 0 2px 4px rgba(0,0,0,.2); }
.switch--classic input:checked + label:after { content: 'ON'; right: auto; left: 7px; }

/*  Flip Switch  */

.switch--flip label { width: 53px; height: 26px; border-radius: 4px; transition: all .3s; perspective: 100px; }

.switch--flip label:before,
.switch--flip label:after { width: 100%; height: 100%; position: absolute; left: 0; top: 0; border-radius: 4px; font-weight: 700; font-size: 12px; color: $white; text-transform: uppercase; line-height: 28px; text-align: center; backface-visibility: hidden; }

.switch--flip label:before { content: 'NO'; background-color: $brand; }
.switch--flip label:after { content: 'YES'; background-color: $green; transform: rotateY(-180deg); }

.switch--flip input:checked + label:before { transform: rotateY(180deg); }
.switch--flip input:checked + label:after { transform: rotateY(0deg); }
