/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px $color-white inset; }

.field { width: 250px; height: 38px; padding: 0 10px; color: $brand; border: 0; border-bottom: 2px solid $color-black; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease-out; }

.field--border { border: 2px solid $color-black; }

.field--push { transition: all $d ease-out; }
.field--push:focus { padding: 0 20px; border-color: $brand; }

.field-alt { width: 250px; height: 50px; padding: 0 10px; color: $brand; border: 0; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease-out; font-size: 25px; }

.field-alt--second { height: 0; margin-top: 10px; border-top: 2px solid $brand; background-color: $color-darkgrey; }
.field-alt--second:focus { height: 50px; margin-top: 10px; }
.field-alt--second.active { height: 50px; margin-top: 10px; }

.field-animation { width: 250px; height: 50px; padding: 0 10px; color: $brand; border: 2px solid $color-black; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease-out; }
.field-animation:focus,
.field-animation.active { border-color: $brand }

.field-animation-2 { position: absolute; top: 0; left: 0; width: 250px; height: 50px; padding: 0 10px; color: $brand; border: 0; border-radius: 0; font-size: 16px; background-color: $color-mediumgrey; transition: all $d ease-out; }

.field-icon { width: 250px; height: 50px; padding: 0 10px 0 45px; color: $brand; border: 2px solid $color-black; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease-out; }
.field-icon:focus,
.field-icon.active { border-color: $brand }

.textarea {}
.select {}
.radio {}
.checkbox {}


.field--brand:focus,
.field--brand { border-color: color($brand a(60%)); }

.form .field--brand ~ .form__field-border-half span:after,
.form .field--brand ~ .form__field-border-half span:before,
.form .field--brand ~ .form__field-border-half:before,
.form .field--brand ~ .form__field-border-half:after { background-color: $brand; }


.field--blue:focus,
.field--blue { border-color: color($blue a(60%)); }
.form .field--blue ~ .form__field-border-half span:after,
.form .field--blue ~ .form__field-border-half span:before,
.form .field--blue ~ .form__field-border-half:before,
.form .field--blue ~ .form__field-border-half:after { background-color: $blue; }

.form .field--blue ~ .form__field-border--from-bottom-to-top { border-color: $blue; }

.field--light-blue:focus,
.field--light-blue { border-color: color($light-blue a(60%)); }
.form .field--light-blue ~ .form__field-border-half span:after,
.form .field--light-blue ~ .form__field-border-half span:before,
.form .field--light-blue ~ .form__field-border-half:before,
.form .field--light-blue ~ .form__field-border-half:after { background-color: $light-blue; }

.field--purple:focus,
.field--purple { border-color: color($purple a(60%)); }

.form .field--purple ~ .form__field-border-half span:after,
.form .field--purple ~ .form__field-border-half span:before,
.form .field--purple ~ .form__field-border-half:before,
.form .field--purple ~ .form__field-border-half:after { background-color: $purple; }


.field--pink:focus,
.field--pink { border-color: color($pink a(60%)); }

.form .field--pink ~ .form__field-border-half span:after,
.form .field--pink ~ .form__field-border-half span:before,
.form .field--pink ~ .form__field-border-half:before,
.form .field--pink ~ .form__field-border-half:after { background-color: $pink; }

.field--green:focus,
.field--green { border-color: color($green a(60%)); }

.sample .form .field--green:focus ~ .form__field-border--from-right { border-color: $green; }
