/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {}
.form .form__controls { position: relative; }

.form .form__field-border { position: absolute; bottom: 0; left: 0; right: 0; height: 2px; background-color: $brand; transform: scaleX(0); transform-origin: left; transition: transform $d ease-in; }
.form .field:focus ~ .form__field-border { transform: scaleX(1); }

.form .form__field-border--left-to-right { transform-origin: right; }
.form .field:focus ~ .form__field-border--left-to-right { transform-origin: left; }

.form .form__field-border--from-middle { transform-origin: center; }

.form .form__field-border--from-bottom-to-top { top: 0; left: 0; right: 0; bottom: 0; height: auto; background-color: transparent; border: 2px solid $brand; transform: scale(1 , 0); transform-origin: bottom; transition: all 0s; }
.form .field:focus ~ .form__field-border--from-bottom-to-top { transform: scale(1, 1); transition: transform $d ease-in; }

.form .form__field-border--from-right { top: 0; left: 100%; right: 0; bottom: 0; height: auto; background-color: transparent; border: 0; transform: scale(1 , 1); transform-origin: right; transition: all 0s; }
.form .field:focus ~ .form__field-border--from-right { left: 0; transition: left $d ease; border: 2px solid $brand; }


.form .form__field-border-half { position: absolute; top: 0; bottom: 0; left: 0; right: 0; pointer-events: none; }
.form .form__field-border-half:before { content: ''; position: absolute; top: 0; left: 0%; right: 100%; height: 2px; background-color: $brand; transition: $d ease; transition-delay: 0s; }

.form .form__field-border-half:after { content: ''; position: absolute; top: 0; bottom: 100%; right: 0; width: 2px; background-color: $brand; transition: $d ease; transition-delay: .8s; }

.form .form__field-border-half span {}

.form .form__field-border-half span:before { content: ''; position: absolute; bottom: 0; left: 100%; right: 0; height: 2px; background-color: $brand; transition: $d ease; transition-delay: .4s; }

.form .form__field-border-half span:after { content: ''; position: absolute; top: 100%; bottom: 0; left: 0; width: 2px; background-color: $brand; transition: $d ease; transition-delay: 0; }

.effect-preview:hover .form .form__field-border-half:before,
.form .field:focus ~ .form__field-border-half:before { right: 0; transition-delay: 0; }

.effect-preview:hover .form .form__field-border-half:after,
.form .field:focus ~ .form__field-border-half:after { bottom: 0; transition-delay: .4s; }

.effect-preview:hover .form .form__field-border-half span:before,
.form .field:focus ~ .form__field-border-half span:before { left: 0; transition-delay: .8s; }

.effect-preview:hover .form .form__field-border-half span:after,
.form .field:focus ~ .form__field-border-half span:after { top: 0; transition-delay: 1.2s; }

.form .form__field-border-half--alt:before { transition: $d ease; transition-delay: 0s; }
.form .form__field-border-half--alt:after { transition: $d ease; transition-delay: 0s; }

.form .form__field-border-half--alt span:before { transition: $d ease; transition-delay: 0; }
.form .form__field-border-half--alt span:after { transition: $d ease; transition-delay: 0; }

.effect-preview:hover .form .form__field-border-half--alt:before,
.form .field:focus ~ .form__field-border-half--alt:before { right: 0; transition-delay: 0; }

.effect-preview:hover .form .form__field-border-half--alt:after,
.form .field:focus ~ .form__field-border-half--alt:after { bottom: 0; transition-delay: .4s; }

.effect-preview:hover .form .form__field-border-half--alt span:before,
.form .field:focus ~ .form__field-border-half--alt span:before { left: 0; transition-delay: 0s; }

.effect-preview:hover .form .form__field-border-half--alt span:after,
.form .field:focus ~ .form__field-border-half--alt span:after { top: 0; transition-delay: .4s; }

/* ------------------------------------------------------------ *\
	Form Field Background
\* ------------------------------------------------------------ */

.form .form__controls--background .field { position: relative; z-index: 1; }
.form .form__field-background { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.form .form__field-background:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: $light-blue; opacity: 0; transition: $d ease; }

.form .form__field-background--left:before { opacity: 1; transform: scaleX(0); transform-origin: left; }
.form .form__field-background--center:before { opacity: 1; transform: scale(0); transform-origin: center; }
.form .form__field-background--double:before { left: 0; right: 50%; opacity: 1; transform: scale(0); transform-origin: top left; }
.form .form__field-background--double:after { content: ''; position: absolute; top: 0; bottom: 0; left: 50%; right: 0; opacity: 1; transform: scale(0); transform-origin: bottom right; background-color: $light-blue; transition: $d ease; }

.form .field:focus { color: $color-black; }
.form .field:focus ~ .form__field-background:before { opacity: 1; }
.form .field:focus ~ .form__field-background--left:before { transform: scaleX(1); }
.form .field:focus ~ .form__field-background--center:before { transform: scale(1); }
.form .field:focus ~ .form__field-background--double:after,
.form .field:focus ~ .form__field-background--double:before { transform: scale(1); }
