/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Underline
\* ------------------------------------------------------------ */

.link--example-1:after { position: absolute; top: 100%; left: 0; right: 0; margin-top: 3px; height: 2px; background-color: #f2857e; content: ''; transition: opacity .3s, transform .3s, visibility .3s; transition-timing-function: ease-in-out; opacity: 0; transform: translateY(6px); }
.link--example-1:hover:after { transform: none; opacity: 1; visibility: visible; }

/* ------------------------------------------------------------ *\
	Link Underline Scaling
\* ------------------------------------------------------------ */

.link--example-2:after { position: absolute; top: 100%; left: 0; right: 0; margin-top: 2px; height: 2px; transform: translateY(-5px) scaleY(0); background-color: #f2857e; content: ''; transition: transform .3s, height .3s; transform-origin: 50% 0; }
.link--example-2:hover:after { transform: none; }

/* ------------------------------------------------------------ *\
	Link Underline Centered
\* ------------------------------------------------------------ */

.link--example-3:after { position: absolute; top: 100%; left: 0; right: 0; height: 2px; background-color: #f2857e; transform: scaleX(0); transition: transform .4s; content: ''; }
.link--example-3:hover:after { transform: none; }

/* ------------------------------------------------------------ *\
	Link Underline Around
\* ------------------------------------------------------------ */

.link--example-4:after { position: absolute; top: 100%; left: 0; right: 0; height: 2px; background-color: #f2857e; transform: scaleX(0); transition: transform .4s; content: ''; transform-origin: 100% 0; }

.link--example-4:hover:after { transform: none; transform-origin: 0 0; }

/* ------------------------------------------------------------ *\
	Link Underline Around Infinite
\* ------------------------------------------------------------ */

.link--example-5:after { position: absolute; top: 100%; left: 0; right: 0; height: 2px; background-color: #f2857e; content: ''; transform: scaleX(0); }
.link--example-5:hover:after { animation: flowingUnderline 2s both infinite; }

/* ------------------------------------------------------------ *\
	Link Shrinking Border
\* ------------------------------------------------------------ */

.link--example-6 { padding: 5px; }
.link--example-6:after { position: absolute; left: 0; right: 0; bottom: 0; height: 3px; border-radius: 5px; background-color: #f2857e; content: ''; transition: transform .3s; }
.link--example-6:hover:after { transform: scaleX(.05); }
