/* ------------------------------------------------------------ *\
	Image
\* ------------------------------------------------------------ */

.image { position: relative; width: 100%; height: 100%; overflow: hidden; }
.image .image__inner { display: flex; justify-content: space-between; align-items: center; max-width: 100%; height: 100%; background-repeat: no-repeat; transform-origin: left center; background-size: cover; background-position: 0 center; position: relative; }

.image .image__inner-slice { width: 20%; height: 100%; background-image: inherit; background-size: auto 100%; background-position: 0 center; background-repeat: inherit; position: absolute; top: 0; left: 0; clip-path: polygon(0 0, 20% 0%, 20% 100%, 0% 100%); }
.image .image__inner-slice--second { clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%); left: 20%; }
.image .image__inner-slice--third { clip-path: polygon(40% 0, 60% 0, 40% 100%, 60% 100%); left: 40%; }
.image .image__inner-slice--fourth { clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%); left: 60%; }
.image .image__inner-slice--fifth { clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%); left: 80%; }
