/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link--lines
\* ------------------------------------------------------------ */

.link--example-1:before,
.link--example-1:after { position: absolute; top: 100%; left: 0; right: 0; height: 2px; background-color: currentColor; content: ''; }

.link--example-1:after { transform: scaleX(.7); transition: transform .3s; }
.link--example-1:before { opacity: 0; transition: top .3s, opacity .3s; }

.link--example-1:hover:after { transform: none; color: #f2857e; }
.link--example-1:hover:before { top: -3px; opacity: 1; color: #f2857e; }

/* ------------------------------------------------------------ *\
	Link--crutches
\* ------------------------------------------------------------ */

.link--example-2 { padding: 5px 10px; }

.link--example-2:before,
.link--example-2:after { position: absolute; top: 0; bottom: 0; width: 2px; background-color: #f2857e; content: ''; }

.link--example-2:before { left: 0; transform-origin: 0 0; transition: transform .3s, left .3s; }
.link--example-2:after { right: 0; transform-origin: 0 100%; transition: transform .3s, right .3s;}

.link--example-2:hover:before,
.link--example-2:hover:after { opacity: 1; }

.link--example-2:hover:before { left: 50%; transform: rotate(-90deg) translateY(-50%); }
.link--example-2:hover:after { right: 48%; transform: rotate(-90deg) translateY(50%); }

/* ------------------------------------------------------------ *\
	Link--double-line
\* ------------------------------------------------------------ */

.link--example-3 { padding: 10px; }
.link--example-3:before,
.link--example-3:after { position: absolute; left: 0; right: 0; height: 2px; background-color: #f2857e; transition: transform .3s, opacity .3s; content: ''; opacity: 0; }

.link--example-3:before { top: 0; transform: translateY(-5px); }
.link--example-3:after { bottom: 2px; transform: translateY(5px); }

.link--example-3:hover { color: #f2857e; }
.link--example-3:hover:before,
.link--example-3:hover:after { opacity: 1; transform: none; }

/* ------------------------------------------------------------ *\
	Link--double-line-reverse
\* ------------------------------------------------------------ */

.link--example-4 { padding: 10px; }
.link--example-4:before,
.link--example-4:after { position: absolute; left: 0; right: 0; height: 2px; background-color: #f2857e; transform: scaleX(0); transition: transform .3s ease-in-out; content: ''; }

.link--example-4:before { top: 0; transform-origin: 0 0; }
.link--example-4:after { bottom: 2px; transform-origin: 100% 0; }

.link--example-4:hover { color: #f2857e; }
.link--example-4:hover:before,
.link--example-4:hover:after { opacity: 1; transform: none; }

/* ------------------------------------------------------------ *\
	Link--double-line-flowing
\* ------------------------------------------------------------ */

.link--example-5 { padding: 10px; }
.link--example-5:before,
.link--example-5:after { position: absolute; left: 0; right: 0; height: 2px; background-color: #f2857e; transform: scaleX(0); transition: transform .3s ease-in-out; content: ''; }
.link--example-5:before { transform-origin: 100% 0; }
.link--example-5:after { transform-origin: 0 0; }

.link--example-5:before { top: 0; }
.link--example-5:after { bottom: 2px; }

.link--example-5:hover { color: #f2857e; }

.link--example-5:hover:before,
.link--example-5:hover:after { opacity: 1; transform: none; }

.link--example-5:hover:before { transform-origin: 0 0; }
.link--example-5:hover:after { transform-origin: 100% 0; }

/* ------------------------------------------------------------ *\
	Link--double-border
\* ------------------------------------------------------------ */

.link--example-6 { padding: 5px; }
.link--example-6:before,
.link--example-6:after { position: absolute; top: 50%; left: 0; right: 0; height: 2px; background-color: #f2857e; transition: top .3s, transform .3s .3s; content: ''; transform: scaleX(0); }

.link--example-6:hover:before,
.link--example-6:hover:after { transform: none; transition: top .3s .3s, transform .3s; }

.link--example-6:hover:before { top: -3%; }
.link--example-6:hover:after { top: 95%; }

/* ------------------------------------------------------------ *\
	Link--left-line
\* ------------------------------------------------------------ */

.link--example-7 { padding: 8px 5px; transition: color .3s; }
.link--example-7:before { position: absolute; top: 0; left: -2px; bottom: 0; width: 2px; background-color: #f2857e; content: ''; transform: scaleY(0); transition: transform .2s; }

.link--example-7:hover { color: #f2857e; }
.link--example-7:hover:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link--framed
\* ------------------------------------------------------------ */

.link--example-8 { padding: 4px; overflow: hidden; }
.link--example-8:before { position: absolute; bottom: 0; margin-bottom: -2px; left: 0px; width: 100%; height: 100%; border-bottom: 2px solid currentColor; border-left: 2px solid currentColor; content: ''; transform: translateY(-100%); transition: transform .3s, margin-bottom .3s; }

.link--example-8:hover:before { transform: none; margin-bottom: 0; color: #f2857e; }
