/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Bordered Background
\* ------------------------------------------------------------ */

.link--example-1 { z-index: 1; }
.link--example-1:before { z-index: -1; position: absolute; left: -6px; right: -6px; bottom: -2px; top: -2px; background: #f2857e; content: ''; transition: transform .3s; transform-origin: 0 100%; transform: scaleY(.1); }
.link--example-1:hover { color: #fff; }
.link--example-1:hover:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link Bordered Background-h
\* ------------------------------------------------------------ */

.link--example-2 { z-index: 1; }
.link--example-2:before { z-index: -1; position: absolute; left: -6px; right: -6px; bottom: -2px; top: -2px; background: #f2857e; content: ''; transition: transform .3s; transform-origin: 0 0%; transform: scaleX(0); }
.link--example-2:hover { color: #fff; }
.link--example-2:hover:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link Background Center
\* ------------------------------------------------------------ */

.link--example-3 { padding: 5px; transform: perspective(1px) translateZ(0); }
.link--example-3:before { z-index: -1; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #f2857e; transform: scaleY(0); content: ''; transition: transform .3s;
}
.link--example-3:hover { color: #fff; }
.link--example-3:hover:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link Bordered Background-h Fluid
\* ------------------------------------------------------------ */

.link--example-4 { z-index: 1; }
.link--example-4:before { z-index: -1; position: absolute; left: -6px; right: -6px; bottom: -2px; top: -2px; background: #f2857e; content: ''; transition: transform .3s; transform-origin: 100% 0; transform: scaleX(0); }
.link--example-4:hover { color: #fff; }
.link--example-4:hover:before { transform: none; transform-origin: 0 0; }

/* ------------------------------------------------------------ *\
	Link Background Border
\* ------------------------------------------------------------ */

.link--example-5 { padding: 5px; color: #f2857e; transform: perspective(1px) translateZ(0); }
.link--example-5:before,
.link--example-5:after { position: absolute; content: ''; left: 0; right: 0; bottom: 0; transition: transform .3s; }

.link--example-5:before { background-color: #f2857e; top: 0; bottom: 0; z-index: -1; transform: scaleX(0); transform-origin: 0 0; transition-delay: .15s; }
.link--example-5:after { height: 3px; background-color: #f2857e; transform-origin: 100% 0; transition-delay: .3s; }

.link--example-5:hover { color: #fff; }
.link--example-5:hover:before { transform: none; }
.link--example-5:hover:after { transform: scaleX(0); transition-delay: 0s; }

/* ------------------------------------------------------------ *\
	Link Merging Background
\* ------------------------------------------------------------ */

.link--example-6 { padding: 5px 10px; transform: perspective(1px) translateZ(0); transition: color .3s .3s;}

.link--example-6:before,
.link--example-6:after { z-index: -1; position: absolute; top: 0; bottom: 0; width: 2px; background-color: #f2857e; border-radius: 10px; transition: transform .4s .4s, width .4s; content: ''; transform: scaleY(0); }

.link--example-6:hover { color: #fff; }

.link--example-6:before { left: 0; }
.link--example-6:after { right: 0; }

.link--example-6:hover:before,
.link--example-6:hover:after { width: 100%; transform: none; transition: transform .4s, width .4s .4s; }

/* ------------------------------------------------------------ *\
	Link Steps
\* ------------------------------------------------------------ */

.link--example-7 { z-index: 1; transition: color .2s .1s; }

.link--example-7:before,
.link--example-7:after,
.link--example-7 span:before,
.link--example-7 span:after { position: absolute; top: 0; bottom: 0; width: 25%; content: ''; background-color: #f2857e; transform: scaleY(0); transition: transform .1s ease, opacity .1s ease; z-index: -1; }

.link--example-7 span { display: block; padding: 10px 20px; }

.link--example-7:before,
.link--example-7:after { transform-origin: 0 100%; }

.link--example-7:before { left: 0; }
.link--example-7:after { left: 50%; transition-delay: .2s; }

.link--example-7 span:before,
.link--example-7 span:after { transform-origin: 0 0; }

.link--example-7 span:before { left: 25%; transition-delay: .1s; }
.link--example-7 span:after { right: 0; transition-delay: .3s; }

.link--example-7:hover { color: #fff; }

.link--example-7:hover span:before,
.link--example-7:hover span:after,
.link--example-7:hover:before,
.link--example-7:hover:after { transform: none; opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Steps Horizontal
\* ------------------------------------------------------------ */

.link--example-8 { z-index: 1; transition: color .2s .1s; }

.link--example-8:before,
.link--example-8:after,
.link--example-8 span:before,
.link--example-8 span:after { z-index: -1; position: absolute; left: 0; right: 0; height: 25%; content: ''; background-color: #18689C; transform: scaleX(0); transition: transform .2s, background .2s, opacity .2s; opacity: 0; }

.link--example-8 span { display: block; padding: 10px 20px; }

.link--example-8:before,
.link--example-8:after { transform-origin: 0 0; }

.link--example-8:before { top: 0; }
.link--example-8:after { top: 50%; transition-delay: 200ms; }

.link--example-8 span:before,
.link--example-8 span:after { transform-origin: 0 0; }

.link--example-8 span:before { top: 25%; transition-delay: 150ms; }
.link--example-8 span:after { bottom: 0; transition-delay: 250ms; }

.link--example-8:hover { color: #fff; }

.link--example-8:hover span:before,
.link--example-8:hover span:after,
.link--example-8:hover:before,
.link--example-8:hover:after { transform: none; background-color: #f2857e; opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Parallelogram
\* ------------------------------------------------------------ */

.link--example-9 { padding: 5px; z-index: 1; transition: color .3s; }
.link--example-9:before { z-index: -1; position: absolute; margin-top: -2px; top: -10%; right: -10%; bottom: -10%; left: -10%; transform: skewX(-65deg); opacity: 0; background-color: #f2857e; content: ''; transition: transform .3s, opacity .3s; }

.link--example-9:hover { color: #fff; }
.link--example-9:hover:before { transform: skewX(-15deg); opacity: 1; }
