/* ------------------------------------------------------------ *\
	Progress
\* ------------------------------------------------------------ */

.progress--1,
.progress--2 { width: 100%; min-width: 480px; position: relative; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.progress--1,
	.progress--2 { min-width: 360px; }	
}

/* Mobile */

$breakpoint-mobile {
	.progress--1,
	.progress--2 { min-width: 280px; }		
}

/*  Progress 1  */

.progress--1 { height: 40px; padding: 10px; background-color: rgba(0, 0, 0, .1); border-radius: 40px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), inset 0 -1px 1px rgba(255, 255, 255, .5); }
.progress--1 .progress__bar { height: 100%; border-radius: 20px; background-color: $blue; box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .4); position: relative; overflow: hidden; }
.progress--1 .progress__bar:after { content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, .05), rgba(255, 255, 255, .2) 12px, rgba(0, 0, 0, .05) 12px, rgba(0, 0, 0, .2) 27px); animation: animateStripes 1s linear infinite; }

@keyframes animateStripes {
	0% { background-position: 0 0 ; }
	100% { background-position: 39px 0; }
}

/*  Progress 2  */

.progress--2 { height: 24px; padding: 4px; background-color: rgba(0, 0, 0, .1); border-radius: 6px; box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25), 0 1px rgba(255, 255, 255, .08); }
.progress--2 .progress__bar { height: 100%; border-radius: 6px; box-shadow: inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .4); transition: width .4s linear, background .4s linear; }

#five:checked ~ .progress--2 > .progress__bar { width: 5%; background-color: #f63a0f; }
#twentyfive:checked ~ .progress--2 > .progress__bar { width: 25%; background-color: #f27011; }
#fifty:checked ~ .progress--2 > .progress__bar { width: 50%; background-color: #f2b01e; }
#seventyfive:checked ~ .progress--2 > .progress__bar { width: 75%; background-color: #f2d31b; }
#onehundred:checked ~ .progress--2 > .progress__bar { width: 100%; background-color: #86e01e; }

.radio { display: none; }
.label { display: inline-block; margin: 0 5px 20px; padding: 3px 8px; color: $black; border-radius: 3px; cursor: pointer; transition: background .4s, color .4s; }
.radio:checked + .label { color: $white; background: rgba(0, 0, 0, .5); }

/*  Progress Button Circle  */

.progress-button-circle { position: relative; display: inline-block; text-align: center; }
.progress-button-circle button { display: block; margin: 0 auto; padding: 0; width: 250px; height: 70px; border: 2px solid #1ecd97; border-radius: 40px; background: transparent; color: #1ecd97; font-size: 18px; transition: background-color .3s, color .3s, width .3s, border-width .3s, border-color .3s; }
.progress-button-circle button:hover { background-color: #1ecd97; color: $white; }
.progress-button-circle button:focus { outline: none; }
.progress-button-circle svg path { opacity: 0; fill: none; }
.progress-button-circle svg.progress-circle path { stroke: #1ecd97; stroke-width: 5; }
.progress-button-circle svg { position: absolute; top: 0; left: 50%; transform: translateX(-50%); pointer-events: none; }

.progress-button-circle svg.checkmark path,
.progress-button-circle svg.cross path { stroke: $white; stroke-linecap: round; stroke-width: 4; transition: opacity .1s; }

.loading.progress-button-circle button { width: 70px; border-width: 5px; border-color: #ddd; background-color: transparent; color: $white; }
.loading.progress-button-circle span { transition: opacity .15s; }

.loading.progress-button-circle span,
.success.progress-button-circle span,
.error.progress-button-circle span { opacity: 0; }

.progress-button-circle button span { transition: opacity .3s .1s; }

.success.progress-button-circle button,
.error.progress-button-circle button { transition: background-color .3s, width .3s, border-width .3s; }

.success.progress-button-circle button { border-color: #1ecd97; background-color: #1ecd97; }
.error.progress-button-circle button { border-color: #fb797e; background-color: #fb797e; }

.loading.progress-button-circle svg.progress-circle path,
.success.progress-button-circle svg.checkmark path,
.error.progress-button-circle svg.cross path { opacity: 1; transition: stroke-dashoffset .3s; }

.elastic.progress-button-circle button { transition: background-color .3s, color .3s, width .3s cubic-bezier(.25, .25, .4, 1.6), border-width .3s, border-color .3s; }
.loading.elastic.progress-button-circle button { transition: background-color .3s, color .3s, width .3s cubic-bezier(.6, -.6, .75, .75), border-width .3s, border-color .3s; }

/*  Progress Button Square  */

.notransition { transition: none !important; }

.progress-button { position: relative; display: inline-block; padding: 0 60px; outline: none; border: none; border-radius: 4px; background: $green; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-size: 1em; line-height: 4; }

.progress-button[disabled],
.progress-button[disabled].state-loading { cursor: default; }

.progress-button .content { position: relative; display: block; }

.progress-button .content::before,
.progress-button .content::after  { position: absolute; right: 20px; font-size: 18px; color: color($green shade(15%)); line-height: 3.1; opacity: 0; transition: opacity 0.3s 0.3s; }

.progress-button .content::before { content: "\2714"; /* Checkmark for success */ }
.progress-button .content::after { content: "\00D7"; /* Cross for error */ }

.progress-button.state-success .content::before,
.progress-button.state-error .content::after { opacity: 1; }

.progress-button .progress { background: color($green shade(7%)); }
.progress-button .progress-inner { position: absolute; left: 0; background: color($green shade(15%)); }

.progress-button[data-horizontal] .progress-inner { top: 0; width: 0; height: 100%; transition: width 0.3s, opacity 0.3s; }
.progress-button[data-vertical] .progress-inner {  bottom: 0; width: 100%; height: 0; transition: height 0.3s, opacity 0.3s; }

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] { position: relative; display: inline-block; padding: 0; background: transparent; perspective: 900px; }
.progress-button[data-perspective] .content { padding: 0 60px; background: $green; }
.progress-button[data-perspective] .progress-wrap { display: block; transition: transform 0.2s; transform-style: preserve-3d; }

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress { outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */ }

/* Individual styles */
/* Choose the effect(s) you want, delete the rest */

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] { overflow: hidden; }
.progress-button[data-style="fill"][data-horizontal] .content { z-index: 10; transition: transform 0.3s; }

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after { top: 100%; right: auto; left: 50%; transition: opacity 0.3s; transform: translateX(-50%); }

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content { transform: translateY(-100%); }

/* Fill vertical */
/* ====================== */

.progress-button[data-style="fill"][data-vertical] { overflow: hidden; }
.progress-button[data-style="fill"][data-vertical] .content { z-index: 10; transition: transform 0.3s; }

.progress-button[data-style="fill"][data-vertical] .content::before,
.progress-button[data-style="fill"][data-vertical] .content::after { top: 100%; right: auto; left: 50%; transition: opacity 0.3s; transform: translateX(-50%); }

.progress-button[data-style="fill"][data-vertical].state-success .content,
.progress-button[data-style="fill"][data-vertical].state-error .content { transform: translateY(-100%); }

/* Shrink horizontal */
/* ====================== */

.progress-button[data-style="shrink"] { /* common for horizontal and vertical */ overflow: hidden; transition: transform 0.2s; }
.progress-button[data-style="shrink"][data-horizontal] .content { transition: opacity 0.3s, transform 0.3s; }

.progress-button[data-style="shrink"][data-horizontal] .content::before,
.progress-button[data-style="shrink"][data-horizontal] .content::after { top: 100%; right: auto; left: 50%; transition: opacity 0.3s; transform: translateX(-50%); }

.progress-button[data-style="shrink"][data-horizontal].state-loading { transform: scaleY(0.3); }
.progress-button[data-style="shrink"][data-horizontal].state-loading .content { opacity: 0; }

.progress-button[data-style="shrink"][data-horizontal].state-success .content,
.progress-button[data-style="shrink"][data-horizontal].state-error .content { transform: translateY(-100%); }

/* Shrink vertical */
/* ====================== */

.progress-button[data-style="shrink"][data-vertical] .content { transition: opacity 0.3s, transform 0.3s; }

.progress-button[data-style="shrink"][data-vertical] .content::before,
.progress-button[data-style="shrink"][data-vertical] .content::after { top: 100%; right: auto; left: 50%; transition: opacity 0.3s; transform: translateX(-50%); }

.progress-button[data-style="shrink"][data-vertical].state-loading { transform: scaleX(0.1); }
.progress-button[data-style="shrink"][data-vertical].state-loading .content { opacity: 0; }

.progress-button[data-style="shrink"][data-vertical].state-success .content,
.progress-button[data-style="shrink"][data-vertical].state-error .content { transform: translateY(-100%); }

/* Rotate bottom 3d */
/* ====================== */

.progress-button[data-style="rotate-angle-bottom"] .progress { position: absolute; top: 100%; left: 0; width: 100%; height: 20px; box-shadow: 0 -1px 0 color($green shade(7%)); /* fix the blurriness that causes a gap */ transform: rotateX(-90deg); transform-origin: 50% 0%; }

.progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap { transform: rotateX(45deg); }

/* Rotate top 3d */
/* ====================== */

.progress-button[data-style="rotate-angle-top"] .progress { position: absolute; bottom: 100%; left: 0; width: 100%; height: 20px; box-shadow: 0 1px 0 color($green shade(7%)); /* fix the blurriness that causes a gap */ transform: rotateX(90deg); transform-origin: 50% 100%; }

.progress-button[data-style="rotate-angle-top"].state-loading .progress-wrap { transform: rotateX(-45deg); }

/* Rotate left 3d */
/* ====================== */

.progress-button[data-style="rotate-angle-left"] .progress { position: absolute; top: 0; right: 100%; width: 20px; height: 100%; box-shadow: 1px 0 0 color($green shade(7%)); /* fix the blurriness that causes a gap */ transform: rotateY(-90deg); transform-origin: 100% 50%; }

.progress-button[data-style="rotate-angle-left"].state-loading .progress-wrap { transform: rotateY(45deg); }

/* Rotate right 3d */
/* ====================== */

.progress-button[data-style="rotate-angle-right"] .progress { position: absolute; top: 0; left: 100%; width: 20px; height: 100%; box-shadow: -1px 0 0 color($green shade(7%)); /* fix the blurriness that causes a gap */ transform: rotateY(90deg); transform-origin: 0% 50%; }

.progress-button[data-style="rotate-angle-right"].state-loading .progress-wrap { transform: rotateY(-45deg); }

/* Rotate side down 3d */
/* ====================== */

.progress-button[data-style="rotate-side-down"] .progress { position: absolute; top: 100%; left: 0; width: 100%; height: 20px; transform: rotateX(-90deg); transform-origin: 50% 0%; backface-visibility: hidden; }

.progress-button[data-style="rotate-side-down"].state-loading .progress-wrap { transform: rotateX(90deg) translateZ(10px); }

/* Rotate side up 3d */
/* ====================== */

.progress-button[data-style="rotate-side-up"] .progress { position: absolute; bottom: 100%; left: 0; width: 100%; height: 20px; transform: rotateX(90deg); transform-origin: 50% 100%; backface-visibility: hidden; }

.progress-button[data-style="rotate-side-up"].state-loading .progress-wrap { transform: rotateX(-90deg) translateZ(10px); }

/* Rotate side left 3d */
/* ====================== */

.progress-button[data-style="rotate-side-left"] .progress-wrap { transform-origin: 0 50%; }
.progress-button[data-style="rotate-side-left"] .progress { position: absolute; top: 0; left: 0; width: 20px; height: 100%; transform: rotateY(90deg); transform-origin: 0 50%; }
.progress-button[data-style="rotate-side-left"].state-loading .progress-wrap { transform: translateX(50%) rotateY(90deg) translateZ(10px); }

/* Rotate side right 3d */
/* ====================== */

.progress-button[data-style="rotate-side-right"] .progress-wrap { transform-origin: 100% 50%; }
.progress-button[data-style="rotate-side-right"] .progress { position: absolute; top: 0; left: 100%; width: 20px; height: 100%; transform: rotateY(90deg); transform-origin: 0 50%; }
.progress-button[data-style="rotate-side-right"].state-loading .progress-wrap { transform: translateX(-50%) rotateY(-90deg) translateZ(10px); }

/* Rotate back 3d */
/* ====================== */

.progress-button[data-style="rotate-back"] .progress-wrap { transition-timing-function: ease-out; }
.progress-button[data-style="rotate-back"] .content { backface-visibility: hidden; }
.progress-button[data-style="rotate-back"] .progress { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; transform: rotateX(-180deg); transform-origin: 50% 0%; backface-visibility: hidden; }

.progress-button[data-style="rotate-back"].state-loading .progress-wrap { transform: rotateX(180deg) scaleX(0.6) scaleY(0.3); }

/* flip open 3d */
/* ====================== */

.progress-button[data-style="flip-open"] .content { z-index: 10; transition: transform 0.2s; transform-origin: 50% 0; }
.progress-button[data-style="flip-open"] .progress { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.progress-button[data-style="flip-open"].state-loading .content { transform: rotateX(45deg); }

/* slide down */
/* ====================== */

.progress-button[data-style="slide-down"] { padding: 0; overflow: visible; backface-visibility: hidden; }
.progress-button[data-style="slide-down"] .content { z-index: 10; padding: 0 60px; background: $green; }
.progress-button[data-style="slide-down"] .progress { position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: transform 0.2s; }
.progress-button[data-style="slide-down"].state-loading .progress { transform: translateY(10px); }

/* move-up */
/* ====================== */

.progress-button[data-style="move-up"] { padding: 0; overflow: visible; backface-visibility: hidden; }
.progress-button[data-style="move-up"] .content { z-index: 10; padding: 0 60px; background: $green; transition: transform 0.2s; }
.progress-button[data-style="move-up"] .progress { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.progress-button[data-style="move-up"].state-loading .content { transform: translateY(-10px); }

/* top-line */
/* ====================== */

.progress-button[data-style="top-line"] .progress-inner { height: 3px; }

.progress-button[data-style="top-line"] .content::before,
.progress-button[data-style="top-line"] .content::after { right: auto; left: 100%; margin-left: 25px; }

/* lateral-lines */
/* ====================== */

.progress-button[data-style="lateral-lines"] .progress-inner { width: 100%; border-right: 3px solid color($green shade(15%)); border-left: 3px solid color($green shade(15%)); background: transparent; }

.progress-button[data-style="lateral-lines"] .content::before,
.progress-button[data-style="lateral-lines"] .content::after { right: auto; left: 100%; margin-left: 25px; }

/*  Color variations  */
.progress-button--blue,
.progress-button--blue[data-perspective] .content,
.progress-button--blue[data-style="move-up"] .content { background-color: $blue; }

.progress-button--blue .progress { background-color: color($blue shade(7%)); }
.progress-button--blue .progress-inner { background-color: color($blue shade(15%)); }

.progress-button--blue .content::before, 
.progress-button--blue .content::after { color: color($blue shade(15%)); }

.progress-button--blue[data-style="rotate-angle-left"] .progress { box-shadow: -1px 0 0 color($blue shade(7%)); }
.progress-button--blue[data-style="rotate-angle-top"] .progress { box-shadow: 0 1px 0 color($blue shade(7%)); }
.progress-button--blue[data-style="rotate-angle-right"] .progress { box-shadow: 1px 0 0 color($blue shade(7%)); }
.progress-button--blue[data-style="rotate-angle-bottom"] .progress { box-shadow: 0 -1px 0 color($blue shade(7%)); }

.progress-button--red,
.progress-button--red[data-perspective] .content,
.progress-button--red[data-style="move-up"] .content { background-color: $brand; }

.progress-button--red .progress { background-color: color($brand shade(7%)); }
.progress-button--red .progress-inner { background-color: color($brand shade(15%)); }

.progress-button--red .content::before, 
.progress-button--red .content::after { color: color($brand shade(15%)); }

.progress-button--red[data-style="rotate-angle-left"] .progress { box-shadow: -1px 0 0 color($brand shade(7%)); }
.progress-button--red[data-style="rotate-angle-top"] .progress { box-shadow: 0 1px 0 color($brand shade(7%)); }
.progress-button--red[data-style="rotate-angle-right"] .progress { box-shadow: 1px 0 0 color($brand shade(7%)); }
.progress-button--red[data-style="rotate-angle-bottom"] .progress { box-shadow: 0 -1px 0 color($brand shade(7%)); }

.progress-button--purple,
.progress-button--purple[data-perspective] .content,
.progress-button--purple[data-style="move-up"] .content { background-color: $purple; }

.progress-button--purple .progress { background-color: color($purple shade(7%)); }
.progress-button--purple .progress-inner { background-color: color($purple shade(15%)); }

.progress-button--purple .content::before, 
.progress-button--purple .content::after { color: color($purple shade(15%)); }

.progress-button--purple[data-style="rotate-angle-left"] .progress { box-shadow: -1px 0 0 color($purple shade(7%)); }
.progress-button--purple[data-style="rotate-angle-top"] .progress { box-shadow: 0 1px 0 color($purple shade(7%)); }
.progress-button--purple[data-style="rotate-angle-right"] .progress { box-shadow: 1px 0 0 color($purple shade(7%)); }
.progress-button--purple[data-style="rotate-angle-bottom"] .progress { box-shadow: 0 -1px 0 color($purple shade(7%)); }

/*  Progress Bar 3D  */

.progress-factor { font-size: 5em; padding: 1em .2em 0; flex: 0 0 320px; }
.progress-bar { font-size: 1em; text-align: center; width: 100%; height: 1em; perspective: 12em; perspective-origin: 50% 50%; }

.bar { font-size: 1em; position: relative; display: inline-block; width: 4em; height: 1em; transition: all 0.5s ease-in-out; transform-style: preserve-3d; }
.bar.regular-width { width: 1em; }
.bar.regular-width[aria-valuenow] .percentage:before { width: 100%; }

.bar.has-rotation { transform: rotateX(60deg); }

.bar .bar-face { position: absolute; bottom: 0; left: 0; display: inline-block; box-sizing: border-box; width: 100%; height: 100%; background-color: rgba(10, 64, 105, 0.3); backface-visibility: visible; transition: transform 0.5s ease-out; }
.bar .bar-face.face-position { transform-origin: 50% 100%; }
.bar .bar-face.face-position.roof { transform: translateZ(1em); transition-delay: 2s; }
.bar .bar-face.face-position.front { transform: rotateX(-90deg); transition-delay: 0s; }
.bar .bar-face.face-position.right { left: auto; right: -.5em; width: 1em; transform: rotateX(-90deg) rotateY(90deg) translateX(0.5em); transition-delay: 0.5s; }
.bar .bar-face.face-position.back { transform: rotateX(-90deg) rotateY(0deg) translateZ(-1em); transition-delay: 1s; }
.bar .bar-face.face-position.left { width: 1em; transform: rotateX(-90deg) rotateY(-90deg) translateX(-0.5em) translateZ(0.5em); transition-delay: 1.5s; }

.bar .bar-face.percentage:before { content: ''; font-size: .25em; line-height: 4em; position: absolute; bottom: 0; width: 0; height: 100%; margin: 0; display: block; box-sizing: border-box; color: rgba(68, 68, 68, 0.8); transition: all 0.5s ease-out; }

.bar.cyan .bar-face, .bar.cyan[aria-valuenow='0'] .face-position.right { background-color: rgba(255, 255, 255, 0.3); }
.bar.cyan[aria-valuenow='100'] .face-position.right { transition-delay: 0.5s; }
.bar.cyan .face-position.floor.volume-lights { box-shadow: 0 -0.2em 1em rgba(0, 0, 0, 0.15), 0 0.2em 0.1em -5px rgba(0, 0, 0, 0.3), 0 -0.75em 1.75em rgba(254, 254, 254, 0.6); }
.bar.cyan .percentage:before { background-color: rgba(87, 202, 244, 0.5); }
.bar.cyan .volume-lights.shine:before { box-shadow: 0 1.6em 3em rgba(87, 202, 244, 0.25); }
.bar.cyan:not(.has-colors)[aria-valuenow] .face-position { background-color: rgba(68, 68, 68, 0.6); }
.bar.cyan:not(.has-colors) .percentage:before { background-color: transparent; }
.bar.cyan:not(.has-colors) .volume-lights.shine:before { box-shadow: 0 1.6em 3em rgba(87, 202, 244, 0); }

.bar[aria-valuenow='100'] .percentage:before { width: 100%; animation: animateProgress 2.5s infinite; }

@keyframes animateProgress {
	0% { width: 0; }
	100% { width: 100%; }
}