/* ------------------------------------------------------------ *\
	Image
\* ------------------------------------------------------------ */

.image { position: relative; width: 100%; height: 100%; overflow: hidden; }
.image .image__inner { width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; will-change: transform; transition: transform $d $e; }

/*  Image zoomin  */

.effect-preview .image__inner { background-size: cover;  }

.effect-preview:hover .image__inner,
.image--zoomin:hover .image__inner { transform: scale(1.2); }

/*  Image zoomin-rotate  */

.image--zoomin-rotate:hover .image__inner { transform: scale(1.2) rotate(5deg); }

/*  Image zoomout  */

.image--zoomout .image__inner { transform: scale(1.2); }
.image--zoomout:hover .image__inner { transform: scale(1); }

/*  Image zoomout-rotate  */

.image--zoomout-rotate .image__inner { transform: scale(1.2) rotate(5deg); }
.image--zoomout-rotate:hover .image__inner { transform: scale(1) rotate(0deg); }

/*  Image zoomout-fade  */

.image--zoomout-fade .image__inner { will-change: transform, opacity; transform: scale(1.2); transition: opacity $d $e, transform $d $e; }
.image--zoomout-fade:hover .image__inner { opacity: .8; transform: scale(1); }

/*  Image zoomin-fade  */

.image--zoomin-fade .image__inner { will-change: transform, opacity; transition: opacity $d $e, transform $d $e; }
.image--zoomin-fade:hover .image__inner { opacity: .8; transform: scale(1.2); }

