/* ------------------------------------------------------------ *\
	Effect
\* ------------------------------------------------------------ */

.effect {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;

	a {
		color: currentColor;
		transition: color 0.35s;
	}

	h2 {
		font-weight: 400;
		font-size: 1.375em;
		text-transform: uppercase;
		transition: opacity 0.35s, visibility 0.35s, transform 0.35s, margin 0.35s;
		font-weight: 400;
	}

	p {
		font-weight: 300;
		opacity: 0;
		visibility: hidden;
		transition: transform 0.35s, opacity 0.35s, visibility 0.35s;
	}

	.effect__inner {
		padding: 25px 15px;
		height: 100%;
		color: #fff;
		transition: transform 0.35s;
	}

	.effect__image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		backface-visibility: hidden;
		transition: transform 0.35s;

		&:after {
			content: '';
			opacity: 0;
			visibility: hidden;
			background: rgba(126, 189, 242, 0.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
		}
	}

	.effect__body {
		transition: transform 0.35s;
	}

	.effect__content {
		font-size: 0.875em;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: left;
		align-self: flex-end;
		text-transform: uppercase;
	}

	.logo {
		img {
			width: 100%;
		}
	}

	&:hover {
		p {
			opacity: 1;
			visibility: visible;
		}

		.effect__image {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (max-width: 1600px) {
		h2 {
			font-size: 18px;
		}
		p {
			font-size: 12px;
		}
	}

	/*  Triangle  */
	&--triangle {
		&:before {
			content: '';
			display: block;
			width: 100%;
			background-color: rgba(103, 89, 131, 0.6);
			position: absolute;
			left: 0;
			top: 0;
			bottom: 85%;
			transition: transform 0.35s;
			transform: translateY(-100%);
		}

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: #675983;
			opacity: 0.3;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}

		h2 {
			transform: translateY(45px);
		}

		.effect__inner {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&:before,
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(103, 89, 131, 0.6);
				position: absolute;
				top: 50%;
				z-index: 1;
				transition: transform 0.35s;
			}

			&:before {
				right: 44%;
				transform: translateX(-100%) rotate(48deg);
			}

			&:after {
				left: 44%;
				transform: translateX(100%) rotate(-48deg);
			}
		}

		.effect__image {
			&:after {
				display: none;
			}
		}

		.effect__body {
			height: 80%;
			width: 60%;
			text-align: center;
			padding: 25px 0;
		}

		.socials {
			font-size: 18px;
			color: #fff;

			ul {
				justify-content: center;
				align-items: center;
			}

			li {
				opacity: 0;
				visibility: hidden;
				transition-delay: 0.025s;
				transform: translate(-40px, 20px);

				&:nth-child(2) {
					transition-delay: 0.05s;
					transform: translate(-20px, -20px);
				}

				&:nth-child(3) {
					transition-delay: 0.075s;
					transform: translate(20px, -20px);
				}

				&:last-child {
					transform: translate(40px, 20px);
					transition-delay: 0.1s;
				}

				& + li {
					margin-left: 10px;
				}
			}
		}

		&:hover {
			&:before {
				transform: translateY(0);
			}

			h2 {
				transform: translateY(0);
			}

			.effect__inner {
				&:before {
					transform: translateX(0) rotate(48deg);
				}

				&:after {
					transform: translateX(0) rotate(-48deg);
				}
			}

			.socials {
				li {
					opacity: 1;
					visibility: visible;
					transform: translate(0);
				}
			}
		}

		@media (max-width: 479px) {
			.effect__body {
				padding: 10px 0;
			}

			.socials {
				font-size: 14px;
			}
		}
	}

	/*  Flash  */
	&--flash {
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transform: translate(100%, -100%) scale(1.2) rotate(45deg);
			transition: transform 0.65s;
		}

		.effect__inner {
			display: flex;
			flex-flow: row wrap;
		}

		.effect__head {
			flex: 0 0 100%;
			max-width: 100%;
			z-index: 1;
		}

		.effect__image {
			transform: scale(1.05);

			&:after {
				background-color: rgba(103, 89, 131, 0.5);
			}
		}

		.effect__body {
			flex: 0 0 40%;
			max-width: 40%;
			align-self: flex-end;
			text-align: right;
			padding-right: 10px;
			margin-left: auto;
			position: relative;
			z-index: 1;

			&:after {
				opacity: 0;
				visibility: hidden;
				content: '';
				width: 3px;
				background-color: currentColor;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				transition: opacity 0.35s, visibility 0.35s;
			}
		}

		&:hover {
			&:after {
				transform: translate(-100%, 100%) scale(1.2) rotate(45deg);
			}

			.effect__image {
				transform: scale(1);
			}

			.effect__body {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media (max-width: 479px) {
			.effect__body {
				flex: 0 0 60%;
				max-width: 60%;
			}
		}
	}

	/*  Show  */
	&--show {
		h2 {
			text-align: left;
		}

		.effect__image {
			&:after {
				background: rgba(255, 255, 255, 0.5);
			}
		}

		.effect__body {
			padding: 15px;
			margin-top: 15px;
			position: relative;
			transition: transform 0.35s;

			&:before {
				content: '';
				width: 100%;
				height: 1px;
				background: rgba(255, 255, 255, 0.5);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: height 0.35s;
			}
		}

		.socials {
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.35s, visibility 0.35s;

			li {
				& + li {
					margin-left: 15px;
				}
			}
		}

		&:hover {
			.effect__body {
				transform: translateY(15px);

				&:before {
					height: 100%;
				}
			}

			.socials {
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 479px) {
			.effect__body {
				margin-top: 5px;
			}

			.socials {
				font-size: 14px;
			}
		}
	}

	/*  Zoomer  */
	&--zoomer {
		overflow: visible;

		&:before {
			content: '';
			opacity: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			display: block;
			box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
			position: absolute;
			top: 0;
			left: 0;
			transition: opacity 0.35s, visibility 0.35s;
		}

		h2 {
			background-color: #fff;
			padding: 10px;
		}

		p {
			background-color: #fff;
			padding: 10px;
		}

		.effect__inner {
			color: #353535;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			transition: transform 0.35s;
		}

		.effect__head {
			width: 100%;
		}

		.effect__body {
			width: 100%;
			color: #353535;
			margin-top: 10px;
			transform: scale(0.9);
		}

		&:hover {
			&:before {
				opacity: 1;
				visibility: visible;
			}

			.effect__inner {
				transform: perspective(1000px) translateZ(20px);
			}

			.effect__body {
				transform: scale(1);
			}
		}
	}

	/*  Squares  */
	&--squares {
		h2 {
			transform: translate(15px, 15px);
			transition: transform 0.35s;
		}

		h2,
		.effect__body {
			max-width: 50%;
			height: 50%;
			padding: 15px;
			border: 3px solid #fff;
		}

		.effect__image {
			&:after {
				background: linear-gradient(90deg, rgba(37, 141, 200, 0.4) 0, rgba(104, 60, 19, 0.4));
			}
		}

		.effect__body {
			opacity: 0;
			visibility: hidden;
			transform: translate(-50%, -50%);
			text-align: right;
			margin-left: auto;
			transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
		}

		&:hover {
			h2 {
				transform: none;
			}

			.effect__body {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}

		@media (max-width: 1200px) {
			h2 {
				font-size: 14px;
			}

			h2,
			.effect__body {
				padding: 4px;
			}
		}

		@media (max-width: 479px) {
			p {
				font-size: 10px;
			}
		}
	}

	/*  Flash Secondary  */
	&--flash-secondary {
		h2 {
			transform: scale3d(0.8, 0.8, 1);
		}

		.effect__image {
			&:after {
				background: linear-gradient(90deg, rgba(37, 141, 200, 0.4) 0, rgba(104, 60, 19, 0.4));
			}
		}

		.effect__inner {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				width: 100%;
				height: 100%;
				border-width: 1px 0;
				border-color: #fff;
				border-style: solid;
				position: absolute;
				top: 0;
				left: 0;
				transform: rotate(45deg) scale3d(1, 0, 1);
				transform-origin: 50% 50%;
				transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
			}
		}

		.effect__body {
			max-width: 70%;
			margin-top: 10px;
			transform: scale(0.7);
		}

		&:hover {
			h2 {
				transform: scale3d(1, 1, 1);
			}

			.effect__image {
				transform: scale(1.1);
			}

			.effect__inner {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: rotate(45deg) scale3d(1.1, 1.1, 1.1);
				}
			}

			.effect__body {
				transform: scale(1);
			}
		}
	}

	/*  Photos  */
	&--photos {
		.effect__image {
			&:after {
				background: rgba(0, 0, 0, 0.2);
			}
		}

		.effect__inner {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column nowrap;

			&:after {
				content: '';
				width: 90%;
				height: 90%;
				border: 3px solid #fff;
				box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.2);
				margin: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.2);
				transition: transform 0.35s;
			}
		}

		.effect__head {
			max-width: 76%;
		}

		.effect__body {
			max-width: 76%;
			transform: scale(1.2);
		}

		&:hover {
			h2 {
				transform: scale(0.8);
			}

			.effect__inner {
				&:after {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			.effect__body {
				transform: scale(1);
			}
		}
	}

	/*  Circle  */
	&--circle {
		h2 {
			text-align: left;
			position: relative;
			z-index: 1;
		}

		.effect__image {
			width: calc(100% + 10px);
			transform: scale(1.2) translate(0);

			&:after {
				background: rgba(0, 0, 0, 0.2);
			}
		}

		.effect__inner {
			display: flex;
			flex-flow: column nowrap;
		}

		.effect__body {
			max-width: 30%;
			text-align: right;
			margin-left: auto;
			margin-top: auto;
			position: relative;
			transform: translate(18px, 18px);
			text-align: center;

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.2);
				border: 2px solid currentColor;
				position: absolute;
				top: -30px;
				bottom: -27px;
				left: -30px;
				right: -17px;
				transform: scale(0.4);
				transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
			}
		}

		&:hover {
			h2 {
				transform: translate(-5px, -5px);
			}

			.effect__image {
				transform: scale(1.2) translate(-10px, -10px);
			}

			.effect__body {
				transform: translate(0);

				&:after {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
			}
		}

		@media (max-width: 1200px) {
			.effect__body {
				max-width: 40%;

				&:after {
					width: 180px;
					height: 180px;
				}
			}
		}

		@media (max-width: 1023px) {
			.effect__body {
				&:after {
					width: 210px;
					height: 210px;
					top: -40px;
					left: auto;
					right: -36px;
				}
			}
		}

		@media (max-width: 767px) {
			.effect__inner {
				padding: 15px;
			}

			.effect__body {
				max-width: 30%;

				&:after {
					width: 230px;
					height: 230px;
					top: -60px;
					left: auto;
					right: -25px;
				}
			}
		}

		@media (max-width: 479px) {
			.effect__body {
				max-width: 60%;

				&:after {
					width: 250px;
					height: 250px;
					top: -60px;
					right: -30px;
				}
			}
		}
	}

	/*  Zoomer Secondary  */
	&--zoomer-secondary {
		h2 {
			transform: scale(0.7);
		}

		.effect__inner {
			display: flex;
			flex-flow: column nowrap;
		}

		.effect__image {
			&:after {
				background: linear-gradient(90deg, rgba(37, 141, 200, 0.8) 0, rgba(104, 60, 19, 0.8));
			}
		}

		.effect__body {
			opacity: 0;
			visibility: hidden;
			max-width: 80%;
			padding: 15px;
			border: 3px solid currentColor;
			margin: auto auto 0;
			transform: scale(0.5);
			transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
		}

		&:hover {
			h2 {
				transform: scale(1);
			}

			.effect__image {
				transform: scale(1.5);
			}

			.effect__body {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
		}

		@media (max-width: 479px) {
			.effect__body {
				padding: 5px;
			}
		}
	}
}
