/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
	color: #353535;
	font-size: 15px;
	line-height: 1;

	a {
		display: block;
		width: 100%;
		height: 100%;
		line-height: 1;
		text-decoration: none;
		transition: color 0.35s;

		&:hover {
			color: #f2857e;
		}
	}

	ul {
		list-style: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		line-height: 1;
	}

	li {
		transition: transform 0.35s, opacity 0.35s, visibility 0.35s;
	}

	.fa-twitter {
		font-size: 16px;
	}

	.fa-instagram {
		font-size: 16px;
	}
}
