/* ------------------------------------------------------------ *\
	Keyframes
\* ------------------------------------------------------------ */

@keyframes rotate-edges {
	0% { border-radius: 0 0 0 0; }
	25% { border-radius: 25% 0 25% 0; }
	50% { border-radius: 0 25% 0 25%; }
	75% { border-radius: 25% 0 25% 0; }
	100% { border-radius: 0 0 0 0; }
}
