/* ------------------------------------------------------------ *\
	Image
\* ------------------------------------------------------------ */

.image { position: relative; width: 62%; height: 100%; margin: 0 auto; overflow: hidden; display: flex; align-items: center; }
.image .image__inner { display: inline-block; position: relative; overflow: hidden; width: 100%; height: 0; padding-bottom: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; will-change: border-radius; transition: border-radius $d $e; }
.image .image__media { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; background-size: cover; }

/* Mobile */

$breakpoint-mobile {
	.image { width: 56%; }
}

/*  Image transform-edges  */
.image--transform-edges:hover .image__inner { border-radius: 25% 0 25% 0; }

/*  Image transform-round  */

.image--transform-round .image__media { transition: border-radius $d $e;  }
.image--transform-round:hover .image__media { border-radius: 50%; }

/*  Image transform-rotate-edges  */

.image--transform-rotate-edges .image__inner:hover { animation: rotate-edges $a-d $e infinite; }

/*  Image transform-edges-small  */

.image--transform-edges-small .image__inner:hover { border-radius: 10px; }

/*  Image zoomin-octo  */

.image--transform-octo .image__media,
.image--transform-octo .image__inner { transition: transform $d $e; will-change: transform; }

.image--transform-octo .image__inner { overflow: hidden; }


.image--transform-octo:hover .image__inner { transform: rotate(45deg); }
.image--transform-octo:hover .image__media { transform: rotate(-45deg); }

/*  image--transform-skewX  */

.image--transform-skewX .image__media,
.image--transform-skewX .image__inner { transition: transform $d $e; will-change: transform; }

.image--transform-skewX:hover .image__inner { transform: skewX(45deg); }
.image--transform-skewX:hover .image__media { transform: skewX(-45deg); }


/*  image--transform-skewY  */

.image--transform-skewY .image__media,
.image--transform-skewY .image__inner { transition: transform $d $e; will-change: transform; }

.image--transform-skewY:hover .image__inner { transform: skewY(45deg); }
.image--transform-skewY:hover .image__media { transform: skewY(-45deg); }


/*  image--transform-rotate3d  */


.image--transform-rotate3d { overflow: visible; perspective: 500px; }
.image--transform-rotate3d .image__inner { transition: transform $d $e; will-change: transform; }

.effect-preview:hover .image--transform-rotate3d .image__inner,
.image--transform-rotate3d:hover .image__inner { transform-style: preserve-3d; transform: rotateY(20deg) }


/*  image--transform-rotate3d  */

.image--transform-rotate3d-flip { overflow: visible; perspective: 500px; }
.image--transform-rotate3d-flip .image__inner { transition: transform $d $e; will-change: transform; }

.image--transform-rotate3d-flip:hover .image__inner { transform-style: preserve-3d; transform: rotateY(-20deg) }

/*  image--transform-flip  */

.image--transform-flip { overflow: visible; perspective: 500px; }
.image--transform-flip .image__inner { transition: transform $d $e; will-change: transform; }

.image--transform-flip:hover .image__inner { transform-style: preserve-3d; transform: rotateY(-180deg) }

/*  image--transform-flipY  */

.image--transform-flipY { overflow: visible; perspective: 500px; }
.image--transform-flipY .image__inner { transition: transform $d $e; will-change: transform; }

.image--transform-flipY:hover .image__inner { transform-style: preserve-3d; transform: rotateX(-180deg) }
