/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Square
\* ------------------------------------------------------------ */

.link--example-1 { transition: color .3s; padding: 15px; }

.link--example-1:before,
.link--example-1:after { position: absolute; left: 0; right: 0; bottom: 0; content: ''; height: 2px; transform: scaleX(0); }

.link--example-1:before { top: 0; border-top: 2px solid #f2857e; border-right: 2px solid #f2857e; transform-origin: 0 0; transition: transform .2s .6s, height .2s .4s; }
.link--example-1:after { bottom: 0; border-bottom: 2px solid #f2857e; border-left: 2px solid #f2857e; transform-origin: 100% 0; transition: height .2s, transform .2s .2s; }

.link--example-1:hover { color: #f2857e; }

.link--example-1:hover:before,
.link--example-1:hover:after { transform: none; height: 100%; }

.link--example-1:hover:before { transition: transform .2s, height .2s .2s; }
.link--example-1:hover:after { transition: transform .2s .4s, height .2s .6s; }

/* ------------------------------------------------------------ *\
	Link Square Quick
\* ------------------------------------------------------------ */

.link--example-2 { transition: color .3s; }
.link--example-2 span { display: block; padding: 10px; }

.link--example-2:before,
.link--example-2:after,
.link--example-2 span:before,
.link--example-2 span:after { position: absolute; content: ''; background-color: #f2857e; transition: transform .3s; }

.link--example-2:before { left: 0; right: 0; top: 0; height: 2px; transform-origin: 0 0; transform: scaleX(0); }
.link--example-2:after { left: 0; right: 0; bottom: 0; height: 2px; transform-origin: 100% 0; transform: scaleX(0); }

.link--example-2 span:before { top: 0; left: 0; bottom: 0; width: 2px; transform-origin: 0 100%; transform: scaleY(0); }
.link--example-2 span:after { top: 0; right: 0; bottom: 0; width: 2px; transform-origin: 0 0; transform: scaleY(0); }

.link--example-2:hover:before,
.link--example-2:hover:after,
.link--example-2:hover span:after,
.link--example-2:hover span:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link Square Centered
\* ------------------------------------------------------------ */

.link--example-3 { transition: color .3s; }
.link--example-3 span { display: block; padding: 10px; }

.link--example-3:before,
.link--example-3:after,
.link--example-3 span:before,
.link--example-3 span:after { position: absolute; content: ''; background-color: #f2857e; transition: transform .3s; transform-origin: center; }

.link--example-3:before { left: 0; right: 0; top: 0; height: 2px; transform: scaleX(0); }
.link--example-3:after { left: 0; right: 0; bottom: 0; height: 2px; transform: scaleX(0); }

.link--example-3 span:before { top: 0; left: 0; bottom: 0; width: 2px; transform: scaleY(0); }
.link--example-3 span:after { top: 0; right: 0; bottom: 0; width: 2px; transform: scaleY(0); }

.link--example-3:hover:before,
.link--example-3:hover:after,
.link--example-3:hover span:after,
.link--example-3:hover span:before { transform: none; }

/* ------------------------------------------------------------ *\
	Link Focus
\* ------------------------------------------------------------ */

.link--example-4:before,
.link--example-4:after,
.link--example-4 span:before,
.link--example-4 span:after { position: absolute; width: 10px; height: 10px; content: ''; border: 2px solid #f2857e; transition: transform .3s, opacity .3s; opacity: 0; }

.link--example-4:before { top: -10px; left: -10px; border-right-color: transparent; border-bottom-color: transparent; transform: translate(-5px, -5px);}
.link--example-4:after { top: -10px; right: -10px; border-left-color: transparent; border-bottom-color: transparent; transform: translate(5px, -5px); }

.link--example-4 span:before { bottom: -10px; left: -10px; border-top-color: transparent; border-right-color: transparent; transform: translate(-5px, 5px); }
.link--example-4 span:after { bottom: -10px; right: -10px; border-top-color: transparent; border-left-color: transparent; transform: translate(5px, 5px); }

.link--example-4:hover:before,
.link--example-4:hover:after,
.link--example-4:hover span:before,
.link--example-4:hover span:after { transform: none; opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Square Push
\* ------------------------------------------------------------ */

.link--example-5 { padding: 10px; overflow: hidden; }

.link--example-5:before,
.link--example-5:after { content: ''; position: absolute; width: 2px; height: 100%; background-color: #f2857e; transform: scaleY(0); transition: transform 0.3s; }

.link--example-5:before { top: 0; left: 0; transform-origin: top left; }
.link--example-5:after { bottom: 0; right: 0; transform-origin: bottom right; }


.link--example-5 span:before,
.link--example-5 span:after { content: ''; position: absolute; width: 100%; height: 2px; background-color: #f2857e; transform: scaleX(0); transition: transform 0.3s; }

.link--example-5 span:before { top: 0; left: 0; transform-origin: top left; }
.link--example-5 span:after { bottom: 0; right: 0; transform-origin: bottom right; }

.link--example-5:hover:before,
.link--example-5:hover:after { transform: scaleY(1); }

.link--example-5:hover span:before,
.link--example-5:hover span:after { transform: scaleY(1); }

/* ------------------------------------------------------------ *\
	Link Frame Around
\* ------------------------------------------------------------ */

.link--example-6 { display: inline-block; padding: 0.7em calc(0.7em * 1.2); border: 3px solid transparent; }
.link--example-6:after { content: ''; position: absolute; bottom: -3px; left: calc(0.7em * 1.2); right: calc(0.7em * 1.2); transform-origin: left; height: 3px; background: #f2857e; transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s; }

.link--example-6 .text { transform: translate3d(0, 0.7em, 0); display: block; transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s; }
.link--example-6:hover .text { transform: translate3d(0,0,0); transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s; }

.link--example-6 .sides:before { right: -3px; transform-origin: top; transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s; }
.link--example-6 .front:before { top: -3px; transform-origin: left; transition: transform 0.08s linear 0.43s; }

.link--example-6 .sides:before,
.link--example-6 .front:before,
.link--example-6 .sides:after,
.link--example-6 .front:after { content: ''; position: absolute; background-color: #f2857e; }

.link--example-6 .sides:before,
.link--example-6 .sides:after { top: -3px; bottom: -3px; transform: scale3d(1,0,1); width: 3px; }

.link--example-6 .front:before,
.link--example-6 .front:after { left: -3px; right: -3px; transform: scale3d(0, 1, 1); height: 3px; }

.link--example-6 .front:after { bottom: -3px; transform-origin: right; transition: transform 0.3s cubic-bezier(1,0,.65,1.01); }
.link--example-6 .sides:after { left: -3px; transform-origin: bottom; transition: transform 0.08s linear 0.51s; }

.link--example-6:hover:after { right: -3px; left: -3px; transform: scale3d(0, 1, 1); transform-origin: right; transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s; }

.link--example-6:hover .front:after { right: -3px; left: -3px; transform: scale3d(0,1,1); transform-origin: right; transition: transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s, right 0.2s cubic-bezier(1,0,.65,1.01), left 0s 0.3s; }

.link--example-6:hover .sides:before,
.link--example-6:hover .front:before,
.link--example-6:hover .sides:after,
.link--example-6:hover .front:after { transform: scale3d(1,1,1); }

.link--example-6:hover .sides:before { transform-origin: bottom; transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s; }
.link--example-6:hover .front:before { transform-origin: right; transition: transform 0.08s linear 0.4s; }
.link--example-6:hover .sides:after { transform-origin: top; transition: transform 0.08s linear 0.48s; }
.link--example-6:hover .front:after { transform-origin: left; transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s; }

/* ------------------------------------------------------------ *\
	Link Strange
\* ------------------------------------------------------------ */

.link--example-7 { padding: 6px; overflow: hidden; }

.link--example-7 span { position: relative; z-index: 1; }

.link--example-7:before,
.link--example-7:after { content: ""; position: absolute; top: 0; left: 0; z-index: 0; transform: rotate(-45deg); transform-origin: left center; width: 100%; height: 100%; background-color: #000; opacity: 0; transition: all 0.4s; clip-path: polygon(5% 0, 15% 15%, 0 5%, 0 95%, 15% 85%, 5% 100%, 95% 100%, 85% 85%, 100% 95%, 100% 5%, 85% 15%, 95% 0); }
.link--example-7:after { left: -3px; transform: rotate(-45deg) scale(0.955,0.85); transform-origin: right center; background-color: #000; clip-path: none; }

.link--example-7:hover { color: #fff; }

.link--example-7:hover:after { transform: rotate(0) scale(0.955,0.85); background-color: #F2857E; opacity: 1; }
.link--example-7:hover:before { transform: rotate(0); opacity: 1; }
