/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px $color-white inset; }

.field { width: 250px; height: 38px; padding: 0 10px; color: $brand; border: 0; border-bottom: 2px solid $color-black; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease; }

.field--border { border: 2px solid $color-black; }

.field--push { transition: all $d ease; }
.field--push:focus { padding: 0 20px; border-color: $brand; }

.field-alt { width: 250px; height: 50px; padding: 0 10px; color: $brand; border: 0; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease; font-size: 25px; }

.field-alt--second { height: 0; margin-top: 10px; border-top: 2px solid $brand; background-color: $color-darkgrey; }
.field-alt--second:focus { height: 50px; margin-top: 10px; }
.field-alt--second.active { height: 50px; margin-top: 10px; }

.field-animation { width: 250px; height: 50px; padding: 0 10px; color: $brand; border: 2px solid $color-black; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease; }
.field-animation:focus,
.field-animation.active { border-color: $brand }

.field-animation-2 { position: absolute; top: 0; left: 0; width: 250px; height: 50px; padding: 0 10px; color: $brand; border: 0; border-radius: 0; font-size: 16px; background-color: $color-mediumgrey; transition: all $d ease; }

.field-icon { width: 250px; height: 50px; padding: 0 10px 0 45px; color: $brand; border: 2px solid $color-black; border-radius: 0; font-size: 16px; background-color: transparent; transition: all $d ease; }
.field-icon:focus,
.field-icon.active { border-color: $brand }

.textarea {}
.select {}
.radio {}
.checkbox {}
