/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {}
.form .form__controls { position: relative; }

/* ------------------------------------------------------------ *\
	Form Label
\* ------------------------------------------------------------ */

.form-label {}
.form-label .field-alt { position: relative; z-index: 1; }
.form-label .form__row { position: relative; overflow: hidden; }
.form-label .form__row--offstet-botttom { padding: 0 0 30px; }
.form-label .form__row--wave { padding: 0 0 56px; }
.form-label .form__controls { position: relative; width: 100%; height: 100%; }
.form-label .form__label { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 13px 0; text-align: left; pointer-events: none; }
.form-label .form__label:before { content: ''; position: absolute; top: -97%; left: 0; right: 0; width: 100%; height: 100%; background: $color-black; transition: all .3s ease; }
.form-label .form__label:after { content: ''; position: absolute; top: 100%; left: 0; right: 0; width: 100%; height: 2px; background: $color-black; transition: all .3s ease; }
.form-label .form__label span { position: relative; display: block; transition: all .3s ease; font-size: 20px; color: $brand; }

.form-label .form__label-second { position: absolute; top: 0; left: 0; right: 0; display: block; text-align: left; line-height: 1; font-size: 20px; color: $brand; transition: all .3s ease; }

.form-label .field-alt:focus ~ .form__label:before  { top: 0; }
.form-label .field-alt:focus ~ .form__label span { transform: translateY(50px); font-size: 17px; opacity: .8; }

.form-label .field-alt.active ~ .form__label:before  { top: 0; }
.form-label .field-alt.active ~ .form__label span { transform: translateY(50px); font-size: 17px; opacity: .8; }

.form-label .form__controls--second { padding-top: 15px; }
.form-label .field-alt--second:focus + .form__label-second { font-size: 16px; }

.form-label .form__controls--wave { padding: 30px 0 0; }

.form-label .form__label-wave { position: absolute; bottom: 7px; left: 0; right: 0; display: block; text-align: left; line-height: 1; font-size: 20px; color: $brand; transition: .3s ease; transition-delay: .075s; }
.form-label .field-alt.active ~ .form__label-wave,
.form-label .field-alt:focus ~ .form__label-wave { bottom: 50px; font-size: 16px; }

.form-label .form__label-wave--alt { bottom: 15px }

.effect-preview:hover .form-label .form__label-wave--alt,
.form-label .field-alt.active ~ .form__label-wave--alt,
.form-label .field-alt:focus ~ .form__label-wave--alt { bottom: -25px; font-size: 16px; }

.form-label .graphic { position: absolute; top: 0; left: 0; fill: none; stroke: $brand; pointer-events: none; transition: transform 0.7s, stroke 0.7s; transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1); }

.effect-preview:hover .form-label .graphic,
.form-label .field-alt:focus ~ .graphic { stroke: $brand; transform: translate3d(-66.6%, 0, 0); }

.form-label .graphic--top { top: -50px; }

/* ------------------------------------------------------------ *\
	Form Label Animation
\* ------------------------------------------------------------ */

.form-label-animation {}
.form-label-animation .form-label-animation__controls { position: relative; padding: 20px 0; }
.form-label-animation .form-label-animation__label { display: block; position: absolute; top: 0; right: 10px; left: 10px; text-align: left; overflow: hidden; padding: 0; pointer-events: none; transform: translate3d(0, 35px, 0); }
.form-label-animation .form-label-animation__label span { position: relative; display: inline-block; width: 100%; }
.form-label-animation .form-label-animation__label span:after { content: attr(data-content); position: absolute; top: -200%; left: 0; color: $brand; font-weight: 800;}

.form-label-animation .field-animation:focus ~ .form-label-animation__label { animation: anim-label 0.25s forwards; }
.form-label-animation .field-animation.active ~ .form-label-animation__label { transform: translate3d(0, 0, 0); }
.form-label-animation .field-animation.active:focus ~ .form-label-animation__label { animation: none; }

.form-label-animation .field-animation:focus ~ .form-label-animation__label span { animation: anim-label-2 0.25s forwards ease-in; }
.form-label-animation .field-animation.active ~ .form-label-animation__label span { transform: translate3d(0, 200%, 0); }
.form-label-animation .field-animation.active:focus ~ .form-label-animation__label span { animation: none; }


.form-label-animation .form-label-animation__controls--alt { overflow: hidden; }
.form-label-animation .form-label-animation__label-2 { display: block; width: 250px; text-align: left; transition: transform $d ease; cursor: text; }
.form-label-animation .form-label-animation__label-2 span { display: block; padding: 16px 10px; background-color: $green;  }
.form-label-animation .field-animation-2 { position: absolute; top: 50%; width: 60%; transform: translate(-100%,-50%); }

.form-label-animation .field-animation-2.active,
.form-label-animation .field-animation-2:focus { transform: translate(0, -50%); }
.form-label-animation .field-animation-2.active ~ .form-label-animation__label-2,
.form-label-animation .field-animation-2:focus ~ .form-label-animation__label-2 { transform: translateX(60%); }

/* ------------------------------------------------------------ *\
	Form Icon
\* ------------------------------------------------------------ */

.form-icon {}
.form-icon .form-icon__controls { position: relative; overflow: hidden; }
.form-icon .form-icon__label { position: absolute; display: block; top: 0; left: 0; right: 0; bottom: 0; padding: 0 10px; text-align: left; font-size: 16px; color: $color-black; transition: color .1s ease; }
.form-icon .form-icon__label i { position: absolute; display: inline-block; top: 13px; font-size: 25px; transform: translateX(-200%); transition: $d ease; }
.form-icon .form-icon__label span { position: relative; display: inline-block; padding: 16px 0; transition: $d ease; }

.form-icon .field-icon.active ~ .form-icon__label,
.form-icon .field-icon:focus ~ .form-icon__label { color: $brand; }

.form-icon .field-icon.active ~ .form-icon__label i,
.form-icon .field-icon:focus ~ .form-icon__label i { transform: translateX(0); }

.form-icon .field-icon.active ~ .form-icon__label span,
.form-icon .field-icon:focus ~ .form-icon__label span { transform: translateX(50px); opacity: 0; }
