/* ------------------------------------------------------------ *\
	Effect
\* ------------------------------------------------------------ */

.effect {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;

	a {
		color: currentColor;
		transition: color 0.35s;
	}

	h2 {
		font-weight: 400;
		font-size: 1.375em;
		text-transform: uppercase;
		transition: opacity 0.35s, visibility 0.35s, transform 0.35s, margin 0.35s;
		font-weight: 400;
	}

	p {
		font-weight: 300;
		opacity: 0;
		visibility: hidden;
		transition: transform 0.35s, opacity 0.35s, visibility 0.35s;
	}

	.effect__inner {
		padding: 25px 15px;
		display: flex;
		height: 100%;
		color: #fff;
		transition: transform 0.35s;
	}

	.effect__image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		backface-visibility: hidden;
		transition: transform 0.35s;

		&:after {
			content: '';
			opacity: 0;
			visibility: hidden;
			background: rgba(126, 189, 242, 0.3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
		}
	}

	.effect__body {
		transition: transform 0.35s;
	}

	.effect__content {
		font-size: 0.875em;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: left;
		align-self: flex-end;
		text-transform: uppercase;
	}

	.logo {
		img {
			width: 100%;
		}
	}

	&:hover {
		p {
			opacity: 1;
			visibility: visible;
		}

		.effect__image {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (max-width: 1600px) {
		h2 {
			font-size: 18px;
		}
		p {
			font-size: 12px;
		}
	}

	/*  Flow in  */
	&--flow-in {
		h2,
		p {
			transform: translateY(40px);
			transition: transform 0.35s;
		}

		p {
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.2s, visibility 0.2s, transform 0.35s;
		}

		.effect__inner {
			padding: 0;
		}

		.effect__content {
			padding: 1.5em;
			width: 100%;
			height: 50%;
			margin-top: auto;
		}

		.effect__image {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}

		&:hover {
			h2,
			p {
				transform: translateY(0);
			}

			p {
				opacity: 1;
				visibility: visible;
				transition-duration: 0.35s;
				transition-delay: 0.05s;
			}

			.effect__image {
				&:after {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		@media (max-width: 1600px) {
			&:hover {
				h2 {
					transform: translateY(-20px);
				}

				p {
					transform: translateY(-15px);
				}
			}
		}

		@media (max-width: 1200px) {
			h2 {
				transform: translateY(30px);
			}
		}

		@media (max-width: 767px) {
			h2 {
				transform: translateY(30px);
			}
		}

		@media (max-width: 479px) {
			h2 {
				transform: translateY(20px);
			}
		}
	}

	/*  Flow in Secondary   */
	&--flow-in-secondary {
		h2 {
			padding-top: 40px;
			position: relative;

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				width: 100%;
				height: 2px;
				background-color: currentColor;
				position: absolute;
				right: 0;
				top: 100%;
				transform: translateY(40px);
				transition: visibility 0.35s, opacity 0.35s, transform 0.35s;
			}
		}

		.effect__image {
			transform: scale(1.2) translateX(0);

			&:after {
				opacity: 0;
				visibility: hidden;
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		.effect__content {
			text-align: right;
			height: 100%;
			display: inline-flex;
			flex-flow: column nowrap;
			justify-content: space-between;
		}

		&:hover {
			h2 {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}

			.effect__image {
				transform: scale(1.2) translateX(20px);

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	/*  Flow in tertiary   */
	&--flow-in-tertiary {
		h2 {
			padding: 0;
			text-align: left;
			margin-bottom: 20px;
			transform: translateY(0);

			&:after {
				opacity: 1;
				visibility: visible;
				width: 0;
				height: 3px;
				left: 0;
				right: auto;
				transform: translateY(0);
				transition: width 0.35s;
			}
		}

		p {
			transform: translateX(100%);
		}

		.effect__content {
			justify-content: flex-start;
		}

		.effect__image {
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&:hover {
			h2 {
				transform: translateY(0);

				&:after {
					opacity: 1;
					visibility: visible;
					width: 100%;
				}
			}

			p {
				transform: translateX(0);
			}
		}
	}

	/*  Flow In Line  */
	&--flow-in-line {
		h2 {
			transform: translateY(25px);
		}

		.effect__inner {
			position: relative;

			&:before {
				content: '';
				width: 100%;
				height: 45%;
				opacity: 0;
				visibility: hidden;
				background-color: rgba(255, 255, 255, 0.5);
				clip-path: polygon(100% 0, 0% 100%, 100% 100%);
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 1;
				transform-origin: 0 100%;
				transform: rotate(45deg);
				transition: opacity 0.45s, visibility 0.45s, transform 0.45s;
			}
		}

		.effect__head {
			text-align: left;
		}

		.effect__image {
			transition: all 0.3s;

			&:after {
				background: rgba(0, 0, 0, 0.3);
			}
		}

		.effect__body {
			opacity: 0;
			visibility: hidden;
			max-width: 50%;
			position: absolute;
			bottom: 15px;
			right: 15px;
			z-index: 2;
			transform: translateY(100%);
			transition: opacity 0.45s, visibility 0.45s, transform 0.45s;
		}

		.socials {
			font-size: 35px;

			ul {
				flex-flow: row wrap;
				justify-content: flex-end;
			}

			li {
				transition-delay: 0.1s;
				transform: translateY(50px);

				&:nth-child(2) {
					transition-delay: 0.075s;
				}

				&:nth-child(3) {
					transition-delay: 0.05s;
				}

				&:nth-child(4) {
					transition-delay: 0.035s;
				}

				& + li {
					margin-left: 5px;
				}
			}
		}

		&:hover {
			h2 {
				transform: translateY(0);
			}

			.effect__inner {
				&:before {
					opacity: 1;
					visibility: visible;
					transform: rotate(0);
				}
			}

			.effect__body {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}

			.socials {
				li {
					transform: translateY(0);
				}
			}
		}

		@media (max-width: 1600px) {
			.socials {
				font-size: 28px;
			}
		}

		@media (max-width: 1200px) {
			.socials {
				font-size: 20px;
			}
		}

		@media (max-width: 479px) {
			.effect__body {
				bottom: 5px;
			}
		}
	}

	/*  Flow  */
	&--flow {
		h2 {
			font-size: 16px;
		}

		p {
			text-align: center;
			max-width: 65%;
			margin: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -10px;
			transform: translate(-50%, -50%);
		}

		.effect__inner {
			padding: 0;
		}

		.effect__image {
			&:after {
				background: rgba(53, 53, 53, 0.3);
			}
		}

		.effect__content {
			font-size: 13px;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			transform: translateY(100px);
			transition: transform 0.35s;
		}

		.effect__content-inner {
			flex: 0 0 100%;
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #353535;
			padding: 8px;
			position: relative;
		}

		.logo {
			flex: 0 0 40%;
			max-width: 40%;
			padding: 0 10px;
		}

		.socials {
			flex: 0 0 30%;
			max-width: 30%;
			text-align: center;
			color: currentColor;
			padding: 0 10px;

			ul {
				justify-content: space-between;
			}

			li {
				opacity: 0;
				visibility: hidden;
				transition-delay: 0.075s;
				transform: translateY(250%);

				&:nth-child(2) {
					transition-delay: 0.1s;
				}

				&:nth-child(3) {
					transition-delay: 0.125s;
				}
			}
		}

		&:hover {
			.effect__content {
				bottom: 0px;
			}

			.effect__content {
				transform: translateY(0);
			}

			.socials {
				li {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media (max-width: 1600px) {
			.socials {
				font-size: 13px;

				.fa-twitter {
					font-size: 14px;
				}

				.fa-instagram {
					font-size: 14px;
				}
			}
		}
	}

	/*  Flow Secondary  */
	&--flow-secondary {
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(126, 189, 242, 0.3);
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}

		h2 {
			color: #fff;
			line-height: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: margin 0.35s;
		}

		p {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
		}

		.effect__image {
			&:after {
				background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
				transform: translateY(50%);
				opacity: 0;
				visibility: visible;
				transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
			}
		}

		&:hover {
			h2 {
				margin-top: -40px;
				color: #fff;
			}

			p {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}

			.effect__image {
				&:after {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media (max-width: 767px) {
			h2 {
				width: 60%;
			}
		}
	}

	/*  Flow Out  */
	&--flow-out {
		h2 {
			font-weight: 300;
			transform: translateY(-30px);
			transition: transform 0.35s;

			span {
				opacity: 0;
				visibility: hidden;
				transform: translateY(30px);
				transition: opacity 0.35s, visibility.35s, transform.35s;
			}
		}

		.effect__image {
			&:after {
				background-color: rgba(53, 53, 53, 0.5);
			}
		}

		&:hover {
			h2 {
				transform: translateY(0);

				span {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	/*  Flow Out Secondary  */
	&--flow-out-secondary {
		h2 {
			margin-bottom: 20px;
		}

		p {
			transform: translateY(10px);
			transition-delay: 0.1s;
		}

		.effect__inner {
			width: 100%;
			padding: 56px 60px;
			position: relative;

			&:before,
			&:after {
				content: '';
				opacity: 0;
				position: absolute;
				transition: opacity 0.45s, right 0.45s, bottom 0.45s;
			}

			&:before {
				top: 15%;
				bottom: 15%;
				left: 5%;
				right: 100%;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
			}

			&:after {
				left: 11%;
				right: 11%;
				top: 6%;
				bottom: 100%;
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
			}
		}

		.effect__image {
			transform: scale(1.7) translateY(-30px);
			transition: transform 0.35s;

			&:before {
				content: '';
				background-color: rgba(53, 53, 53, 0.5);
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.35s, visibility 0.35s;
			}
		}

		.effect__content {
			padding-top: 0;
			align-self: center;
			text-align: center;
			transition: padding 0.35s;
		}

		&:hover {
			p {
				transform: translateY(0);
			}

			.effect__inner {
				&:before,
				&:after {
					opacity: 1;
				}

				&:before {
					right: 5%;
				}
				&:after {
					bottom: 6%;
				}
			}

			.effect__image {
				transform: scale(1.3) translateY(0);

				&:before {
					opacity: 1;
					visibility: visible;
				}
			}

			.effect__content {
				padding-top: 35px;
			}
		}

		@media (max-width: 1600px) {
			h2 {
				margin-bottom: 5px;
			}

			&:hover {
				.effect__content {
					padding-top: 15px;
				}
			}
		}

		@media (max-width: 1024px) {
			.effect__image {
				transform: scale(1.3) translateY(-20px);
			}

			&:hover {
				.effect__image {
					transform: scale(1.3) translateY(0);
				}

				.effect__content {
					padding-top: 15px;
				}
			}
		}

		@media (max-width: 767px) {
			h2 {
				margin-bottom: 0;
			}

			&:hover {
				.effect__content {
					padding-top: 7px;
				}
			}
		}

		@media (max-width: 479px) {
			.effect__inner {
				padding: 36px 48px;
			}

			p {
				font-size: 10px;
			}
		}
	}

	/*  Flow Out Tertiary  */
	&--flow-out-tertiary {
		&:after {
			content: '';
			display: block;
			border: 1px solid #fff;
			position: absolute;
			top: 15px;
			bottom: 15px;
			left: 15px;
			right: 15px;
			opacity: 0;
			visibility: hidden;
			transform: scale(1.2);
			transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
		}

		.effect__inner {
			padding: 25px 20px;
		}

		.effect__content {
			margin: auto;
			max-width: 85%;
			padding: 35px;
		}

		&:hover {
			&:after {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
		}
	}

	/*  Flow Out Quaternary  */
	&--flow-out-quaternary {
		h2 {
			margin-top: 20%;
			transform: translateY(100%);
			margin-bottom: 10px;
		}

		p {
			position: relative;
			border: 1px solid #fff;
			padding: 10px;
			transform: scale(1.1) translateY(20px);
			transition-delay: unset;
		}

		.effect__inner {
			flex-flow: column nowrap;
			padding: 15px 25px;

			&:before,
			&:after {
				display: none;
			}
		}

		.effect__content {
			text-align: center;
			max-width: 100%;
			align-self: center;
			display: block;
			padding: 30px;
		}

		&:hover {
			h2 {
				transform: translateY(0);
			}

			p {
				transform: scale(1) translateY(0);
			}

			.effect__content {
				padding: 30px;
			}
		}

		@media (max-width: 1600px) {
			h2 {
				margin-top: 3%;
			}

			.effect__content {
				padding: 0;
			}

			&:hover {
				.effect__content {
					padding: 0;
				}
			}
		}

		@media (max-width: 767px) {
			h2 {
				margin-bottom: 10px;
				margin-top: 20%;
			}
		}

		@media (max-width: 479px) {
			h2 {
				margin-top: 0%;
				margin-bottom: 3px;
			}
		}
	}

	/*  Flow Out Quinary  */
	&--flow-out-quinary {
		h2 {
			text-align: center;
			margin-bottom: 10px;
			padding-top: 15%;
			transform: translateY(-30px);
			flex: 0 0 100%;
			max-width: 100%;
			height: auto;
		}

		p {
			flex: 0 0 100%;
			max-width: 100%;
			transform: translateY(20px);
			transition-delay: unset;
		}

		.effect__inner {
			padding: 3em;
			position: relative;

			&:before,
			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				position: absolute;
				border-color: #fff;
				border-style: solid;
				transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
			}

			&:before {
				border-width: 1px 0 1px 0;
				right: 0;
				transform: scale(0, 1);
				top: 30px;
				right: 30px;
				bottom: 30px;
				left: 30px;
			}

			&:after {
				border-width: 0 1px 0 1px;
				transform: scale(1, 0);
				top: 30px;
				right: 30px;
				bottom: 30px;
				left: 30px;
			}
		}

		.effect__content {
			padding: 10px;
			align-self: center;
			width: 100%;
			height: 100%;
			display: block;
		}

		&:hover {
			h2 {
				transform: translateY(0);
			}

			p {
				transform: translateY(0);
			}

			.effect__inner {
				&:before,
				&:after {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
			}
		}

		@media (max-width: 1600px) {
			.effect__inner {
				padding: 1em;

				&:before,
				&:after {
					top: 15px;
					bottom: 15px;
					left: 15px;
					right: 15px;
				}
			}

			h2 {
				padding-top: 3.5%;
			}
		}

		@media (max-width: 479px) {
			h2 {
				margin-bottom: 3px;
				transition: transform 0.35s, padding 0.35s;
			}

			&:hover {
				h2 {
					padding-top: 0;
				}
			}
		}
	}

	/*  Flow Out Right  */
	&--flow-out-right {
		h2 {
			margin-bottom: 10px;
		}

		p {
			transform: translate(-10px, 0);
			text-align: left;
			transition-delay: unset;
		}

		.effect__inner {
			&:before {
				display: none;
			}

			&:after {
				border: 1px solid #fff;
				left: 15px;
				right: 15px;
				top: 15px;
				bottom: 15px;
				transform: translateX(-20px);
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
			}
		}

		&:hover {
			p {
				transform: translate(0);
			}

			.effect__inner {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					left: 15px;
					right: 15px;
					top: 15px;
					bottom: 15px;
				}
			}

			.effect__content {
				padding-top: 0;
			}
		}
	}

	/*  Flow Out Blink  */
	&--flow-out-blink {
		h2 {
			transform: translateY(100%);
		}

		p {
			max-width: 70%;
			margin: auto;
			transform: scale(0);
			transition: transform 0.35s;
		}

		.effect__content {
			text-align: center;
			max-width: 100%;
			align-self: center;
			display: block;

			&:after {
				transform: scale(0);
				content: '';
				position: absolute;
				top: 25px;
				bottom: 25px;
				left: 25px;
				right: 25px;
				border: 1px solid #fff;
				transition: transform 0.35s;
			}
		}

		&:hover {
			h2 {
				transform: translateY(0);
			}

			p {
				transform: scale(1);
			}

			.effect__content {
				&:after {
					transform: scale(1);
				}
			}
		}

		@media (max-width: 479px) {
			&:hover {
				.effect__content {
					&:after {
						top: 10px;
						bottom: 10px;
						left: 10px;
						right: 10px;
					}
				}
			}
		}
	}

	/*  Slide  */
	&--slide {
		.effect__image {
			width: 150%;
			transform: translateX(-30px);
		}

		&:hover {
			.effect__image {
				transform: translateX(0);
			}
		}
	}

	/*  Slide Secondary  */
	&--slide-secondary {
		.effect__image {
			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		.effect__content {
			height: 100%;
			display: block;
		}

		h2 {
			padding: 15px;
		}

		p {
			align-self: flex-end;
			transform: translateY(-100px);
		}

		.effect__entry {
			display: inline-flex;
			padding: 20% 15px 15px;
			position: relative;
			transition: transform 0.35s;

			&:after {
				content: '';
				border: 5px solid #fff;
				width: 100%;
				height: 100%;
				position: absolute;
				top: -50px;
				bottom: 25px;
				left: 0;
				transition: transform 0.35s, top 0.35s;
			}
		}

		&:hover {
			p {
				transform: translateY(0);
			}

			.effect__entry {
				transform: translateY(0);

				&:after {
					transform: translateY(0);
					top: 0;
					bottom: 0;
				}
			}
		}

		@media (max-width: 1600px) {
			h2 {
				padding: 10px;
			}

			p {
				transform: translateY(-20px);
			}

			.effect__entry {
				padding-top: 13%;
			}

			&:hover {
				p {
					transform: translateY(0);
				}
			}
		}

		@media (max-width: 479px) {
			p {
				font-size: 10px;
			}

			.effect__entry {
				padding: 6%;
			}
		}
	}

	/*  Slide tertiary  */
	&--slide-tertiary {
		h2 {
			flex: 0 0 100%;
			max-width: 100%;
			align-self: flex-end;
			text-align: center;
		}

		.effect__content {
			height: 100%;
			color: #fff;
		}

		.effect__head {
			display: inline-flex;
			width: 100%;
			height: 100%;
			padding: 10px;
			position: relative;
			transition: transform 0.35s;
		}

		.effect__image {
			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		.effect__body {
			width: 100%;
			text-align: center;
			background-color: #f2857e;
			padding: 15px;
			min-height: 50px;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(100%);
			transition: opacity 0.35s, visibility 0.35s, transform 0.35s;
		}

		&:hover {
			h2 {
				transform: translateY(-70px);
			}

			.effect__image {
				transform: translateY(-50px);
			}

			.effect__body {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}

	/*  Zoom Out  */
	&--zoom-out {
		.effect__image {
			transform: scale(1.1);
			transition: transform 0.35s;
			backface-visibility: hidden;
		}

		&:hover {
			.effect__image {
				transform: scale(1);
			}
		}
	}

	/*  Zoom Out Secondary  */
	&--zoom-out-secondary {
		p {
			transform: scale(1.5);
		}

		.effect__image {
			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		.effect__content {
			text-align: center;
		}

		&:hover {
			p {
				transform: scale(1);
			}
		}

		@media (max-width: 1600px) {
			.effect__content {
				padding: 0;
			}
		}

		@media (max-width: 1600px) {
			p {
				font-size: 10px;
			}
		}
	}

	/*  Zoom Out tertiary  */
	&--zoom-out-tertiary {
		h2 {
			order: 2;
			flex: 0 0 100%;
			max-width: 100%;
			position: absolute;
			left: 65%;
			right: 0;
			bottom: 0;
			transition: left 0.45s;
		}

		p {
			text-align: left;
			flex: 0 0 50%;
			max-width: 50%;
			order: 1;
			align-self: flex-start;
			border-left: 1px solid #fff;
			padding-left: 15px;
			margin-left: auto;
			transform: translateX(-100%);
		}

		.effect__image {
			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		.effect__content {
			display: flex;
			flex-flow: row wrap;
			align-items: flex-end;
			height: 100%;
			position: relative;
		}

		&:hover {
			h2 {
				left: 0;
			}

			p {
				transform: translateX(0);
			}
		}

		@media (max-width: 1600px) {
			h2 {
				left: 50%;
			}
		}

		@media (max-width: 1023px) {
			h2 {
				left: 56%;
			}
		}

		@media (max-width: 479px) {
			h2 {
				left: 40%;
			}

			p {
				font-size: 8px;
			}

			.effect__inner {
				padding: 15px;
			}
		}
	}

	/*  Cross  */
	&--cross {
		h2 {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 10px;
			position: relative;

			&:before,
			&:after {
				content: '';
				width: 90%;
				height: 1px;
				text-align: center;
				background: #fff;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, 30px);
				transition: top 0.35s, opacity 0.35s, transform 0.35s;
			}

			&:before {
				margin-top: -1px;
			}
		}

		p {
			opacity: 1;
			visibility: visible;
			transform: translateY(100%);
		}

		.effect__inner {
			padding: 25px 35px;
		}

		.effect__content {
			align-self: center;
			text-align: center;
		}

		&:hover {
			h2 {
				&:before,
				&:after {
					top: 150%;
					opacity: 0.5;
				}

				&:before {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}

			p {
				transform: translateY(0);
			}
		}

		@media (max-width: 1600px) {
			h2 {
				&:before,
				&:after {
					transform: translate(-50%, 15px);
				}
			}

			p {
				transform: translateY(60%);
			}
		}

		@media (max-width: 767px) {
			h2 {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 10px;
				position: relative;

				&:before,
				&:after {
					transform: translate(-50%, 10px);
				}
			}

			p {
				transform: translateY(40%);
			}

			&:hover {
				h2 {
					&:before,
					&:after {
						top: 180%;
					}
				}
			}
		}
	}

	/*  Zoom in  */
	&--zoom-in {
		h2 {
			order: 2;
			flex: 0 0 100%;
			max-width: 100%;
		}

		p {
			display: inline-block;
			background-color: rgba(255, 255, 255, 0.7);
			padding: 0.4em 1em;
			margin: 0 0 0.25em;
			transform: translateX(100%);
		}

		.effect__inner {
			padding: 10px;
		}

		.effect__image {
			transition: transform 1s;

			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		.effect__content {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-end;
			height: 100%;
			text-align: right;
		}

		.effect__entry {
			color: #6e6e6e;
			flex: 0 0 50%;
			max-width: 50%;
			margin-left: auto;
			align-self: flex-start;
		}

		@for $i from 1 through 20 {
			p:nth-child(#{$i}) {
				transition-delay: $i * 0.15s;
			}
		}

		&:hover {
			.effect__image {
				transform: scale(1.1);
			}

			p {
				transform: translateX(0);
			}
		}

		@media (max-width: 1600px) {
			p {
				font-size: 10px;
			}
		}

		@media (max-width: 479px) {
			p {
				font-size: 9px;
			}
		}
	}

	/*  square  */
	&--square {
		.effect__inner {
			justify-content: center;
			align-items: center;
		}

		.effect__image {
			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		h2 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.effect__body {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 200px;
			height: 200px;
			padding: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				width: 100%;
				height: 100%;
				border: 5px solid #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: -1;
				transform: translate(-50%, -50%) rotate(45deg) scale(0);
				transition: opacity 0.35s, visibility 0.35s, transform 0.4s;
			}
		}

		.socials {
			font-size: 35px;
			color: #fff;

			a {
				width: auto;
				display: inline-block;
				line-height: 1;
			}

			ul {
				flex-flow: row wrap;
			}

			li {
				opacity: 0;
				visibility: hidden;
				flex: 0 0 50%;
				max-width: 50%;
				margin-bottom: 15px;
				transform: translate3d(-60px, -60px, 0);
				transition: opacity 0.35s, visibility 0.35s, transform 0.35s;

				&:nth-child(2) {
					transform: translate3d(60px, -60px, 0);
				}

				&:nth-child(3) {
					transform: translate3d(-60px, 75px, 0);
				}

				&:nth-child(4) {
					transform: translate3d(60px, 75px, 0);
				}
			}
		}

		&:hover {
			h2 {
				opacity: 0;
				visibility: hidden;
				transform: translate(-50%, -50%) scale(0.8);
			}

			.effect__body {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: translate(-50%, -50%) rotate(45deg) scale(1);
				}
			}

			.socials {
				li {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
		}

		@media (max-width: 1600px) {
			.effect__body {
				width: 140px;
				height: 140px;
				padding: 22px;
			}

			.socials {
				padding-top: 5px;

				li {
					margin-bottom: 5px;
				}
			}
		}

		@media (max-width: 1200px) {
			.effect__body {
				width: 110px;
				height: 110px;
			}

			.socials {
				font-size: 25px;
			}
		}

		@media (max-width: 479px) {
			&:hover {
				.effect__body {
					&:after {
						transform: translate(-50%, -50%) rotate(45deg) scale(0.85);
					}
				}
			}
		}
	}

	/*  Photo  */
	&--photo {
		h2 {
			transform: translateY(100%);
		}

		.effect__inner {
			display: block;
			background-color: #f2857e;
			position: relative;
			z-index: -1;
		}

		.effect__image {
			transform: scale(1.1);

			&:after {
				background: linear-gradient(to right, rgba(37, 141, 200, 0.4) 0%, rgba(104, 60, 19, 0.4) 100%);
			}
		}

		&:hover {
			h2 {
				transform: translateY(0);
			}

			.effect__image {
				transform: scale3d(0.96, 0.94, 1);
			}
		}

		@media (max-width: 768px) {
			p {
				font-size: 11px;
			}
		}
	}

	/*  Photo Secondary  */
	&--photo-secondary {
		padding: 15px;

		&:after {
			content: '';
			border-width: 15px 55px 55px 15px;
			border-color: #000;
			border-style: solid;
			border-radius: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			transform: scale(1.6);
			transition: transform 0.45s;
		}

		h2 {
			text-align: left;
			position: absolute;
			bottom: 10px;
			left: 60%;
			transition: left 0.45s;
		}

		.effect__inner {
			display: block;
			padding: 0;
		}

		.effect__image {
			&:after {
				background: rgba(255, 255, 255, 0.2);
				transition: opacity 0.45s, visibility 0.45s;
			}
		}

		.socials {
			font-size: 20px;
			color: #fff;
			position: absolute;
			top: 15px;
			right: 15px;

			ul {
				flex-flow: column nowrap;
			}

			li {
				opacity: 0;
				visibility: hidden;
				transition-delay: 0.025s;
				transform: translateX(100px);

				&:nth-child(2) {
					transition-delay: 0.05s;
				}

				&:nth-child(3) {
					transition-delay: 0.075s;
				}

				&:nth-child(4) {
					transition-delay: 0.1s;
				}

				& + li {
					margin-top: 15px;
				}
			}
		}

		&:hover {
			&:after {
				transform: scale(1);
			}

			h2 {
				left: 15px;
			}

			.socials {
				li {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
			}
		}

		@media (max-width: 1600px) {
			&:after {
				border-width: 15px 35px 35px 15px;
			}

			h2 {
				bottom: 5px;
			}

			.socials {
				font-size: 18px;
				right: 5px;

				li {
					& + li {
						margin-top: 8px;
					}
				}
			}
		}

		@media (max-width: 1600px) {
			&:after {
				transform: scale(2);
			}

			h2 {
				left: 50%;
			}
		}

		@media (max-width: 1200px) {
			.socials {
				font-size: 13px;
				right: 10px;
			}
		}

		@media (max-width: 479px) {
			&:after {
				transform: scale(2.2);
			}
		}
	}
}
