/* ------------------------------------------------------------ *\
	Head
\* ------------------------------------------------------------ */

.captain-outer { width: 25.16vw; height: 41.03vw; overflow: hidden; margin: auto; }
.captain-outer:before { content: ''; background: #fbdd94; border-radius: 1.4vw; padding: 2vw 2vw 0 2vw; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.captain-america { height: 100%; padding-top: 4.64vw; }

.head { position: relative; width: 8.7vw; margin-left: 4.84vw; z-index: 3; }

.head .logo { width: 2.93vw; height: 2.54vw; background: #fff; position: absolute; top: -3.28vw; left: 2.93vw; z-index: 10; }

.head .logo:after,
.head .logo:before { content: ''; position: absolute; top: 0;   }

.head .logo:after { width: 0; height: 0; border-style: solid; border-width: 0 1.29vw 2.57vw 0; border-color: transparent #3b82f6 transparent transparent; right: 0; }
.head .logo:before { width: 0; height: 0; border-style: solid; border-width: 2.57vw 1.29vw 0 0; border-color: #3b82f6 transparent transparent transparent; left: 0; }

.head .logo span  { position: absolute; left: 1.05vw; top: 0.82vw; width: 0; height: 0; border-style: solid; border-width: 0 0.43vw 0.82vw 0.43vw; border-color: transparent transparent #3b82f6 transparent; }
.head .logo span:after { content: ''; position: absolute; bottom: -1.79vw; left: -0.7vw; width: 1.37vw; height: 0.47vw; background: #3b82f3 0.43vw; border-radius: 0.12vw 0.12vw 0 0  }

.head ul { list-style: none; }
.head li:nth-child(1) { width: 8.66vw; height: 6.79vw; background: #f3bca7; border: 0.31vw solid #3b82f6; border-radius: 0 0 1.68vw 1.68vw; }
.head li:nth-child(1):after { content: ''; position: absolute; bottom: 0.35vw; right: 0.35vw; width: 45%; height: 100%; background: #fecab4; border-radius: 0 0 1.68vw 0; }

.head li:nth-child(2) { width: 8.66vw; height: 7.33vw; margin-bottom: -2.46vw; background: #3b82f6; position: absolute; bottom: 100%; margin-bottom: -2.85vw; left: 0; border-radius: 4.09vw 4.09vw 0 0; }

/*  Eye  */
.head li:nth-child(3) { width: 3.24vw; height: 1.68vw; background: #f3bca7; position: absolute; top: 0.31vw; left: 0.66vw; border-radius: 0.7vw 0 0.7vw 0; }
.head li:nth-child(3):after { content: ''; position: absolute; top: 0.66vw; left: 1.52vw; width: 0.66vw; height: 0.12vw; background: #000;   }
.head li:nth-child(3):before { content: ''; position: absolute; top: 0.43vw; left: 0.94vw;  width: 1.76vw; height: 0.23vw; background: #000; }


.head li:nth-child(4) { width: 3.24vw; height: 1.68vw; background: #fecab4; position: absolute; top: 0.31vw; right: 0.66vw; border-radius: 0 0.7vw 0 0.7vw; }
.head li:nth-child(4):after { content: ''; position: absolute; top: 0.66vw; left: 1.13vw; width: 0.66vw; height: 0.12vw; background: #000; }
.head li:nth-child(4):before { content: ''; position: absolute; top: 0.43vw; left: 0.59vw;  width: 1.76vw; height: 0.23vw; background: #000; }



.head li:nth-child(5) { width: 0.59vw; height: 2.11vw; background: #3d6fc4; position: absolute;  right: 100%; top: 0.94vw; border-radius: 0.66vw 0 0 0.66vw; }
.head li:nth-child(6) { width: 0.59vw; height: 2.11vw; background: #3d6fc4; position: absolute;  left: 100%; margin-left: -0.12vw; top: 0.94vw; border-radius: 0 0.66vw 0.66vw 0; }

.head li:nth-child(7) { position: absolute; bottom: 0.43vw; left: 50%; transform: translateX(-50%); bottom: 0.7vw; left: 50%; width: 0; height: 0; border-style: solid; border-width: 0 0.47vw 0.35vw 0.47vw; border-color: transparent transparent #e9a590 transparent; }

.head li:nth-child(8) { width: 2.93vw; height: 0.23vw; background: #904134; position: absolute; bottom: 2.46vw; left: 50%; transform: translateX(-50%); margin-left: 0.12vw; }
.head li:nth-child(8):after { content: ''; position: absolute; right: -0.66vw; bottom: 0.35vw; width: 0.78vw; height: 0.12vw; background: #904134; transform: rotate(-45deg);  }
.head li:nth-child(8):before { content: ''; position: absolute; right: -0.7vw; bottom: 0.47vw; width: 0; height: 0; border-style: solid; border-width: 0 0.35vw 0.35vw 0; border-color: transparent #dda290 transparent transparent;  }

.head li:nth-child(9) { position: absolute; top: 0.31vw; left: 50%; margin-left: -0.23vw; transform: translateX(-50%); width: 0; height: 0; border-style: solid; border-width: 0 0 2.69vw 0.7vw; border-color: transparent transparent #3170dd transparent; }
.head li:nth-child(9):after { content: ''; position: absolute; top: 0; left: 100%; width: 0; height: 0; border-style: solid; border-width: 2.69vw 0 0 0.7vw; border-color: transparent transparent transparent #679bf1; }

/*.head li:nth-child(10) { position: absolute; top: -4.45vw; left: 50%; transform: translateX(-50%); }*/
/*.head li:nth-child(10):after { content: 'A'; color: #fff; font-family: 'Arial', sans-serif; font-weight: 900; font-size: 3.24vw; }*/

.head li:nth-child(11) { position: absolute; top: -0.59vw; right: 100%; width: 0.66vw; height: 0.94vw; background: #e8e7e5; border-radius: 0.7vw 0 0 0.7vw; z-index: 10; }
.head li:nth-child(11):after { content: ''; position: absolute; top: 0.12vw; left: 0.12vw; border-radius: 50%; background: #fff; width: 0.47vw; height: 0.47vw;  }

.head li:nth-child(12) { z-index: 10; position: absolute; top: -0.59vw; left: 100%; margin-left: -0.04vw; width: 0.66vw; height: 0.94vw; background: #e8e7e5; border-radius: 0 0.7vw 0.7vw 0;  }
.head li:nth-child(12):after { content: ''; position: absolute; top: 0.12vw; left: 0.04vw; border-radius: 50%; background: #fff; width: 0.47vw; height: 0.47vw;  }

.head li:nth-child(13) { position: absolute; top: -2.46vw; left: -1.87vw; width: 0; height: 0; border-style: solid; border-width: 0 1.76vw 2.15vw 0; border-color: transparent #fff transparent transparent; }

.head li:nth-child(14) { position: absolute; top: -2.46vw; right: -1.87vw; width: 0; height: 0; border-style: solid; border-width: 2.15vw 1.76vw 0 0;
border-color: #fff transparent transparent transparent; }

.head li:nth-child(15) { position: absolute; top: -2.34vw; left: -2.73vw; background: #e6e7e9; width: 2.22vw; height: 0.47vw; border-radius: 0 0 0.59vw 0.59vw; }
.head li:nth-child(16) { position: absolute; top: -1.76vw; left: -2.34vw; background: #e6e7e9; width: 1.99vw; height: 0.47vw; border-radius: 0 0 0.59vw 0.59vw; }
.head li:nth-child(17) { position: absolute; top: -1.17vw; left: -1.64vw; background: #e6e7e9; width: 1.4vw; height: 0.47vw; border-radius: 0 0 0.59vw 0.59vw; }

.head li:nth-child(18) { position: absolute; top: -2.54vw; right: -2.81vw; background: #e6e7e9; width: 2.22vw; height: 0.47vw; border-radius: 0 0 0.59vw 0.59vw; }
.head li:nth-child(19) { position: absolute; top: -1.99vw; right: -2.38vw; background: #e6e7e9; width: 1.99vw; height: 0.47vw; border-radius: 0 0 0.59vw 0.59vw; }
.head li:nth-child(20) { position: absolute; top: -1.4vw; right: -1.68vw; background: #e6e7e9; width: 1.4vw; height: 0.47vw; border-radius: 0 0 0.59vw 0.59vw; }

.head li:nth-child(21) { position: absolute; bottom: -0.04vw; left: 50%; transform: translateX(-50%); background: #f3bca8; border-radius: 0 0 0.47vw 0.47vw; width: 3.51vw; height: 0.43vw; z-index: 30; }
.head li:nth-child(21):after { content: ''; position: absolute; bottom: 0; right: 0; width: 50%; height: 100%; background: #ffcbb6; border-radius: 0 0 0.47vw 0; }

.head li:nth-child(22) { width: 5.38vw; height: 2.69vw; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); background: #3d7ce3; z-index: 10; }
.head li:nth-child(23) { position: absolute; top: 100%; left: 2.57vw; width: 0; height: 0; border-style: solid; border-width: 2.34vw 0 0 0.82vw; border-color: transparent transparent transparent #385fa2; }

.head li:nth-child(24) { position: absolute; top: 100%; right: 2.57vw; width: 0; height: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 2.34vw 0.82vw; border-color: transparent transparent #385fa2 transparent; }

.head li:nth-child(25) { width: 0; height: 0; border-style: solid; border-width: 0 5.03vw 0.94vw 0; border-color: transparent #6699f2 transparent transparent; position: absolute; top: 100%; left: 0; margin-left: -1.87vw; margin-top: 2.54vw; }

.head li:nth-child(26) { width: 0; height: 0; border-style: solid; border-width: 0.94vw 5.03vw 0 0; border-color: #6699f2 transparent transparent transparent; position: absolute; top: 100%; right: 0; margin-right: -1.87vw; margin-top: 2.54vw; }

.head li:nth-child(27) { position: absolute; bottom: -5.19vw; left: -0.59vw; width: 10.1vw; height: 4.52vw; background: #3d6fc4;  border-radius: 50%; }
.head li:nth-child(28) { position: absolute; bottom: -5.19vw; right: -0.59vw; width: 10.1vw; height: 4.52vw; background: #3d6fc4;  border-radius: 50%; }


.captain-america .captain-america__chest { z-index: 20; }

.captain-america .captain-america__arms { z-index: 10; }


.captain-america .captain-america__triangle-left { width: 0; height: 0; border-style: solid; border-width: 2.54vw 0.7vw 0.82vw 0; border-color: transparent #38619e transparent transparent; position: absolute; top: -1.68vw; left: 6.9vw; transform: rotate(-14deg); }
.captain-america .captain-america__triangle-primary-left { width: 0; height: 0; border-style: solid; border-width: 0vw 4.25vw 0.7vw 1.13vw; border-color: transparent transparent #649af0 transparent; position: absolute; top: 0.47vw; left: 2.85vw; transform: rotate(0deg); z-index: 10; transform: scaleX(-1) rotate(-10deg); }

.captain-america .captain-america__triangle-right { width: 0; height: 0; border-style: solid; border-width: 2.54vw 0.7vw 0.82vw 0; border-color: transparent #38619e transparent transparent; position: absolute; top: -1.68vw; left: 6.08vw; transform: rotate(-14deg); }

.captain-america .captain-america__triangle-primary-right { width: 0; height: 0; border-style: solid; border-width: 0vw 4.25vw 0.7vw 1.13vw; border-color: transparent transparent #649af0 transparent; position: absolute; top: 0.47vw; left: 2.22vw; transform: rotate(0deg); z-index: 10; transform: scaleX(-1) rotate(-13deg); }

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { height: 100vh; display: flex; align-items: center; }

.wrapper .wrapper__inner {  width: 25.16vw; height: 41.03vw; border-radius: 1.4vw; overflow: hidden; margin: auto; }

/* ------------------------------------------------------------ *\
	Captain America
\* ------------------------------------------------------------ */

.captain-america { position: relative; display: block; width: 100%; height: 100%; }

.captain-america .captain-america__feet { position: absolute; width: 6.32vw; height: 15.44vw; bottom: 0; left: 50%; margin-left: -6.55vw; }
.captain-america .captain-america__foot { position: absolute; width: 1.52vw; top: 1.64vw; left: 0.12vw; bottom: 0; }
.captain-america .captain-america__arms { position: absolute; width: 16.96vw; left: 0.43vw; top: 13.3vw; z-index: 24; }
.captain-america .captain-america__thigh { position: absolute; width: 1.52vw; height: 5.26vw; top: 0; left: 0; border-radius: 0 0 0 1.52vw; background: $blue; z-index: 2; }
.captain-america .captain-america__crotch { height: 2.11vw; border-radius: 0 0 0.82vw 0.82vw; background: $blue; }
.captain-america .captain-america__kneecap { position: absolute; width: 1.4vw; height: 1.4vw; top: 4.64vw; right: -0.23vw; border-radius: 50%; background: $darkred; z-index: 3; }
.captain-america .captain-america__foot-inner { position: absolute; width: 1.05vw; top: 4.52vw; bottom: 0; right: 0; background: $red; }
.captain-america .captain-america__foot--right { left: auto; right: 0.35vw; transform: scaleX(-1); }
.captain-america .captain-america__shield-star { position: absolute; width: 5.5vw; height: 5.5vw; top: 50%; left: 50%; margin: -2.73vw 0 0 -2.73vw; border-radius: 50%; background: $blue; animation: spin 5s infinite; }
.captain-america .captain-america__shoe-ornaments { position: absolute; width: 0.82vw; height: 0.35vw; bottom: calc(100% + 1.01vw); right: 0.31vw; background: $darkred; }
.captain-america .captain-america__shoe-ornaments--upper { bottom: calc(100% + 1.48vw); }

.captain-america .captain-america__shield { position: absolute; width: 15.33vw; height: 15.33vw; top: 1.37vw; left: 50%; margin-left: -7.68vw; border: 0.43vw solid $white; border-radius: 50%; background: $red; z-index: 8; }
.captain-america .captain-america__shield:before { content: ''; position: absolute; width: 11.62vw; height: 11.62vw; top: 50%; left: 50%; margin: -5.85vw 0 0 -5.85vw; border: 1.52vw solid $white; border-radius: 50%; }
.captain-america .captain-america__shield .captain-america__star { position: absolute; top: 50%; left: 50%; margin: -2.34vw 0 0 -2.34vw; transform: scale(1.1);  }

.captain-america .captain-america__arm { position: absolute; top: 0; left: 0; }
.captain-america .captain-america__arm:before { content: ''; position: absolute; width: 1.29vw; height: 8.42vw; top: 3.24vw; left: 0.7vw; background: $blue; }
.captain-america .captain-america__arm--right { left: auto; right: 0; transform: scaleX(-1); z-index: 3; }

.captain-america .captain-america__hand { content: ''; position: absolute; width: 2.81vw; height: 2.81vw; top: 14.47vw; left: 1.29vw; }
.captain-america .captain-america__hand:before { content: ''; position: absolute; width: 1.4vw; height: 1.4vw; top: -0.04vw; right: -0.23vw; border-radius: 50%; background: $darkred; }
.captain-america .captain-america__hand:after { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-radius: 50%; background: $red; z-index: 1; }

.captain-america .captain-america__glove { position: absolute; width: 3.51vw; height: 7.72vw; top: 8.11vw; left: -0.35vw; }
.captain-america .captain-america__glove:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; border-radius: 3.51vw 0 0 3.51vw; background: $red; z-index: 2; }
.captain-america .captain-america__glove:after { content: ''; position: absolute; width: 1.4vw; height: 1.4vw; top: 0; left: 0.35vw; border-radius: 50%; background: $darkred; z-index: 1; }

.captain-america .captain-america__shoulder { position: absolute; top: 0; left: 0; width: 4.52vw; height: 4.52vw; border-radius: 50%; background: $blue; z-index: 1; }
.captain-america .captain-america__shoulder:before { content: ''; position: absolute; width: 3.24vw; height: 0.7vw; top: 1.48vw; left: 0.31vw; transform: rotate(44deg); background: $white; }

.captain-america .captain-america__star { position: relative; width: 4.52vw; height: 4.21vw; animation: spin 5s infinite; }
.captain-america .captain-america__star:before { top: 1.17vw; border-radius: 1.4vw 1.4vw 0 0; }
.captain-america .captain-america__star:after { bottom: 0.7vw; border-radius: 0 0 1.4vw 1.4vw; }

.captain-america .captain-america__star-piece { position: absolute; width: 0; height: 0; border-style: solid; border-width: 0 0.7vw 1.4vw 0.7vw; border-color: transparent transparent $white transparent; }
.captain-america .captain-america__star-piece:nth-child(1) { top: 0; left: 50%; margin-left: -0.7vw; }
.captain-america .captain-america__star-piece:nth-child(2) { top: 1.13vw; right: 0; transform: rotate(72deg); }
.captain-america .captain-america__star-piece:nth-child(3) { bottom: -0.12vw; right: 0.59vw; transform: rotate(145deg); }
.captain-america .captain-america__star-piece:nth-child(4) { bottom: -0.12vw; left: 0.59vw; transform: rotate(215deg); }
.captain-america .captain-america__star-piece:nth-child(5) { top: 1.13vw; left: 0; transform: rotate(288deg); }

.captain-america .captain-america__chest { position: absolute; width: 11.82vw; height: 4.68vw; top: 13.96vw; left: 50%; margin-left: -9.24vw; background: $blue; }
.captain-america .captain-america__chest .captain-america__star { position: absolute; top: 1.05vw; left: 50%; margin-left: -2.03vw; }
.captain-america .captain-america__chest:before { content: ''; position: absolute; width: 100%; height: 2.34vw; top: 100%; left: 0; border-radius: 0 0 2.15vw 2.15vw; background: $darkblue; }

.captain-america .captain-america__shirt { position: absolute; width: 6.32vw; height: 2.69vw; top: 20.98vw; left: 50%; margin-left: -6.55vw; border-left: 0.7vw solid $red; border-right: 0.7vw solid $red; background: $white; }
.captain-america .captain-america__shirt:before { left: 1.01vw; }
.captain-america .captain-america__shirt:after { right: 1.01vw; }

.captain-america .captain-america__belt { position: absolute; width: 7.33vw; height: 1.87vw; top: 23.63vw; left: 50%; margin-left: -7.02vw; background: $darkblue; }
.captain-america .captain-america__belt:before { content: ''; position: absolute; width: 2.11vw; height: 100%; left: 50%; margin-left: -1.05vw;
	background: rgb(210,211,213);
	background: -moz-linear-gradient(left, rgba(210,211,213,1) 0%, rgba(210,211,213,1) 50%, rgba(230,231,233,1) 50%, rgba(230,231,233,1) 100%);
	background: -webkit-linear-gradient(left, rgba(210,211,213,1) 0%,rgba(210,211,213,1) 50%,rgba(230,231,233,1) 50%,rgba(230,231,233,1) 100%);
	background: linear-gradient(to right, rgba(210,211,213,1) 0%,rgba(210,211,213,1) 50%,rgba(230,231,233,1) 50%,rgba(230,231,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d3d5', endColorstr='#e6e7e9',GradientType=1 );
}

.captain-america .captain-america__shoe { position: absolute; width: 2.69vw; height: 0.43vw; bottom: 0; right: 0; background: $red; }
.captain-america .captain-america__shoe:before { content: ''; position: absolute; width: 0; height: 0; bottom: 100%; left: 0; border-style: solid; border-width: 0 0 0.94vw 1.64vw; border-color: transparent transparent $red transparent; }

.captain-america .captain-america__calf { position: absolute; width: 1.68vw; height: 5.3vw; top: 0.04vw; right: 100%; overflow: hidden; }
.captain-america .captain-america__calf:before { bottom: 0.66vw; }
.captain-america .captain-america__calf:after { top: 0.35vw; }

.captain-america .captain-america__star:before,
.captain-america .captain-america__star:after { content: ''; position: absolute; width: 50%; height: 1.4vw; left: 50%; margin-left: -25%; background: $white; }

.captain-america .captain-america__shirt:before,
.captain-america .captain-america__shirt:after { content: ''; position: absolute; width: 1.01vw; height: 100%; top: 0; background: $red; }

.captain-america .captain-america__calf:before,
.captain-america .captain-america__calf:after { content: ''; position: absolute; width: 4.84vw; height: 4.84vw; left: 0; border-radius: 50%; background: $red; }

/* ------------------------------------------------------------ *\
	Animations
\* ------------------------------------------------------------ */

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
