/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { position: relative; padding: 2vw 5vw; min-height: 100vh; }
