/* ------------------------------------------------------------ *\
	Rating 1
\* ------------------------------------------------------------ */

.rating-1 { font-size: 0; line-height: 0; direction: rtl; }

.rating-1 input { position:absolute; width : 25px; height: 25px; opacity: 0; cursor: pointer; }
.rating-1 label { display: inline-block; width: 25px; height: 25px; line-height: 25px; margin: 1px 0 1px; background: url(../images/temp/star-regular.svg) no-repeat 0 0; background-size: contain; }

.rating-1 input:checked + label,
.rating-1 input:checked + label ~ label { background-image: url(../images/temp/star-solid.svg); }

/* ------------------------------------------------------------ *\
	Rating 2
\* ------------------------------------------------------------ */

.rating-2 { text-align: center; font-size: 0; line-height: 0; }

.rating-2 span { display: inline-block; cursor: pointer; font-size: 35px; line-height: 1; color: #F2857E; opacity: .5; transform: rotateX(45deg); transform-origin: center bottom; transition: opacity .3s, transform .3s, text-shadow .3s; }

.rating-2 span.hover { color: #F2857E; opacity: 1; transform: rotateX(0deg); text-shadow: 0 0 30px #F2857E; }

/* ------------------------------------------------------------ *\
	Rating 3
\* ------------------------------------------------------------ */

.rating-3 { font-size: 0; line-height: 0; }

.rating-3 .rate { position: relative; display: inline-block; vertical-align: middle; width: 30px; height: 30px; overflow: hidden; text-align: center; cursor: pointer; }

.rating-3 .rate:before { content: ''; position: absolute; top: 0; left: 0; width: 30px; height: 30px; background: url(../images/temp/star-regular.svg) 0 0 no-repeat; background-size: contain;}

.rating-3 .rate.half:before { background: url(../images/temp/star-half-alt-solid.svg) 0 0 no-repeat; }
.rating-3 .rate.full:before { background: url(../images/temp/star-solid.svg) 0 0 no-repeat; }

.rating-3 .rate-half { position: relative; top: 0; float: left; display: block; width: 15px; height: 27px; }

/* ------------------------------------------------------------ *\
	Rating 4
\* ------------------------------------------------------------ */

.rating-4 { position: relative; font-size: 0; line-height: 0; text-align: center; }

.rating-4 span:not(.rating-state) { display: inline-block; vertical-align: middle; width: 30px; height: 10px; margin: 1px; background: #F2857E; opacity: .5; transition: opacity .3s; }
.rating-4 .rating-state { display: block; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); margin-top: 10px; font-size: 20px; line-height: 1; color: #000; }

.rating-4 span:not(.rating-state).active,
.rating-4 span:not(.rating-state).hover { opacity: 1; }

.rating-4.hover span:not(.rating-state):not(.hover).active { opacity: 0.5; }

.rating-4 span:not(.rating-state).current:after { opacity: 1; }
