/* ------------------------------------------------------------ *\
	Rating
\* ------------------------------------------------------------ */

.rating { font-size: 0; line-height: 0; direction: rtl; }

.rating input { position:absolute; width : 25px; height: 25px; opacity: 0; cursor: pointer; }
.rating label { display: inline-block; width: 25px; height: 25px; line-height: 25px; margin: 1px 0 1px; background: url(assets/images/temp/star-regular.svg) no-repeat 0 0; background-size: contain; }

.effect-preview .rating input:checked + label,
.rating input:checked + label,
.rating input:checked + label ~ label { background-image: url(assets/images/temp/star-solid.svg); }

