/* ------------------------------------------------------------ *\
	Center
\* ------------------------------------------------------------ */

@define-mixin center { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}

/* ------------------------------------------------------------ *\
	Circle
\* ------------------------------------------------------------ */

@define-mixin circle $size {
	border-radius: 50%;
	width: $size; 
	height: $size; 
	display: inline-block;
}

/*  @mixin circle 50px;  */


/* ------------------------------------------------------------ *\
	Triangle
\* ------------------------------------------------------------ */

@define-mixin triangle($width, $height, $direction, $color) {
	content: '';
	display: inline-block;
	width: 0; 
	height: 0; 
	border-style: solid; 
	border-color: transparent; 
	
	@if $direction == top {
		border-bottom-color: $color; 
		border-width: 0 $width/2 $height $width/2; 
	} @else if $direction == bottom {
		border-top-color: $color; 
		border-width: $height $width/2 0 $width/2;
	} @else if $direction == left {
		border-right-color: $color; 
		border-width: $height/2 $width $height/2 0; 
	} @else if $direction == right {
		border-left-color: $color; 
		border-width: $height/2 0 $height/2 $width; 
	} 
}

/*  @include triangle(10px, 20px, left, #000);  */

/* ------------------------------------------------------------ *\
	Chevron
\* ------------------------------------------------------------ */

@define-mixin chevron $dimensions, $borderWidth, $borderColor, $rotation, $transitionDuration {
	content: '';
	width: $dimensions; 
	height: $dimensions; 
	display: inline-block; 
	vertical-align: middle; 
	border-width: 0 0 $borderWidth $borderWidth; 
	border-style: solid; 
	border-color: $borderColor; 
	transform: rotate($rotation); 
	transition: transform $transitionDuration; 
}
