$font-size-base:                    14px;
$line-height-base:                  1.3;


$shell-max-width:                   1200px;
$shell-gutter:                      10px;


$font-family-sans-serif:            Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
$font-family-serif:                 'Times', serif;


$responsive-xxs:                    479px;
$responsive-xs:                     767px;
$responsive-sm:                     1023px;
$responsive-md:                     1200px;


$breakpoint-mobile-portrait:        @media (max-width: $responsive-xxs);
$breakpoint-mobile:                 @media (max-width: $responsive-xs);
$breakpoint-tablet-portrait:        @media (max-width: $responsive-sm);
$breakpoint-small-desktop:          @media (max-width: $responsive-md);
$retina:                            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

$lightred: 							#d8342b;
$red: 								#a72118;
$darkred: 							#8a1913;
$yellow: 							#f1b652;
$darkyellow: 						#b99d54;
$pink: 								#e85b54;
$brown: 							#61120e;
