/* ------------------------------------------------------------ *\
	Iron
\* ------------------------------------------------------------ */

.iron { position: relative; width: 21.6vw; height: 46.56vw; margin: 4.72vw auto 0; }

/* ------------------------------------------------------------ *\
	Head
\* ------------------------------------------------------------ */

.head { position: absolute; top: 0; left: 50%; z-index: 3; width: 9.76vw; height: 13.36vw; border-radius: 4.56vw; margin-left: -4.88vw; background: #a72118; }

.head-inner { position: relative; width: 8.48vw; height: 6.96vw; border-radius: 2.16vw 2.16vw 0 0; margin: 1.2vw auto 0; background: #f2b753; }
.head-inner:before { position: absolute; top: 0; left: 50%; width: 2.24vw; height: 2.96vw; border-radius: 0 0 1.2vw 1.2vw; margin-left: -0.96vw; background: #a72118; content: ''; }

.head-inner-angles { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.head-inner-angles:before,
.head-inner-angles:after { position: absolute; top: 1.36vw; width: 0; height: 0; border-style: solid; border-width: 1.88vw 0 1.88vw 0.64vw; border-color: transparent transparent transparent #a72118; content: ''; }

.head-inner-angles:before { left: 0; }
.head-inner-angles:after { right: 0; border-width: 1.88vw 0.64vw 1.88vw 0; border-color: transparent #a72118 transparent transparent; }

/*  Head Eyebrows  */
.head-eyebrows { position: absolute; top: 5.36vw; left: 50%; width: 7.68vw; height: 1.12vw; margin-left: -3.84vw; }
.head-eyebrows:before,
.head-eyebrows:after { position: absolute; top: 0; width: 0; height: 0; border-style: solid; border-width: 0.56vw 2vw 0 2vw; border-color: #734813 transparent transparent transparent; content: ''; }

.head-eyebrows:before { left: 0; transform: rotate(10deg); }
.head-eyebrows:after { right: 0; transform: rotate(-10deg); }

.head-eyebrows span { position: absolute; top: 0.32vw; left: 50%; width: 2.88vw; height: 0.24vw; margin-left: -1.44vw; background: #734813; content: ''; }

/*  Head Eyes  */
.head-eyes { position: absolute; top: 5.2vw; left: 50%; z-index: 2; width: 6.4vw; height: 1.12vw; margin-left: -3.2vw; }

.head-eyes span { position: absolute; top: 0.32vw; width: 2vw; height: 0.56vw; background: #fff; content: ''; }
.head-eyes span:before { content: ''; position: absolute; top: -0.5vw; bottom: -0.5vw; left: -0.5vw; right: -0.5vw; background: #fff; filter: blur(0.5vw); animation: pulse 3s infinite; }

.head-eyes span:first-child { left: 0; transform: rotate(16deg); }
.head-eyes span:last-child { right: 0; transform: rotate(-16deg); }

/*  Head Down  */
.head-down { position: relative; width: 8.48vw; height: 1.92vw; margin: 0 auto; background: #f2b753; }
.head-down:after,
.head-down:before { position: absolute; top: 0; z-index: 2; width: 0; height: 0; border-style: solid; border-width: 2vw 0 0 2.88vw; border-color: transparent transparent transparent #a62118; content: ''; }

.head-down:before { left: -0.16vw; }
.head-down:after { right: 0; border-width: 2vw 0 0 2.72vw; transform: scaleX(-1); }

.head-down-bar { position: absolute; bottom: 0.4vw; left: 0; width: 100%; height: 0.08vw; background: #de9143; }

.head-down-angles { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.head-down-angles:after,
.head-down-angles:before { position: absolute; top: 0.88vw; z-index: 4; width: 0; height: 0; border-style: solid; border-width: 0 0 2.16vw 1.6vw; border-color: transparent transparent #e3993a transparent; content: ''; }

.head-down-angles:before { left: 0.4vw; transform: rotate(-94deg) skewX(-45deg); }
.head-down-angles:after { right: 0.4vw; border-width: 2.16vw 0 0 1.6vw; border-color: transparent transparent transparent #e3993a; transform: rotate(94deg) skewX(45deg); }

/*  Head Mask  */
.head-mask { position: relative; z-index: 4; left: 0vw; width: 3.2vw; height: 2.24vw; margin: 0vw auto 0; background: #f2b753; }
.head-mask:before,
.head-mask:after { position: absolute; top: 100%; width: 0; height: 0; border-style: solid; border-width: 0.32vw 0.8vw 0 0; border-color: #f2b753 transparent transparent transparent; content: ''; }
.head-mask:before { left: 0; }
.head-mask:after { right: 0; border-width: 0 0.8vw 0.32vw 0; border-color: transparent #f2b753 transparent transparent; }
.head-mask span { position: absolute; top: 0.72vw; left: 0; right: 0; height: 0.16vw; background: #000000; }
.head-mask span:before,
.head-mask span:after { position: absolute; bottom: 0; right: 100%; width: 0.4vw; height: 0.56vw; border: 0.16vw solid #000; border-top: none; border-left: none; margin-bottom: -0.32vw; content: ''; transform: rotate(45deg); }

.head-mask span:after { right: auto; left: 100%; transform: scaleX(-1) rotate(45deg); }

/*  Torso Head  */
.torso-head { position: absolute; top: -4vw; left: 50%; z-index: 4; width: 8.32vw; height: 8.32vw; border-radius: 50%; margin-left: -4.16vw; background: #6f140f; }
.torso-head:before { position: absolute; bottom: 0.4vw; left: 1.68vw; width: 5.04vw; height: 4vw; border-radius: 3.2vw; background: #8a1915; content: ''; }

.torso .circle { top: 1.52vw; width: 4vw; z-index: 2; height: 4vw; border: 0.24vw solid #8a1712; margin-left: -1.84vw; background: #ba9e55; transform: translateX(0); }
.torso .circle:before { position: absolute; top: 0.24vw; left: 0.24vw; bottom: 0.24vw; right: 0.24vw; border-radius: 50%; background: #fff; content: ''; }
.torso .circle:after { content: ''; position: absolute; top: -0.5vw; bottom: -0.5vw; left: -0.5vw; right: -0.5vw; background: #fff; border-radius: 50%; display: block; filter: blur(0.5vw); animation: pulse 3s infinite; }

.chest { z-index: 3; }
.chest:after,
.chest:before { position: absolute; top: 100%; left: 0; width: 0; height: 0; border-style: solid; border-width: 9.12vw 4.88vw 0 0; border-color: #d8342b transparent transparent transparent; content: ''; }

.chest:before { border-width: 0 4.88vw 9.12vw 0; border-color: transparent #d8342b transparent transparent; }
.chest:after { left: auto; right: 0; }

.ironman .abdomen { overflow: hidden; bottom: 18.24vw; border: none; background: #61120e; }

.abdomen:before { position: absolute; top: 0.72vw; left: 0; bottom: 0; right: 0; border-radius: 1.84vw 1.84vw 0 0; background: #8a1913; content: ''; }

.abdomen span { position: absolute; top: 1.92vw; left: 0.08vw; overflow: hidden; width: 5.92vw; height: 1.2vw; background: #61120e; }
.abdomen span:before,
.abdomen span:after { position: absolute; top: 0; left: 0; width: 0; height: 0; border-style: solid; border-width: 1.04vw 1.6vw 0 0; border-color: #8a1913 transparent transparent transparent; content: ''; }
.abdomen span:after { left: auto; right: 0; border-width: 0 1.6vw 1.04vw 0; border-color: transparent #8a1913 transparent transparent; }
.abdomen span:nth-child(2) { top: 3.2vw; }
.abdomen span:nth-child(3) { top: 4.48vw; }

.abdomen small { position: absolute; bottom: 0; left: 1.6vw; right: 1.6vw; height: 0.72vw; background: #8a1913; }
.abdomen small:before,
.abdomen small:after { position: absolute; top: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 0.72vw 1.44vw; border-color: transparent transparent #8a1913 transparent; content: ''; }
.abdomen small:before { right: 100%; }
.abdomen small:after { left: 100%; border-width: 0.72vw 0 0 1.44vw; border-color: transparent transparent transparent #8a1913; }

/* ------------------------------------------------------------ *\
	Ironman
\* ------------------------------------------------------------ */
.ironman-wrapper { display: flex; min-height: 100vh; padding: 2vw 5vw; }
.ironman { background: #ddd; border-radius: 1.6vw; margin: auto; width: 100%; display: flex; align-items: center; justify-content: center; padding: 2vw 2vw 0 2vw; }
.holder { width: 22.24vw; height: 46.56vw; position: relative; }

/* ------------------------------------------------------------ *\
	Foot
\* ------------------------------------------------------------ */

.foot { position: absolute; width: 5.84vw; height: 17.76vw; bottom: 0; }

.foot--left { left: 5.12vw; }
.foot--right { right: 4.56vw; }

.foot .foot__tight { position: absolute; bottom: 10.96vw; }
.foot--left .foot__tight { right: 0.96vw; }
.foot--right .foot__tight { left: 0.56vw; }

.foot .foot__knee { position: absolute; bottom: 9.76vw; }
.foot--left .foot__knee { right: 0.72vw; }
.foot--right .foot__knee { left: 0.4vw; }

.foot .foot__calf { position: absolute; bottom: 0; }
.foot--left .foot__calf { right: 0.16vw; }
.foot--right .foot__calf { left: 0vw; }

.foot .calf-rectangle  { position: absolute; bottom: 0; }

.foot--left .calf-rectangle--left { left: 0; }
.foot--left .calf-rectangle--right { left: 0.8vw; }

.foot--right .calf-rectangle--left { right: 0.8vw; }
.foot--right .calf-rectangle--right { right: 0; }

/* ------------------------------------------------------------ *\
	Step
\* ------------------------------------------------------------ */

.step { width: 5.68vw; height: 3.52vw; background: $lightred; position: absolute; bottom: 0; border-radius: 3.28vw 3.28vw 0 0; }

.step-circle { background: $pink; position: absolute; }
.step-circle--small { @mixin circle 0.72vw; }
.step-circle--large { @mixin circle 1.84vw; }

.step .step-circle--small { right: 0.48vw; top: 1.44vw; }
.step .step-circle--large { right: 1.12vw; top: 0.32vw; }

/* ------------------------------------------------------------ *\
	Calf
\* ------------------------------------------------------------ */

.calf { width: 4.32vw; height: 10.72vw; background: $red; border-radius: 2.24vw 2.24vw 0 0; }
.calf-rectangle { width: 0.8vw; height: 8.32vw; }

.calf-rectangle--yellow { background: $yellow; }
.calf-rectangle--darkred { background: $darkred; }

/* ------------------------------------------------------------ *\
	Knee
\* ------------------------------------------------------------ */

.knee { @mixin circle 3.04vw; background: $lightred; z-index: 2; }

/* ------------------------------------------------------------ *\
	Tight
\* ------------------------------------------------------------ */

.tight { width: 2.56vw; height: 6.8vw; background: $yellow; border-radius: 1.2vw 1.2vw 0 0; }

/* ------------------------------------------------------------ *\
	Pelvis
\* ------------------------------------------------------------ */

.pelvis { position: absolute; width: 8.64vw; height: 4.4vw; bottom: 15.84vw; left: 50%; transform: translateX(-50%); }
.pelvis .pelvis__top { background: $red; border-radius: 1.04vw 1.04vw 0 0; height: 2.4vw; }
.pelvis .pelvis__bottom { background: $darkred; border-radius: 0 0 1.04vw 1.04vw; height: 2vw; }

/* ------------------------------------------------------------ *\
	Abdomen
\* ------------------------------------------------------------ */

.abdomen { width: 6.08vw; height: 7.44vw; background: $darkred; border-radius: 1.44vw 1.44vw 1.84vw 1.84vw; position: absolute; bottom: 18.16vw; left: 50%; transform: translateX(-50%); z-index: 3; border-top: 0.72vw solid $brown; }

/* ------------------------------------------------------------ *\
	Torso
\* ------------------------------------------------------------ */

.torso { width: 12vw; height: 13.04vw; position: absolute; bottom: 22.56vw; background: $red; border-radius: 2.72vw 2.72vw 5.12vw 5.12vw; left: 50%; transform: translateX(-50%); }

/* ------------------------------------------------------------ *\
	Chest
\* ------------------------------------------------------------ */

.chest { position: absolute; top: 3.68vw; width: 9.76vw; height: 3.44vw; background: $lightred; border-radius: 1.36vw 1.36vw 0 0; left: 50%; transform: translateX(-50%); }

/* ------------------------------------------------------------ *\
	Circle
\* ------------------------------------------------------------ */

.circle { width: 3.76vw; height: 3.76vw; background: #fff; border-radius: 50%; left: 50%; transform: translateX(-50%); position: absolute; border: 0.32vw solid $yellow; }
.circle  {  }

/* ------------------------------------------------------------ *\
	Hands
\* ------------------------------------------------------------ */

.hand { top: 11.6vw; left: 0.24vw; position: absolute;  }
.hand-right { transform: scaleX(-1); left: auto; right: 0.24vw; }
.hand .hand-shoulder { width: 6.4vw; height: 6.4vw; border-radius: 50%; background: $red; }
.hand .hand-biceps { width: 3.52vw; height: 6.4vw; margin-left: 1.2vw; margin-top: -1.2vw;
	background: rgb(216,49,41);
	background: -moz-linear-gradient(left, rgba(216,49,41,1) 0%, rgba(216,49,41,1) 50%, rgba(232,183,81,1) 50%, rgba(232,183,81,1) 100%);
	background: -webkit-linear-gradient(left, rgba(216,49,41,1) 0%,rgba(216,49,41,1) 50%,rgba(232,183,81,1) 50%,rgba(232,183,81,1) 100%);
	background: linear-gradient(to right, rgba(216,49,41,1) 0%,rgba(216,49,41,1) 50%,rgba(232,183,81,1) 50%,rgba(232,183,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83129', endColorstr='#e8b751',GradientType=1 );
}

.hand .hand-part { width: 4.88vw; height: 8.56vw; display: block; overflow: hidden; margin-top: -1.36vw; margin-left: -0.16vw; }
.hand .hand-part:before { content: ''; position: absolute; background: #910005; width: 1.6vw; height: 1.6vw; border-radius: 50%; left: 0.4vw; top: auto; z-index: 1; }
.hand .hand-part:after { content: ''; display: block; width: 9.76vw; height: 8.56vw; border-radius: 45%; background: #b02b00; z-index: 2; position: relative; }

.hand .hand-flat { width: 3.44vw; height: 3.44vw; border-radius: 50%; background: #b02b00; margin-top: -1.52vw; position: relative; left: 2.08vw; z-index: 5; }
.hand .hand-thumb:before,
.hand .hand-thumb:after,
.hand .hand-thumb { width: 1.44vw; height: 1.44vw; border-radius: 50%; background: #860700; position: absolute; right: 0.08vw; bottom: 1.2vw; }

.hand .hand-thumb:before,
.hand .hand-thumb:after { content: ''; }

.hand .hand-thumb:before { bottom: -2.08vw; right: 0.48vw; width: 1.28vw; height: 1.28vw; }
.hand .hand-thumb:after { bottom: -1.76vw; right: 1.36vw; }

/* ------------------------------------------------------------ *\
	Shoulder
\* ------------------------------------------------------------ */

.shoulder { width: 2.16vw; height: 2.32vw; background: #b6bbbe; display: block; position: absolute; left: 5.04vw; top: 12.16vw; z-index: 10; }
.shoulder:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 2.32vw 0 0 0.56vw; border-color: transparent transparent transparent #b6bbbe; display: block; position: absolute; top: 0; left: 100%; z-index: 10; }
.shoulder-right { transform: scaleX(-1); left: auto; right: 5.04vw; }

/* ------------------------------------------------------------ *\
	Torso Triangles
\* ------------------------------------------------------------ */

.torso-triangles { width: 0; height: 0; border-style: solid; border-width: 1.76vw 0.44vw 0 0.28vw; border-color: #8a1915 transparent transparent transparent; transform: rotate(45deg); position: absolute; bottom: 2.8vw; left: 1.28vw; }
.torso-triangles:before { content: '';  width: 0; height: 0; border-style: solid; border-width: 2.08vw 0.96vw 0 0.28vw; border-color: #8a1915 transparent transparent transparent; transform: rotate(-5deg); position: absolute; bottom: -0.32vw; left: 0.48vw; }
.torso-triangles:after { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0.8vw 1.36vw 0.8vw; border-color: transparent transparent #e8b84a transparent; position: absolute; right: -2.96vw; top: -1.2vw; transform: rotate(85deg); }

.torso-triangles-right { transform: rotate(-43deg) scaleX(-1); left: auto; right: 1.2vw; }

/* ------------------------------------------------------------ *\
	Animations
\* ------------------------------------------------------------ */

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
  	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
