/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

/* Button Block */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.button { font-size: 13px; line-height: 20px; color: #fff; font-weight: 500; display: inline-block; vertical-align: middle; padding: 15px 29px 13px; border: 1px solid #7e8cf2; background: #7e8cf2; border-radius: 3px; transform: translateZ(0); box-shadow: none; transition: all .35s ease; cursor: pointer; position: relative; }

.effect-preview:hover .button,
.button:hover { color: #7e8cf2; }

/* ------------------------------------------------------------ *\
	Button Border Grow
\* ------------------------------------------------------------ */

.button--border-grow:hover { color: #fff; }
.button--border-grow:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 6px; border: 2px solid transparent; transition: width .2s, height .2s, border-color .2s; }
.button--border-grow:hover:before { border-color: #7e8cf2; width: calc(100% + 10px); height: calc(100% + 10px); }

/* ------------------------------------------------------------ *\
	Button Border Shrink
\* ------------------------------------------------------------ */

.button--border-shrink:hover { color: #fff; }
.button--border-shrink:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 3px; border: 2px solid transparent; transition: width .2s, height .2s, border-color .2s; }
.button--border-shrink:hover:before { border-color: #fff; width: calc(100% - 3px); height: calc(100% - 3px); }

/* ------------------------------------------------------------ *\
	Button Border Ripple
\* ------------------------------------------------------------ */

.button--border-ripple:hover { color: #fff; }
.button--border-ripple:before,
.button--border-ripple:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 4px; border: 1px solid #7e8cf2; }

.button--border-ripple:hover:before,
.button--border-ripple:hover:after { width: 150%; height: 200%; opacity: 0; transition: width .5s, height .5s, opacity .5s; }
.button--border-ripple:hover:after { transition-delay: .1s }

/* ------------------------------------------------------------ *\
	Button Border Ripple-in
\* ------------------------------------------------------------ */

.button--border-ripple-in:hover { color: #fff; }
.button--border-ripple-in:before,
.button--border-ripple-in:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150%; height: 200%; border-radius: 4px; border: 1px solid #7e8cf2; opacity: 0; }

.button--border-ripple-in:hover:before,
.button--border-ripple-in:hover:after { width: 100%; height: 100%; opacity: 1; transition: width .5s, height .5s, opacity .5s; }
.button--border-ripple-in:hover:after { transition-delay: .1s }

/* ------------------------------------------------------------ *\
	Button Dialog
\* ------------------------------------------------------------ */

.button--dialog:hover { color: #fff; }
.button--dialog:before { content: ''; position: absolute; bottom: calc(100% - 8px); left: 50%; transform: translateX(-50%); width: 0; height: 0; border-bottom: 8px solid #7e8cf2; border-left: 8px solid transparent; border-right: 8px solid transparent; transition: bottom .2s; }
.button--dialog:hover:before { bottom: 100%; }

/* ------------------------------------------------------------ *\
	Button Dialog Move
\* ------------------------------------------------------------ */

.button--dialog-move { top: 0; transition: top .2s; }
.button--dialog-move:hover { color: #fff; }
.button--dialog-move:before { content: ''; position: absolute; bottom: calc(100% - 8px); left: 50%; transform: translateX(-50%); width: 0; height: 0; border-bottom: 8px solid #7e8cf2; border-left: 8px solid transparent; border-right: 8px solid transparent; transition: bottom .2s; }
.button--dialog-move:hover { top: 8px; }
.button--dialog-move:hover:before { bottom: 100%; }

/* ------------------------------------------------------------ *\
	Button Frame
\* ------------------------------------------------------------ */

.button--frame { transition: background-color .2s, color .2s }
.button--frame:hover { background-color: transparent; }

.button--frame:before,
.button--frame:after { content: ''; position: absolute; top: 0; left: 0; width: calc(100% + 2px); height: 100%; border: 1px solid #7e8cf2; border-radius: 3px; transition: top .2s , left .2s; }

.button--frame:hover:before { top: -8px; left: -8px; }
.button--frame:hover:after { top: 8px; left: 8px; }

/* ------------------------------------------------------------ *\
	Button Frame Delay
\* ------------------------------------------------------------ */

.button--frame-delay { transition: background-color .2s .2s, color .2s .2s }

.effect-preview:hover .button--frame-delay,
.button--frame-delay:hover { background-color: transparent; transition-delay: 0s; }

.button--frame-delay:before,
.button--frame-delay:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% + 2px); height: 100%; border: 1px solid #7e8cf2; border-radius: 3px; transition: top .2s , left .2s .2s; }

.effect-preview:hover .button--frame-delay:before,
.button--frame-delay:hover:before { top: calc(50% - 8px); left: calc(50% - 8px); }

.effect-preview:hover .button--frame-delay:after,
.button--frame-delay:hover:after { top: calc(50% + 8px); left: calc(50% + 8px) }

/* ------------------------------------------------------------ *\
	Button Frame Opacity
\* ------------------------------------------------------------ */

.button--frame-opacity { transition: background-color .2s .2s, color .2s .2s }
.button--frame-opacity:hover { color: #fff; background-color: rgba(126, 140, 242, .35); transition-opacity: 0s; }

.button--frame-opacity:before,
.button--frame-opacity:after { content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% + 2px); height: 100%; border: 1px solid #7e8cf2; border-radius: 3px; transition: top .2s , left .2s .2s; z-index: -1; }

.button--frame-opacity:hover:before { top: calc(50% - 8px); left: calc(50% - 8px); background: rgba(126, 140, 242, .35); }
.button--frame-opacity:hover:after { top: calc(50% + 8px); left: calc(50% + 8px); background: rgba(126, 140, 242, .35); }

/* ------------------------------------------------------------ *\
	Button Frame In
\* ------------------------------------------------------------ */

.button--frame-in { transition: background-color .2s .2s, color .2s .2s; overflow: hidden; }
.button--frame-in:hover { color: #fff; transition-opacity: 0s; }

.button--frame-in:before,
.button--frame-in:after { content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% + 2px); height: 100%; border: 1px solid #7e8cf2; border-radius: 3px; transition: top .2s , left .2s, border-color .2s; }

.button--frame-in:hover:before { top: calc(50% - 8px); left: calc(50% - 8px); border: 1px solid #fff; }
.button--frame-in:hover:after { top: calc(50% + 8px); left: calc(50% + 8px); border: 1px solid #fff; }

/* ------------------------------------------------------------ *\
	Button Borders X Show
\* ------------------------------------------------------------ */

.button--borders-x-show { border: 0; }
.button--borders-x-show:hover { color: #fff; }
.button--borders-x-show:after { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; width: 100%; height: 0; border-width: 0 3px 0 3px; border-style: solid; border-color: #57609E; transition: height .2s; }
.button--borders-x-show:hover:after { height: 100%; }

/* ------------------------------------------------------------ *\
	Button Borders Y Show
\* ------------------------------------------------------------ */

.button--borders-y-show { border: 0; }
.button--borders-y-show:hover { color: #fff; }
.button--borders-y-show:after { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; width: 0; height: 100%; border-width: 3px 0 3px 0; border-style: solid; border-color: #57609E; transition: width .2s; }
.button--borders-y-show:hover:after { width: 100%; }

/* ------------------------------------------------------------ *\
	Button Borders Corners
\* ------------------------------------------------------------ */

.button--borders-corners { position: relative; border: 0; }
.button--borders-corners:hover { color: #fff; }
.button--borders-corners:before,
.button--borders-corners:after { content: ''; border-radius: 3px; position: absolute; border-style: solid; border-color: transparent; height: 0; width: 0; transition: width .2s .2s, height .2s, border-color 0s .4s; }

.button--borders-corners:before { border-width: 3px 3px 0 0; top: 0; left: 0; }
.button--borders-corners:after { border-width: 0 0 3px 3px; bottom: 0; right: 0; }

.button--borders-corners:hover:before,
.button--borders-corners:hover:after { width: 100%; height: 100%; border-color: #57609E; transition: width .2s, height .2s .2s, border-color 0s; }

/* ------------------------------------------------------------ *\
	Button Borders Single
\* ------------------------------------------------------------ */

.button--borders-single { border: 0; }
.button--borders-single:hover { color: #fff; }

.button--borders-single:before,
.button--borders-single:after { content: ''; border-radius: 3px; position: absolute; border-style: solid; border-color: transparent; height: 0; width: 0; }

.button--borders-single:before { border-width: 3px 3px 0 0; top: 0; left: 0; transition: width .2s .6s, height .2s .4s, border-color 0s .8s; }
.button--borders-single:after { border-width: 0 0 3px 3px; bottom: 0; right: 0; transition: width .2s .2s, height .2s, border-color 0s .4s;}

.button--borders-single:hover:before,
.button--borders-single:hover:after { width: 100%; height: 100%; border-color: #57609E; }

.button--borders-single:hover:before { transition: width .2s, height .2s .2s, border-color 0s; }
.button--borders-single:hover:after { transition: width .2s .4s, height .2s .6s, border-color 0s .4s; }

/* ------------------------------------------------------------ *\
	Button Borders All
\* ------------------------------------------------------------ */

.button--borders-all { border: 0; }
.button--borders-all:hover { color: #fff; }

.button--borders-all:before,
.button--borders-all:after { content: ''; border-radius: 3px; position: absolute; border-style: solid; border-color: transparent; height: 0; width: 0; transition: width .2s, height .2s, border-color 0s .2s; }

.button--borders-all:before { border-width: 3px 0 0 3px; top: 0; left: 0; }
.button--borders-all:after { border-width: 0 3px 3px 0; bottom: 0; right: 0; }

.button--borders-all:hover:before,
.button--borders-all:hover:after { width: 100%; height: 100%; border-color: #57609E; transition: width .2s, height .2s, border-color 0s 0s; }

/* ------------------------------------------------------------ *\
	Button Icon Back
\* ------------------------------------------------------------ */

.button--icon-back:hover { color: #fff; }
.button--icon-back i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back:hover i { margin-left: -12px; margin-right: 12px; }

/* ------------------------------------------------------------ *\
	Button Icon Back Loop
\* ------------------------------------------------------------ */

.button--icon-back-loop:hover { color: #fff; }
.button--icon-back-loop i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back-loop:hover i { animation: loop-left .8s infinite; }

@keyframes loop-left {
	0% { margin-left: -4px; margin-right: 4px; }
	85% { margin-left: -12px; margin-right: 12px; }
	100% { margin-left: -4px; margin-right: 4px; }
}

/* ------------------------------------------------------------ *\
	Button Icon Back Fade
\* ------------------------------------------------------------ */

.button--icon-back-fade:hover { color: #fff; }
.button--icon-back-fade i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back-fade:hover i { animation: icon-fade .8s infinite; }

@keyframes icon-fade {
	0% { margin-left: -4px; margin-right: 4px; opacity: 1; }
	100% { margin-left: -16px; margin-right: 16px; opacity: 0; }
}

/* ------------------------------------------------------------ *\
	Button Replace Right
\* ------------------------------------------------------------ */

.button--icon-replace-right { position: relative; overflow: hidden; }
.button--icon-replace-right i { position: absolute; top: 50%; transform: translate(-50%, -50%); left: 150%; transition: left .4s; }
.button--icon-replace-right span { transition: opacity .2s; }
.button--icon-replace-right:hover { color: #fff; }
.button--icon-replace-right:hover span { opacity: 0; }
.button--icon-replace-right:hover i { left: 50%; }


/* ------------------------------------------------------------ *\
	Button Replace Bottom
\* ------------------------------------------------------------ */

.button--icon-replace-bottom { position: relative; overflow: hidden; }
.button--icon-replace-bottom i { position: absolute; top: 150%; transform: translate(-50%, -50%); left: 50%; transition: top .4s; }
.button--icon-replace-bottom span { transition: opacity .2s; }
.button--icon-replace-bottom:hover { color: #fff; }
.button--icon-replace-bottom:hover span { opacity: 0; }
.button--icon-replace-bottom:hover i { top: 50%; }


/* ------------------------------------------------------------ *\
	Button Icon Move Bottom
\* ------------------------------------------------------------ */

.button--icon-move-bottom:hover { color: #fff; }
.button--icon-move-bottom { position: relative; overflow: hidden; }
.button--icon-move-bottom span { position: relative; top: 0; transition: top .3s; }
.button--icon-move-bottom i { position: absolute; left: 50%; transform: translate(-50%, -50%); top: 150%; transition: top .3s; }

.button--icon-move-bottom:hover i { top: 50%; }
.button--icon-move-bottom:hover span { top: -35px; }

/* ------------------------------------------------------------ *\
	Button Icon Grow
\* ------------------------------------------------------------ */

.button--icon-grow:hover { color: #fff; }
.button--icon-grow i { margin-left: -4px; margin-right: 4px; transition: transform .2s linear; }
.button--icon-grow:hover i { transform: scale(1.5); }

/* ------------------------------------------------------------ *\
	Button Icon Like
\* ------------------------------------------------------------ */

.button--icon-fill { position: relative; }
.button--icon-fill i { position: absolute; top: 50%; transform: translateY(-50%); left: 23px; }
.button--icon-fill i + i { opacity: 0; transition: opacity .2s; }
.button--icon-fill span { margin-left: 13px; }
.button--icon-fill:hover { color: #fff; }
.button--icon-fill:hover i + i { opacity: 1; }

/* ------------------------------------------------------------ *\
	Button Icon Like
\* ------------------------------------------------------------ */

.button--icon-like:hover { color: #fff; }
.button--icon-like i { transition: color .2s; }
.button--icon-like i + i { margin-left: -17px; color: transparent; transition: color .3s, opacity .3s .3s, transform .4s .2s; }
.button--icon-like:hover i + i { color: #57609E; opacity: 0; transform: scale(3); }
.button--icon-like:hover i { color: rgba(255,0,0,.5); }

/* ------------------------------------------------------------ *\
	Button Border Out
\* ------------------------------------------------------------ */

.button--border-out:hover { color: #fff; }
.button--border-out:before { content: ''; border-radius: 3px; position: absolute; left: 6px; top: -6px; width: 100%; height: 100%; opacity: 0; border: 3px solid #57609E; transition: left .3s, top .3s, opacity .2s; }
.button--border-out:hover:before { opacity: 1; left: 0; top: 0; }

/* ------------------------------------------------------------ *\
	Button Border Background
\* ------------------------------------------------------------ */

.button--border-background { background-color: transparent; border: 0; z-index: 2; }
.button--border-background:before { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; border-radius: 3px; background-color: #7e8cf2; z-index: -1; transition: width .2s; }
.button--border-background:after { content: ''; position: absolute; top: -2px; bottom: -2px; left: 50%; transform: translateX(-50%); width: 0; border-top:2px solid #7e8cf2; border-bottom: 2px solid #7e8cf2; transition: width .2s; }

.button--border-background:hover:before { width: 0; }
.button--border-background:hover:after { width: 100%; }

/* ------------------------------------------------------------ *\
	Button Background Fall In
\* ------------------------------------------------------------ */

.button--background-fall-in { background-color: transparent; border: 0; z-index: 2; }
.button--background-fall-in:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 3px; background-color: #7e8cf2; z-index: -1; transition: width .3s, height .3s; }
.button--background-fall-in:after { content: ''; border-radius: 3px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150%; height: 200%; border: 1px solid #7e8cf2; opacity: 0; transition: width .3s, height .3s, opacity .3s; }

.button--background-fall-in:hover:before { width: 0; height: 0; }
.button--background-fall-in:hover:after { width: 100%; height: 100%; opacity: 1; }
