/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Brackets
\* ------------------------------------------------------------ */

.link--example-1:before,
.link--example-1:after { position: absolute; top: 50%; margin-top: -2px; transition: transform .3s ease-out, opacity .3s ease-out; opacity: 0; color: #f2857e; }

.link--example-1:before { content: '['; left: -10px; transform: translateX(10px) translateY(-50%); }
.link--example-1:after { content: ']'; right: -10px; transform: translateX(-10px) translateY(-50%); }

.link--example-1:hover:after,
.link--example-1:hover:before { transform: translateY(-50%); opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Fading Up
\* ------------------------------------------------------------ */

.link--example-2 { overflow: hidden; padding-left: 3px; padding-right: 3px; }

.link--example-2 span { display: block; transition: transform .3s ease-out; }
.link--example-2 span:after { position: absolute; top: 100%; left: 0; right: 0; content: attr(data-hover); text-align: center; font-weight: 700; color: #f2857e; }

.link--example-2:hover span { transform: translateY(-100%); }

/* ------------------------------------------------------------ *\
	Link Description
\* ------------------------------------------------------------ */

.link--example-3 { padding: 8px 10px; font-weight: 400; }
.link--example-3 span { display: block; }

.link--example-3 .link__text { margin-bottom: 5px; }
.link--example-3 .link__subtitle { padding-bottom: 5px; transform: translateY(-70%); opacity: 0; font-size: 9px; font-family: serif; font-style: italic; transition: transform .4s, opacity .2s .2s; text-transform: capitalize; }

.link--example-3:before,
.link--example-3:after { position: absolute; left: 0; right: 0; content: ''; transition: height .3s, opacity .3s, transform .3s; }

.link--example-3:after { height: 1px; bottom: 0; transform: translateY(-3px); opacity: 0; background-color: #f2857e; }
.link--example-3:before { top: 0; height: 1px; background-color: #f2857e; opacity: 1; }

.link--example-3:hover .link__subtitle { transform: none; opacity: 1; transition: transform .4s, opacity .1s; }

.link--example-3:hover:after { opacity: 1; transform: none; }
.link--example-3:hover:before { height: 4px; opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Circles
\* ------------------------------------------------------------ */

.link--example-4 { z-index: 1; }

.link--example-4:before,
.link--example-4:after { z-index: -1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(.75); content: ''; transition: transform .2s, opacity .2s; border-radius: 50%; opacity: 0; pointer-events: none; }

.link--example-4:before { width: 90px; height: 90px; border: 3px solid #f2857e; }
.link--example-4:after { width: 100px; height: 100px; border: 1px solid #f2857e; }

.link--example-4:hover:before,
.link--example-4:hover:after { transform: translate(-50%, -50%); opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Dotted
\* ------------------------------------------------------------ */

.link--example-5:after { position: absolute; top: 70%; left: 50%; transform: translateX(-50%); transition: text-shadow .2s, opacity .2s; content: '\2022'; opacity: 0; }
.link--example-5:hover { color: #f2857e; }
.link--example-5:hover:after { text-shadow: -8px 0 0 currentColor, 8px 0 0 currentColor; opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Heartbeat
\* ------------------------------------------------------------ */

.link--example-6:after { position: absolute; top: 100%; left: 50%; left: 50%; height: 1px; width: 40px; margin-left: -20px; content: ''; background-color: #f2857e; transform: scaleX(0); }

.link--example-6:hover { animation: heartbeat 2s infinite ease-in; }
.link--example-6:hover:after { animation: heartbeat-x 2s infinite ease-in; }
