/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.button { font-size: 13px; line-height: 20px; color: #fff; font-weight: 500; display: inline-block; vertical-align: middle; padding: 15px 29px 13px; border: 1px solid #f2857e; background: #f2857e; border-radius: 3px; transform: translateZ(0); box-shadow: none; transition: all .35s ease; cursor: pointer; position: relative; }

.button--full { width: 800px; height: 800px; line-height: 800px; }
.button--half  { width: 400px; height: 400px; line-height: 400px; }


.effect-preview .sample:hover .btn,
.button:hover { color: #f2857e; }

/* ------------------------------------------------------------ *\
	Button Fade
\* ------------------------------------------------------------ */

.effect-preview .sample:hover .button--fade,
.button--fade:hover { color: #f2857e; background-color: #fff; }

