/* ------------------------------------------------------------ *\
	Burger
\* ------------------------------------------------------------ */

.burger { display: inline-block; height: 40px; width: 50px; }
.burger input { position: absolute; opacity: 0; }
.burger label { display: block; height: 100%; position: relative; }
.burger span { display: block; }

.burger span,
.burger label:after,
.burger label:before { position: absolute; left: 0; height: 8px; width: 100%; background: $brand; border-radius: 4px; }

.burger label:after,
.burger label:before { content: ''; }

.burger span { top: 16px; }
.burger label:before { top: 0; }
.burger label:after { top: 32px; }


/* ------------------------------------------------------------ *\
	Burger 1
\* ------------------------------------------------------------ */

.burger--1 label:before,
.burger--1 label:after { top: 16px; transition: opacity $t }
.burger--1 span { width: 60%; transition: transform $t, top $t }
.burger--1 .span-1 { top: 0; left: 0; border-radius: 4px 0 0 4px }
.burger--1 .span-2 { top: 0; right: 0; left: initial; border-radius: 0 4px 4px 0 }
.burger--1 .span-3 { top: 32px; left: 0; border-radius: 4px 0 0 4px }
.burger--1 .span-4 { top: 32px; right: 0; left: initial; border-radius: 0 4px 4px 0 }

.burger--1 input:checked ~ label:before,
.burger--1 input:checked ~ label:after { opacity: 0; }

.burger--1 input:checked ~ label .span-1 { transform: rotateZ(45deg); top: 8px; left: 2px; }
.burger--1 input:checked ~ label .span-2 { transform: rotateZ(-45deg); top: 8px; right: 2px; }
.burger--1 input:checked ~ label .span-3 { transform: rotateZ(-45deg); top: 24px; left: 2px; }
.burger--1 input:checked ~ label .span-4 { transform: rotateZ(45deg); top: 24px; right: 2px; }

/* ------------------------------------------------------------ *\
	Burger 2
\* ------------------------------------------------------------ */

.burger--2 label:before,
.burger--2 label:after { top: 16px; left: 50%; transform: translateX(-50%); transition: width $t, border-radius $t }
.burger--2 span { width: 50%; transition: transform $t, top $t }
.burger--2 .span-1 { top: 0; left: 0; border-radius: 4px 0 0 4px }
.burger--2 .span-2 { top: 0; right: 0; left: initial; border-radius: 0 4px 4px 0 }
.burger--2 .span-3 { top: 32px; left: 0; border-radius: 4px 0 0 4px }
.burger--2 .span-4 { top: 32px; right: 0; left: initial; border-radius: 0 4px 4px 0 }

.burger--2 input:checked ~ label:before,
.burger--2 input:checked ~ label:after { width: 10px; height: 10px; top: 15px; border-radius: 0; }

.burger--2 input:checked ~ label .span-1 { transform: rotateZ(45deg); top: 5px; left: 2px; }
.burger--2 input:checked ~ label .span-2 { transform: rotateZ(-45deg); top: 5px; right: 2px; }
.burger--2 input:checked ~ label .span-3 { transform: rotateZ(-45deg); top: 27px; left: 2px; }
.burger--2 input:checked ~ label .span-4 { transform: rotateZ(45deg); top: 27px; right: 2px; }

/* ------------------------------------------------------------ *\
	Burger 3
\* ------------------------------------------------------------ */

.burger--3 label:before,
.burger--3 label:after { top: 16px; transition: opacity $t, left $t; }
.burger--3 span { width: 60%; transition: transform $t, top $t }
.burger--3 .span-1 { top: 0; left: 0; border-radius: 4px 0 0 4px }
.burger--3 .span-2 { top: 0; right: 0; left: initial; border-radius: 0 4px 4px 0 }
.burger--3 .span-3 { top: 32px; left: 0; border-radius: 4px 0 0 4px }
.burger--3 .span-4 { top: 32px; right: 0; left: initial; border-radius: 0 4px 4px 0 }

.burger--3 input:checked ~ label:before,
.burger--3 input:checked ~ label:after { opacity: 0; }
.burger--3 input:checked ~ label:before { left: -20px; }
.burger--3 input:checked ~ label:after { left: 20px; }

.burger--3 input:checked ~ label .span-1 { transform: rotateZ(45deg); top: 8px; left: 2px; }
.burger--3 input:checked ~ label .span-2 { transform: rotateZ(-45deg); top: 8px; right: 2px; }
.burger--3 input:checked ~ label .span-3 { transform: rotateZ(-45deg); top: 24px; left: 2px; }
.burger--3 input:checked ~ label .span-4 { transform: rotateZ(45deg); top: 24px; right: 2px; }


/* ------------------------------------------------------------ *\
	Burger 4
\* ------------------------------------------------------------ */

.burger--4 label:before,
.burger--4 label:after { top: 16px; transition: transform $t; }
.burger--4 span { opacity: 1; transition: opacity $t .25s; }
.burger--4 .span-1 { top: 0; }
.burger--4 .span-2 { top: 32px; }

.burger--4 input:checked ~ label:before { transform: rotateZ(45deg); transition: transform $t .25s; }
.burger--4 input:checked ~ label:after { transform: rotateZ(-45deg); transition: transform $t .25s; }

.burger--4 input:checked ~ label span { opacity: 0; transition: opacity $t }

/* ------------------------------------------------------------ *\
	Burger 5
\* ------------------------------------------------------------ */

.burger--5 label:before,
.burger--5 label span { transition: background $t, top $t, opacity $t, transform $t $d; transition: top $t $d, opacity $t $d, transform $t 0s; }
.burger--5 label:after { transition: background $t, top $t, opacity $t, transform $t $d; transition: top $t $d, opacity $t $d, transform .4s 0s; }

.burger--5 input:checked ~ label:before,
.burger--5 input:checked ~ label:after,
.burger--5 input:checked ~ label span { transition: background $t, top $t, opacity $t, transform $t $d; }

.burger--5 input:checked ~ label:before,
.burger--5 input:checked ~ label:after { top: 16px; }

.burger--5 input:checked ~ label span { opacity: 0; }

.burger--5 input:checked ~ label:before { transform: rotate(45deg); }
.burger--5 input:checked ~ label:after { transform: rotate(135deg); }

/* ------------------------------------------------------------ *\
	Burger 6
\* ------------------------------------------------------------ */

.burger--6 label:before,
.burger--6 label:after { transition: left $t, opacity $t }
.burger--6 label span { transition: opacity $t }
.burger--6 .span-2 { opacity: 0; top: -40px; left: -60px; transform: rotateZ(45deg) translateY(-50%); transition: top $t, left $t, opacity $t }
.burger--6 .span-3 { opacity: 0; top: -40px; left: 60px; transform: rotateZ(-45deg) translateY(-50%); transition: top $t, left $t, opacity $t }

.burger--6 input:checked ~ label:before { left: -50px; opacity: 0; }
.burger--6 input:checked ~ label:after { left: 50px; opacity: 0; }
.burger--6 input:checked ~ label .span-1 { opacity: 0; }
.burger--6 input:checked ~ label .span-2 { top: 20px; left: -2px; opacity: 1; }
.burger--6 input:checked ~ label .span-3 { top: 20px; left: 4px; opacity: 1; }

/* ------------------------------------------------------------ *\
	Burger 7
\* ------------------------------------------------------------ */

.burger--7 span { transition: left .5s, opacity .4s; }
.burger--7 label:before { transition: left .5s .05s, transform .5s .05s; transform-origin: 0 0; }
.burger--7 label:after { transition: left .5s .05s, transform .5s .05s; transform-origin: 0 ; }

.burger--7 input:checked ~ label span { left: -100px; opacity: 0; }
.burger--7 input:checked ~ label:before { left: 100%; transform: rotateZ(135deg); top: 3px; }
.burger--7 input:checked ~ label:after { left: 98%; transform: rotateZ(-135deg); }

/* ------------------------------------------------------------ *\
	Burger 8
\* ------------------------------------------------------------ */

.burger--8 label:before,
.burger--8 label:after { transition: transform $t, top $t }
.burger--8 span { transition: width $t, height $t, opacity $t; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.burger--8 input:checked ~ label:before { transform: rotateZ(45deg); top: 16px; }
.burger--8 input:checked ~ label:after { transform: rotateZ(-45deg); top: 16px; }
.burger--8 input:checked ~ label span { width: 30px; height: 30px; opacity: .5; border-radius: 50%; }

/* ------------------------------------------------------------ *\
	Burger 9
\* ------------------------------------------------------------ */

.burger--9 label:before,
.burger--9 label:after { transition: top $t $t, transform $t; }
.burger--9 span { left: 50%; top: 50%; transform: translate(-50%, -50%); transition: width $t, height $t, opacity $t, border-radius $t; }

.burger--9 input:checked ~ label:before,
.burger--9 input:checked ~ label:after { top: 16px; transition: transform $t $t, top $t }
.burger--9 input:checked ~ label:before { transform: rotateZ(45deg); }
.burger--9 input:checked ~ label:after { transform: rotateZ(-45deg); }
.burger--9 input:checked ~ label span { width: 30px; height: 30px; opacity: .5; border-radius: 50%; transition: width $t $t, height $t $t, opacity $t $t, border-radius $t $t; }

/* ------------------------------------------------------------ *\
	Burger 10
\* ------------------------------------------------------------ */

.burger--10 span { transition: opacity $t; }
.burger--10 label:before { transition: top .5s, transform .5s; }
.burger--10 label:after { transition: top .5s, transform .5s }


.burger--10 input:checked ~ label span { opacity: 0; }
.burger--10 input:checked ~ label:before { top: 16px; transform: rotateZ(45deg); }
.burger--10 input:checked ~ label:after { top: 16px; transform: rotateZ(-405deg); }

/* ------------------------------------------------------------ *\
	Burger 11
\* ------------------------------------------------------------ */

.burger--11 span { width: 50%; transition: transform $t, top $t; }
.burger--11 .span-1 { left: 0; border-radius: 4px 0 0 4px; }
.burger--11 .span-2 { right: 0; left: initial; border-radius: 0 4px 4px 0 }
.burger--11 label:before,
.burger--11 label:after { transition: top $t $t , transform $t 0s }

.burger--11 input:checked ~ label .span-1 { animation: top-left .4s; transform: rotateZ(45deg); top: 7px; left: 3px; }
.burger--11 input:checked ~ label .span-2 { animation: bottom-right .4s; transform: rotateZ(45deg); top: 25px; right: 3px }

.burger--11 input:checked ~ label:before,
.burger--11 input:checked ~ label:after { top: 16px; transform: rotateZ(-45deg); transition: top $t .1s, transform $t .3s}


@keyframes top-left {
	0% { left: 0; transform: rotateZ(0deg); }
	50% { transform: rotateZ(45deg); }
	70% { top: -20px; left: -20px; }
	100% { transform: rotateZ(45deg); top: 7px; left: 3px; }
}

@keyframes bottom-right {
	0% { right: 0; transform: rotateZ(0deg); }
	50% { transform: rotateZ(45deg); }
	70% { top: 40px; right: -20px; }
	100% { transform: rotateZ(45deg); top: 25px; right: 3px; }
}

/* ------------------------------------------------------------ *\
	Burger 12
\* ------------------------------------------------------------ */

.burger--12 label:before,
.burger--12 label:after { transition: all .3s }
.burger--12 span { transition: transform $t .1s; }

.burger--12 input:checked ~ label:before { animation: top-left-2 .3s; top: 16px; left: 0; transform: rotateZ(45deg); }
.burger--12 input:checked ~ label:after { animation: bottom-right-2 .3s; top: 16px; left: 0; transform: rotateZ(45deg); }
.burger--12 input:checked ~ label span { transform: rotateZ(-45deg); }

@keyframes top-left-2 {
	0% { top: 0; left: 0; transform: rotateZ(0); }
	50% { top: -10px; left: -25px; transform: rotateZ(45deg); }
	80% { top: -10px; left: -25px; transform: rotateZ(45deg); }
	100% { top: 16px; left: 0; transform: rotateZ(45deg); }
}

@keyframes bottom-right-2 {
	0% { top: 32px; left: 0; transform: rotateZ(0); }
	50% { top: 40px; left: 25px; transform: rotateZ(45deg); }
	80% { top: 40px; left: 25px; transform: rotateZ(45deg); }
	100% { top: 16px; left: 0; transform: rotateZ(45deg); }
}

/* ------------------------------------------------------------ *\
	Burger 13
\* ------------------------------------------------------------ */

.burger--13 label:before,
.burger--13 label:after { top: 50%; left: 50%; transform: translate(-50%, -50%); transition: width $t, height $t, }
.burger--13 label:after { width: 0; height: 0; border-radius: 50%; opacity: .5; transition: width $t, height $t, }

.burger--13 label span { transition: top $t $t, transform $t }
.burger--13 label .span-1 { top: 0; }
.burger--13 label .span-2 { top: 32px; }

.burger--13 input:checked ~ label span { top: 16px; transition: top $t , transform $t $t; }
.burger--13 input:checked ~ label .span-1 { transform: rotateZ(45deg); }
.burger--13 input:checked ~ label .span-2 { transform: rotateZ(-45deg); }
.burger--13 input:checked ~ label:before { width: 0; height: 0; }
.burger--13 input:checked ~ label:after { width: 50px; height: 50px; transition: width $t $t, height $t $t; }



