/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

/* Button Block */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.button { font-size: 13px; line-height: 20px; color: #fff; font-weight: 500; display: inline-block; vertical-align: middle; padding: 15px 29px 13px; border: 1px solid #f2857e; background: #f2857e; border-radius: 3px; transform: translateZ(0); box-shadow: none; transition: all .35s ease; cursor: pointer; position: relative; }

.effect-preview:hover .button,
.button:hover { color: #f2857e; }

/* ------------------------------------------------------------ *\
	Button Fade
\* ------------------------------------------------------------ */

.button--fade:hover { color: #f2857e; background-color: #fff; }

/* ------------------------------------------------------------ *\
	Button Sweep Horizontal
\* ------------------------------------------------------------ */

.button--sweep-horizontal { z-index: 2; }
.button--sweep-horizontal:before { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; bottom: 0; width: 0; background: #fff; transition: width .35s; z-index: -1; }

.button--sweep-horizontal:hover:before { width: 100%; }

/* ------------------------------------------------------------ *\
	Button Sweep Vertical
\* ------------------------------------------------------------ */

.button--sweep-vertical { z-index: 2;  }
.button--sweep-vertical:before { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; right: 0; height: 0; background: #fff; transition: height .35s; z-index: -1; }

.button--sweep-vertical:hover:before { height: 100%; }

/* ------------------------------------------------------------ *\
	Button Bounce Horizontal
\* ------------------------------------------------------------ */

.button--bounce-horizontal { z-index: 2; }
.button--bounce-horizontal:before { content: ''; border-radius: 3px; position: absolute; top: 0; right: 0; bottom: 0; width: 0; background: #fff; transition: width .5s; z-index: -1; }

.button--bounce-horizontal:hover:before { width: 100%;  transition: width .5s cubic-bezier(0.52, 1.64, 0.37, 0.66); }

/* ------------------------------------------------------------ *\
	Button Bounce Vertical
\* ------------------------------------------------------------ */

.button--bounce-vertical { z-index: 2; }
.button--bounce-vertical:before { content: ''; border-radius: 3px; position: absolute; bottom: 0; left: 0; right: 0; bottom: 0; height: 0; background: #fff; transition: height .5s; z-index: -1;  }


.button--bounce-vertical:hover:before { height: 100%; transition: height .5s cubic-bezier(0.52, 1.64, 0.37, 0.66); }

/* ------------------------------------------------------------ *\
	Button Rectangle In
\* ------------------------------------------------------------ */

.button--rectangle-in { z-index: 2;  background: #fff; }

.button--rectangle-in:before { content: ''; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #f2857e; transform: scale(1); transition: transform .35s, z-index .35s; z-index: -1; }

.button--rectangle-in:hover { color: #f2857e; }

.button--rectangle-in:hover:before { transform: scale(0);}

/* ------------------------------------------------------------ *\
	Button Rectangle Out
\* ------------------------------------------------------------ */

.button--rectangle-out { z-index: 2;  }
.button--rectangle-out:before { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #fff; transform: scale(0); transition: transform .35s; z-index: -1;  }

.button--rectangle-out:hover { color: #f2857e; }

.button--rectangle-out:hover:before { transform: scale(1);  }

/* ------------------------------------------------------------ *\
	Button Shutter In Horizontal
\* ------------------------------------------------------------ */

.button--shutter-in-horizontal { background: #fff; overflow: hidden; }

.button--shutter-in-horizontal:before,
.button--shutter-in-horizontal:after { content: ''; position: absolute; top: 0; background: #f2857e; z-index: -1; width: 55%; height: 100%; transition: width .35s, z-index .35s; }

.button--shutter-in-horizontal:before { right: 50%; }
.button--shutter-in-horizontal:after { left: 50%; }

.button--shutter-in-horizontal:hover:before,
.button--shutter-in-horizontal:hover:after { width: 0%; }

/* ------------------------------------------------------------ *\
	Button Shutter Out Horizontal
\* ------------------------------------------------------------ */

.button--shutter-out-horizontal { z-index: 1; }

.button--shutter-out-horizontal:before,
.button--shutter-out-horizontal:after { content: ''; position: absolute; top: 0; z-index: -1; background: #fff; width: 0%; height: 100%; transition: width .35s, z-index .35s; }

.button--shutter-out-horizontal:before { left: 50%; border-radius: 0 3px 3px 0; }
.button--shutter-out-horizontal:after { right: 50%; border-radius: 3px 0 0 3px; }

.button--shutter-out-horizontal:hover:before,
.button--shutter-out-horizontal:hover:after { width: 50%; }

/* ------------------------------------------------------------ *\
	Button Shutter In Vertical
\* ------------------------------------------------------------ */

.button--shutter-in-vertical { background: #fff; }

.button--shutter-in-vertical:before,
.button--shutter-in-vertical:after { content: ''; position: absolute; left: 0; background: #f2857e; z-index: -1; height: 50%; width: 100%; transition: height .35s, z-index .35s; }

.button--shutter-in-vertical:before { top: 50%; }
.button--shutter-in-vertical:after { bottom: 50%; }

.button--shutter-in-vertical:hover:before,
.button--shutter-in-vertical:hover:after { height: 0%; }

/* ------------------------------------------------------------ *\
	Button Shutter Out vertical
\* ------------------------------------------------------------ */

.button--shutter-out-vertical { z-index: 1; }

.button--shutter-out-vertical:before,
.button--shutter-out-vertical:after { content: ''; position: absolute; left: 0; z-index: -1; background: #fff; height: 0%; width: 100%; transition: height .35s; }

.button--shutter-out-vertical:before { top: 50%; border-radius: 0 0 3px 3px; }
.button--shutter-out-vertical:after { bottom: 50%; border-radius: 3px 3px 0 0; }

.effect-preview:hover .button--shutter-out-vertical:before,
.effect-preview:hover .button--shutter-out-vertical:after,
.button--shutter-out-vertical:hover:before,
.button--shutter-out-vertical:hover:after { height: 50%; }

/* ------------------------------------------------------------ *\
	Button Radial
\* ------------------------------------------------------------ */

.button--radial { overflow: hidden; }
.button--radial:before { content: ''; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #fff; transform: scale(0); transition: transform .35s, z-index .35s; border-radius: 50%; z-index: -1; }

.button--radial:hover { color: #f2857e; z-index: 1; }

.button--radial:hover:before { transform: scale(1.5); }

/* ------------------------------------------------------------ *\
	Button skew left
\* ------------------------------------------------------------ */

.button--skew-bg-left { overflow: hidden; }
.button--skew-bg-left:before { content: ''; position: absolute; top: 50%; left: 50%; width: 105%; height: 0; background: #fff; z-index: -1; transform: translate(-50%, -50%) rotate(45deg); transition: height .35s, opacity .35s; }

.button--skew-bg-left:hover { color: #f2857e; z-index: 1; }

.button--skew-bg-left:hover:before { height: 250%; opacity: 1; }

/* ------------------------------------------------------------ *\
	Button skew Right
\* ------------------------------------------------------------ */

.button--skew-bg-right { overflow: hidden; }
.button--skew-bg-right:before { content: ''; position: absolute; top: 50%; left: 50%; width: 105%; height: 0; background: #fff; z-index: -1; transform: translate(-50%, -50%) rotate(-45deg); transition: height .35s, opacity .35s; }

.effect-preview .sample:hover .button--skew-bg-right,
.button--skew-bg-right:hover { color: #f2857e; z-index: 1; }

.effect-preview .sample:hover .button--skew-bg-right:before,
.button--skew-bg-right:hover:before { height: 250%; opacity: 1; }

/* ------------------------------------------------------------ *\
	Button skew partial
\* ------------------------------------------------------------ */

.button--skew-bg-partial { overflow: hidden; }
.button--skew-bg-partial:before { content: ''; position: absolute; top: 50%; left: 50%; width: 105%; height: 0; background: #fff; z-index: -1; transform: translate(-50%, -50%) rotate(45deg); transition: height .35s, opacity .35s; }

.button--skew-bg-partial:hover { color: #f2857e; z-index: 1; }

.button--skew-bg-partial:hover:before { height: 150%; opacity: 1; }

/* ------------------------------------------------------------ *\
	Button bg-fill
\* ------------------------------------------------------------ */

.button--bg-fill { border-color: transparent; }
.button--bg-fill:before { content: ''; position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; border: 1px solid #f2857e; border-radius: 3px; transition: transform .35s, opacity .35s; }
.button--bg-fill:after { content:''; position: absolute; top: -1px; left: -1px; right: -1px; bottom: -1px; background: #fff; transform: scale(0.5,0.5); transition: transform .35s, opacity .35s; opacity: 0; z-index: -1; border: 1px solid #f2857e; border-radius: 3px; }

.button--bg-fill:hover { color: #f2857e; background-color: transparent; }
.button--bg-fill:hover:before { transform: scale(1.2,1.2); opacity: 0; }
.button--bg-fill:hover:after { opacity: 1; transform: scale(1,1); }

/* ------------------------------------------------------------ *\
	Button Triangle Fill
\* ------------------------------------------------------------ */

.button--triangle-fill { overflow: hidden; }
.button--triangle-fill span { position: relative; z-index: 2; color: #fff; }
.button--triangle-fill:before { content: ''; position: absolute; top: 50%; left: 0px; width: 0; height: 0; border: 50px solid transparent; border-bottom: 90px solid #f2857e; opacity: 0; transition: all .35s; }
.button--triangle-fill:after { content: ''; position: absolute; top: 50%; left: 0px; width: 0; height: 0; border: 60px solid transparent; border-bottom: 100px solid #f2857e; transform: translate(-10px, 0px);opacity: 0; transition: all .35s; z-index: 1; }

.button--triangle-fill:hover { background-color: transparent; }
.button--triangle-fill:hover:before { opacity: 1; transform: translate(0px,-90px); }
.button--triangle-fill:hover:after { opacity: .5; transform: translate(-10px,-120px); }

/* ------------------------------------------------------------ *\
	Button Border Grow
\* ------------------------------------------------------------ */

.button--border-grow:hover { color: #fff; }
.button--border-grow:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 6px; border: 2px solid transparent; transition: width .2s, height .2s, border-color .2s; }
.button--border-grow:hover:before { border-color: #f2857e; width: calc(100% + 10px); height: calc(100% + 10px); }

/* ------------------------------------------------------------ *\
	Button Border Shrink
\* ------------------------------------------------------------ */

.button--border-shrink:hover { color: #fff; }
.button--border-shrink:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 3px; border: 2px solid transparent; transition: width .2s, height .2s, border-color .2s; }
.button--border-shrink:hover:before { border-color: #fff; width: calc(100% - 3px); height: calc(100% - 3px); }

/* ------------------------------------------------------------ *\
	Button Border Ripple
\* ------------------------------------------------------------ */

.button--border-ripple:hover { color: #fff; }
.button--border-ripple:before,
.button--border-ripple:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 4px; border: 1px solid #f2857e; }

.button--border-ripple:hover:before,
.button--border-ripple:hover:after { width: 150%; height: 200%; opacity: 0; transition: width .5s, height .5s, opacity .5s; }
.button--border-ripple:hover:after { transition-delay: .1s }

/* ------------------------------------------------------------ *\
	Button Border Ripple-in
\* ------------------------------------------------------------ */

.button--border-ripple-in:hover { color: #fff; }
.button--border-ripple-in:before,
.button--border-ripple-in:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150%; height: 200%; border-radius: 4px; border: 1px solid #f2857e; opacity: 0; }

.button--border-ripple-in:hover:before,
.button--border-ripple-in:hover:after { width: 100%; height: 100%; opacity: 1; transition: width .5s, height .5s, opacity .5s; }
.button--border-ripple-in:hover:after { transition-delay: .1s }

/* ------------------------------------------------------------ *\
	Button Dialog
\* ------------------------------------------------------------ */

.button--dialog:hover { color: #fff; }
.button--dialog:before { content: ''; position: absolute; bottom: calc(100% - 8px); left: 50%; transform: translateX(-50%); width: 0; height: 0; border-bottom: 8px solid #f2857e; border-left: 8px solid transparent; border-right: 8px solid transparent; transition: bottom .2s; }
.button--dialog:hover:before { bottom: 100%; }

/* ------------------------------------------------------------ *\
	Button Dialog Move
\* ------------------------------------------------------------ */

.button--dialog-move { top: 0; transition: top .2s; }
.button--dialog-move:hover { color: #fff; }
.button--dialog-move:before { content: ''; position: absolute; bottom: calc(100% - 8px); left: 50%; transform: translateX(-50%); width: 0; height: 0; border-bottom: 8px solid #f2857e; border-left: 8px solid transparent; border-right: 8px solid transparent; transition: bottom .2s; }
.button--dialog-move:hover { top: 8px; }
.button--dialog-move:hover:before { bottom: 100%; }

/* ------------------------------------------------------------ *\
	Button Frame
\* ------------------------------------------------------------ */

.button--frame { transition: background-color .2s, color .2s }
.button--frame:hover { background-color: transparent; }

.button--frame:before,
.button--frame:after { content: ''; position: absolute; top: 0; left: 0; width: calc(100% + 2px); height: 100%; border: 1px solid #f2857e; border-radius: 3px; transition: top .2s , left .2s; }

.button--frame:hover:before { top: -8px; left: -8px; }
.button--frame:hover:after { top: 8px; left: 8px; }

/* ------------------------------------------------------------ *\
	Button Frame Delay
\* ------------------------------------------------------------ */

.button--frame-delay { transition: background-color .2s .2s, color .2s .2s }
.button--frame-delay:hover { background-color: transparent; transition-delay: 0s; }

.button--frame-delay:before,
.button--frame-delay:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% + 2px); height: 100%; border: 1px solid #f2857e; border-radius: 3px; transition: top .2s , left .2s .2s; }

.button--frame-delay:hover:before { top: calc(50% - 8px); left: calc(50% - 8px); }
.button--frame-delay:hover:after { top: calc(50% + 8px); left: calc(50% + 8px) }

/* ------------------------------------------------------------ *\
	Button Frame Opacity
\* ------------------------------------------------------------ */

.button--frame-opacity { transition: background-color .2s .2s, color .2s .2s }
.button--frame-opacity:hover { color: #fff; background-color: rgba(242,133,126,.35); transition-opacity: 0s; }

.button--frame-opacity:before,
.button--frame-opacity:after { content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% + 2px); height: 100%; border: 1px solid #f2857e; border-radius: 3px; transition: top .2s , left .2s .2s; z-index: -1; }

.button--frame-opacity:hover:before { top: calc(50% - 8px); left: calc(50% - 8px); background: rgba(242,133,126,.35); }
.button--frame-opacity:hover:after { top: calc(50% + 8px); left: calc(50% + 8px); background: rgba(242,133,126,.35); }

/* ------------------------------------------------------------ *\
	Button Frame In
\* ------------------------------------------------------------ */

.button--frame-in { transition: background-color .2s .2s, color .2s .2s; overflow: hidden; }
.button--frame-in:hover { color: #fff; transition-opacity: 0s; }

.button--frame-in:before,
.button--frame-in:after { content: ''; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% + 2px); height: 100%; border: 1px solid #f2857e; border-radius: 3px; transition: top .2s , left .2s, border-color .2s; }

.button--frame-in:hover:before { top: calc(50% - 8px); left: calc(50% - 8px); border: 1px solid #fff; }
.button--frame-in:hover:after { top: calc(50% + 8px); left: calc(50% + 8px); border: 1px solid #fff; }

/* ------------------------------------------------------------ *\
	Button Borders X Show
\* ------------------------------------------------------------ */

.button--borders-x-show { border: 0; }
.button--borders-x-show:hover { color: #fff; }
.button--borders-x-show:after { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; width: 100%; height: 0; border-width: 0 3px 0 3px; border-style: solid; border-color: rgba(255,0,0,.5); transition: height .2s; }
.button--borders-x-show:hover:after { height: 100%; }

/* ------------------------------------------------------------ *\
	Button Borders Y Show
\* ------------------------------------------------------------ */

.button--borders-y-show { border: 0; }
.button--borders-y-show:hover { color: #fff; }
.button--borders-y-show:after { content: ''; border-radius: 3px; position: absolute; top: 0; left: 0; width: 0; height: 100%; border-width: 3px 0 3px 0; border-style: solid; border-color: rgba(255,0,0,.5); transition: width .2s; }
.button--borders-y-show:hover:after { width: 100%; }

/* ------------------------------------------------------------ *\
	Button Borders Corners
\* ------------------------------------------------------------ */

.button--borders-corners { position: relative; border: 0; }
.button--borders-corners:hover { color: #fff; }
.button--borders-corners:before,
.button--borders-corners:after { content: ''; border-radius: 3px; position: absolute; border-style: solid; border-color: transparent; height: 0; width: 0; transition: width .2s .2s, height .2s, border-color 0s .4s; }

.button--borders-corners:before { border-width: 3px 3px 0 0; top: 0; left: 0; }
.button--borders-corners:after { border-width: 0 0 3px 3px; bottom: 0; right: 0; }

.button--borders-corners:hover:before,
.button--borders-corners:hover:after { width: 100%; height: 100%; border-color: rgba(255,0,0,.5); transition: width .2s, height .2s .2s, border-color 0s; }

/* ------------------------------------------------------------ *\
	Button Borders Single
\* ------------------------------------------------------------ */

.button--borders-single { border: 0; }
.button--borders-single:hover { color: #fff; }

.button--borders-single:before,
.button--borders-single:after { content: ''; border-radius: 3px; position: absolute; border-style: solid; border-color: transparent; height: 0; width: 0; }

.button--borders-single:before { border-width: 3px 3px 0 0; top: 0; left: 0; transition: width .2s .6s, height .2s .4s, border-color 0s .8s; }
.button--borders-single:after { border-width: 0 0 3px 3px; bottom: 0; right: 0; transition: width .2s .2s, height .2s, border-color 0s .4s;}

.button--borders-single:hover:before,
.button--borders-single:hover:after { width: 100%; height: 100%; border-color: rgba(255,0,0,.5); }

.button--borders-single:hover:before { transition: width .2s, height .2s .2s, border-color 0s; }
.button--borders-single:hover:after { transition: width .2s .4s, height .2s .6s, border-color 0s .4s; }

/* ------------------------------------------------------------ *\
	Button Borders All
\* ------------------------------------------------------------ */

.button--borders-all { border: 0; }
.button--borders-all:hover { color: #fff; }

.button--borders-all:before,
.button--borders-all:after { content: ''; border-radius: 3px; position: absolute; border-style: solid; border-color: transparent; height: 0; width: 0; transition: width .2s, height .2s, border-color 0s .2s; }

.button--borders-all:before { border-width: 3px 0 0 3px; top: 0; left: 0; }
.button--borders-all:after { border-width: 0 3px 3px 0; bottom: 0; right: 0; }

.button--borders-all:hover:before,
.button--borders-all:hover:after { width: 100%; height: 100%; border-color: rgba(255,0,0,.5); transition: width .2s, height .2s, border-color 0s 0s; }

/* ------------------------------------------------------------ *\
	Button Icon Back
\* ------------------------------------------------------------ */

.button--icon-back:hover { color: #fff; }
.button--icon-back i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back:hover i { margin-left: -12px; margin-right: 12px; }

/* ------------------------------------------------------------ *\
	Button Icon Back Loop
\* ------------------------------------------------------------ */

.button--icon-back-loop:hover { color: #fff; }
.button--icon-back-loop i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back-loop:hover i { animation: loop-left .8s infinite; }

@keyframes loop-left {
	0% { margin-left: -4px; margin-right: 4px; }
	85% { margin-left: -12px; margin-right: 12px; }
	100% { margin-left: -4px; margin-right: 4px; }
}

/* ------------------------------------------------------------ *\
	Button Icon Back Fade
\* ------------------------------------------------------------ */

.button--icon-back-fade:hover { color: #fff; }
.button--icon-back-fade i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back-fade:hover i { animation: icon-fade .8s infinite; }

@keyframes icon-fade {
	0% { margin-left: -4px; margin-right: 4px; opacity: 1; }
	100% { margin-left: -16px; margin-right: 16px; opacity: 0; }
}

/* ------------------------------------------------------------ *\
	Button Replace Right
\* ------------------------------------------------------------ */

.button--icon-replace-right { position: relative; overflow: hidden; }
.button--icon-replace-right i { position: absolute; top: 50%; transform: translate(-50%, -50%); left: 150%; transition: left .4s; }
.button--icon-replace-right span { transition: opacity .2s; }
.button--icon-replace-right:hover { color: #fff; }
.button--icon-replace-right:hover span { opacity: 0; }
.button--icon-replace-right:hover i { left: 50%; }


/* ------------------------------------------------------------ *\
	Button Replace Bottom
\* ------------------------------------------------------------ */

.button--icon-replace-bottom { position: relative; overflow: hidden; }
.button--icon-replace-bottom i { position: absolute; top: 150%; transform: translate(-50%, -50%); left: 50%; transition: top .4s; }
.button--icon-replace-bottom span { transition: opacity .2s; }
.button--icon-replace-bottom:hover { color: #fff; }
.button--icon-replace-bottom:hover span { opacity: 0; }
.button--icon-replace-bottom:hover i { top: 50%; }


/* ------------------------------------------------------------ *\
	Button Icon Move Bottom
\* ------------------------------------------------------------ */

.button--icon-move-bottom:hover { color: #fff; }
.button--icon-move-bottom { position: relative; overflow: hidden; }
.button--icon-move-bottom span { position: relative; top: 0; transition: top .3s; }
.button--icon-move-bottom i { position: absolute; left: 50%; transform: translate(-50%, -50%); top: 150%; transition: top .3s; }

.button--icon-move-bottom:hover i { top: 50%; }
.button--icon-move-bottom:hover span { top: -35px; }

/* ------------------------------------------------------------ *\
	Button Icon Grow
\* ------------------------------------------------------------ */

.button--icon-grow:hover { color: #fff; }
.button--icon-grow i { margin-left: -4px; margin-right: 4px; transition: transform .2s linear; }
.button--icon-grow:hover i { transform: scale(1.5); }

/* ------------------------------------------------------------ *\
	Button Icon Like
\* ------------------------------------------------------------ */

.button--icon-fill { position: relative; }
.button--icon-fill i { position: absolute; top: 50%; transform: translateY(-50%); left: 23px; }
.button--icon-fill i + i { opacity: 0; transition: opacity .2s; }
.button--icon-fill span { margin-left: 13px; }
.button--icon-fill:hover { color: #fff; }
.button--icon-fill:hover i + i { opacity: 1; }

/* ------------------------------------------------------------ *\
	Button Icon Like
\* ------------------------------------------------------------ */

.button--icon-like:hover { color: #fff; }
.button--icon-like i { transition: color .2s; }
.button--icon-like i + i { margin-left: -17px; color: transparent; transition: color .3s, opacity .3s .3s, transform .4s .2s; }
.button--icon-like:hover i + i { color: rgba(255,0,0,.5); opacity: 0; transform: scale(3); }
.button--icon-like:hover i { color: rgba(255,0,0,.5); }

/* ------------------------------------------------------------ *\
	Button Border Out
\* ------------------------------------------------------------ */

.button--border-out:hover { color: #fff; }
.button--border-out:before { content: ''; border-radius: 3px; position: absolute; left: 6px; top: -6px; width: 100%; height: 100%; opacity: 0; border: 3px solid rgba(255,0,0,.5); transition: left .3s, top .3s, opacity .2s; }
.button--border-out:hover:before { opacity: 1; left: 0; top: 0; }

/* ------------------------------------------------------------ *\
	Button Border Background
\* ------------------------------------------------------------ */

.button--border-background { background-color: transparent; border: 0; z-index: 2; }
.button--border-background:before { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; border-radius: 3px; background-color: #f2857e; z-index: -1; transition: width .2s; }
.button--border-background:after { content: ''; position: absolute; top: -2px; bottom: -2px; left: 50%; transform: translateX(-50%); width: 0; border-top:2px solid #f2857e; border-bottom: 2px solid #f2857e; transition: width .2s; }

.button--border-background:hover:before { width: 0; }
.button--border-background:hover:after { width: 100%; }

/* ------------------------------------------------------------ *\
	Button Background Fall In
\* ------------------------------------------------------------ */

.button--background-fall-in { background-color: transparent; border: 0; z-index: 2; }
.button--background-fall-in:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 3px; background-color: #f2857e; z-index: -1; transition: width .3s, height .3s; }
.button--background-fall-in:after { content: ''; border-radius: 3px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150%; height: 200%; border: 1px solid #f2857e; opacity: 0; transition: width .3s, height .3s, opacity .3s; }

.button--background-fall-in:hover:before { width: 0; height: 0; }
.button--background-fall-in:hover:after { width: 100%; height: 100%; opacity: 1; }
