/* ------------------------------------------------------------ *\
	Animation
\* ------------------------------------------------------------ */

@keyframes rotatePlane {
	0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
	50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
	100% { transform: perspective(120px) rotateX(-180deg) rotateY(-180deg); }
}

@keyframes bounce { 
	0%, 100% { transform: scale(0); }
	50% { transform: scale(1); }
}

@keyframes stretchDelay {
	0%, 40%, 100% { transform: scaleY(.4); }
	20% { transform: scaleY(1); }
}

@keyframes cubeMove {
	25%{ transform: translateX(42px) rotate(-90deg) scale(0.5); }
	50% { transform: translateX(42px) translateY(42px) rotate(-179deg); }
	50.1% { transform:translateX(42px) translateY(42px) rotate(-180deg); }
	75% { transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
	100% { transform: rotate(-360deg); }
}

@keyframes scaleOut {
	0% { transform: scale(0); }
	100% { transform: scale(1); opacity: 0; }
}

@keyframes rotate {
	100% { transform: rotate(360deg); }
}

@keyframes bounceDelay {
	0%, 80%, 100% { transform :scale(0); }
	40% { transform: scale(1); }
}

@keyframes circleBounceDelay {
	0%, 80%, 100% { transform: scale(0); }
	40% { transform: scale(1); }
}

@keyframes cubeGridScaleDelay {
	0%, 70%, 100% { transform: scale3D(1, 1, 1); }
	35% { transform: scale3D(0, 0, 1); }
}

@keyframes circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
}

@keyframes foldCube {
	0%, 10% { transform: perspective(140px) rotateX(-180deg); opacity: 0; }
	25%, 75% { transform: perspective(140px) rotateX(0deg); opacity: 1; }
	90%, 100% { transform: perspective(140px) rotateY(180deg); opacity: 0; }
}

@keyframes fillOneOfTen {
	0% { opacity: 0; }
	10% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillTwoOfTen {
	0% { opacity: 0; }
	10% { opacity: 0; }
	20% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillThreeOfTen {
	0% { opacity: 0; }
	20% { opacity: 0; }
	30% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillFourOfTen {
	0% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillFiveOfTen {
	0% { opacity: 0; }
	40% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillSixOfTen {
	0% { opacity: 0; }
	50% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillSevenOfTen {
	0% { opacity: 0; }
	60% { opacity: 0; }
	70% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillEightOfTen {
	0% { opacity: 0; }
	70% { opacity: 0; }
	80% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillNineOfTen {
	0% { opacity: 0; }
	80% { opacity: 0; }
	90% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fillTenOfTen {
	0% { opacity: 0; }
	90% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes flyText {
	0% { left: 0; opacity: 0; }
	35% { left: 35%; transform: rotate(0deg); opacity: 1; }
	65% { left: 65%; transform: rotate(0deg); opacity: 1; }
	100% { left: 100%; transform: rotate(-180deg); opacity: 0; }
}

@keyframes animateDot1 {
    0%{ transform: rotate(0deg) translateX(-12px); }
    25% { transform: rotate(180deg) translateX(-12px); }
    75% { transform: rotate(180deg) translateX(-12px); }
    100% { transform: rotate(360deg) translateX(-12px); }
}

@keyframes animateDot2 {
    0%{ transform: rotate(-0deg) translateX(-12px); }
    25% { transform: rotate(-180deg) translateX(-12px); }
    75% { transform: rotate(-180deg) translateX(-12px); }
    100% { transform: rotate(-360deg) translateX(-12px); }
}

@keyframes animateDot3 {
    0%{ transform: rotate(0deg) translateX(12px); }
    25% { transform: rotate(180deg) translateX(12px); }
    75% { transform: rotate(180deg) translateX(12px); }
    100% { transform: rotate(360deg) translateX(12px); }
}

@keyframes animateDot4 {
    0%{ transform: rotate(-0deg) translateX(12px); }
    25% { transform: rotate(-180deg) translateX(12px); }
    75% { transform: rotate(-180deg) translateX(12px); }
    100% { transform: rotate(-360deg) translateX(12px); }
}

@keyframes scaleIn {
	0% { transform: scale(0); }
	50% { transform: scale(1); opacity: 1; }
	100% { transform: scale(1); opacity: 0; }
}

@keyframes gpsPulse {
	0% { transform: scale(0); background-color: $brand; }
	29% { background-color: $brand; }
	30% { transform: scale(1); background-color: transparent; border-width: 16px; opacity: 1; }
	100% { transform: scale(1); border-width: 0; background-color: transparent; opacity: 0; }
}

@keyframes gpsPulseLabel {
	0% { opacity: .25; }
	30% { opacity: 1; }
	100% { opacity: .25; }
}

@keyframes loaderDots {
	0% { opacity: 0; transform: translateX(-150px); }
	33% { opacity: 1; transform: translateX(0px); }
	66% { opacity: 1; transform: translateX(0px); }
	100% { opacity: 0; transform: translateX(150px); }
}

@keyframes bounceBall {
	0% { height: 6px; top: 33px; border-radius: 60px 60px 20px 20px; transform: scaleX(2); }
	35% { height: 16px; border-radius: 50%; transform: scaleX(1); }
	100% { top: 0; }
}

@keyframes planetAxis {
	0% { transform: rotateZ(0deg) translate3d(0, 0, 0); }
	100% { transform: rotateZ(360deg) translate3d(0, 0, 0); }
}

@keyframes drip {
	10% { top: 0; opacity: 1; animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14); }
	25% { opacity: 1; top: 200px; animation-timing-function: ease-out; width: 15px; height: 15px; left: 92.5px; }
	30% { opacity: 1; top: 160px; width: 5px; height: 5px; animation-timing-function: ease-in; left: 97.5px; }
	33% { top: 200px; opacity: 0; animation-timing-function: ease-out; left: 97.5px; }
	33.001% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes splash {
	0% { opacity: 0; }
	25% { bottom: 50px; left: 100px; opacity: 0; width: 0px; height: 0px; }
	25.001% { opacity: 1; }
	33% { bottom: 0; left: 0; opacity: 0; width: 200px; height: 100px; }
	33.001% { bottom: 50px; left: 100px; opacity: 1; width: 0px; height: 0px; }
	43% { bottom: 0; left: 0; opacity: 0; width: 200px; height: 100px; }
	43.001% { opacity: 0; }
}

@keyframes ballMove {
	0% { transform: translate(0, 0); }
	5% { transform: translate(8px, -14px); }
	10% { transform: translate(15px, -10px); }
	17% { transform: translate(23px, -24px); }
	20% { transform: translate(30px, -20px); }
	27% { transform: translate(38px, -34px); }
	30% { transform: translate(45px, -30px); }
	37% { transform: translate(53px, -44px); }
	40% { transform: translate(60px, -40px); }
	50% { transform: translate(60px, 0); }
	57% { transform: translate(53px, -14px); }
	60% { transform: translate(45px, -10px); }
	67% { transform: translate(37px, -24px); }
	70% { transform: translate(30px, -20px); }
	77% { transform: translate(22px, -34px); }
	80% { transform: translate(15px, -30px); }
	87% { transform: translate(7px, -44px); }
	90% { transform: translate(0, -40px); }
	100% { transform: translate(0, 0); }
}

@keyframes barUp1 {
	0% { transform: scale(1, 0.2); }
	40% { transform: scale(1, 0.2); }
	50% { transform: scale(1, 1); }
	90% { transform: scale(1, 1); }
	100% { transform: scale(1, 0.2); }
}

@keyframes barUp2 {
	0% { transform: scale(1, 0.4); }
	40% { transform: scale(1, 0.4); }
	50% { transform: scale(1, 0.8); }
	90% { transform: scale(1, 0.8); }
	100% { transform: scale(1, 0.4); }
}

@keyframes barUp3 {
	0% { transform: scale(1, 0.6); }
	100% { transform: scale(1, 0.6); }
}

@keyframes barUp4 {
	0% { transform: scale(1, 0.8); }
	40% { transform: scale(1, 0.8); }
	50% { transform: scale(1, 0.4); }
	90% { transform: scale(1, 0.4); }
	100% { transform: scale(1, 0.8); }
}

@keyframes barUp5 {
	0% { transform: scale(1, 1); }
	40% { transform: scale(1, 1); }
	50% { transform: scale(1, 0.2); }
	90% { transform: scale(1, 0.2); }
	100% { transform: scale(1, 1); }
}

@keyframes materialRotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: $brand; }
	25% { stroke: $purple; }
	50% { stroke: $blue; }
	75% { stroke: $green; }
	100% { stroke: $brand; }
}

@keyframes dash {
	0% { stroke-dashoffset: 187; }
	50% { stroke-dashoffset: 47; transform: rotate(135deg); }
	100% { stroke-dashoffset: 187; transform: rotate(450deg); }
}

@keyframes infinityLoader {
	12.5% { stroke-dasharray: 33.98873px, 242.77666px; stroke-dashoffset: -26.70543px; }
	43.75% { stroke-dasharray: 84.97183px, 242.77666px; stroke-dashoffset: -84.97183px; }
	100% { stroke-dasharray: 2.42777px, 242.77666px; stroke-dashoffset: -240.34889px; }
}