/* ------------------------------------------------------------ *\
	Loaders
\* ------------------------------------------------------------ */

/*  Rotating Plane  */

.loader--rotating-plane { width: 64px; height: 64px; background-color: $brand; animation: rotatePlane 1.2s infinite ease-in-out; }

/*  Double Bounce  */

.loader--double-bounce { width: 64px; height: 64px; position: relative; }

.loader--double-bounce:before,
.loader--double-bounce:after { content: ''; width: 100%; height: 100%; background-color: $purple; border-radius: 50%; opacity: .6; animation: bounce 2s infinite ease-in-out; position: absolute; left: 0; top: 0; }

.loader--double-bounce:after { animation-delay: -1s; }

/*  Rectangle Bounce  */

.loader--reactangle-bounce { display: flex; height: 64px; }
.loader--reactangle-bounce div { width: 5px; background-color: $blue; animation: stretchDelay 1.2s infinite ease-in-out; }
.loader--reactangle-bounce div ~ div { margin-left: 5px; }
.loader--reactangle-bounce .loader__rect--2 { animation-delay: -1.1s; }
.loader--reactangle-bounce .loader__rect--3 { animation-delay: -1s; }
.loader--reactangle-bounce .loader__rect--4 { animation-delay: -.9s; }
.loader--reactangle-bounce .loader__rect--5 { animation-delay: -.8s; }

/*  Wandering Cubes  */

.loader--wandering-cubes { width: 64px; height: 64px; position: relative; }

.loader--wandering-cubes:before,
.loader--wandering-cubes:after { content: ''; width: 20px; height: 20px; background-color: $green; position: absolute; left: 0; top: 0; animation: cubeMove 1.8s infinite ease-in-out; }

.loader--wandering-cubes:after { animation-delay: -.9s; }

/*  Pulse  */

.loader--pulse { width: 64px; height: 64px; border-radius: 50%; background-color: $brand; animation: scaleOut 1s infinite ease-in-out; }

/*  Chasing Dots  */

.loader--chasing-dots { width: 64px; height: 64px; position: relative; animation: rotate 2s infinite linear; }

.loader--chasing-dots:before,
.loader--chasing-dots:after { content: ''; width: 50%; height: 50%; border-radius: 50%; background-color: $purple; animation: bounce 2s infinite ease-in-out; position: absolute; top: 0; }

.loader--chasing-dots:after { top: auto; bottom: 0; animation-delay: -1s; }

/*  Three Bounce  */

.loader--three-bounce { display: flex; align-items: center; width: 64px; height: 64px; }
.loader--three-bounce div { flex: 0 0 18px; height: 18px; border-radius: 50%; background-color: $blue; animation: bounceDelay 1.4s infinite ease-in-out; }
.loader--three-bounce div ~ div { margin-left: 5px; }
.loader--three-bounce .loader__circle--one { animation-delay: -.32s; }
.loader--three-bounce .loader__circle--two { animation-delay: -.16s; }

/*  Circle  */

.loader--circle { width: 64px; height: 64px; position: relative; }

.loader--circle .loader__circle { width: 100%; height: 100%; position: absolute; left: 0; top: 0; transform-origin: center; }
.loader--circle .loader__circle:before { display: block; content: ''; width: 10px; height: 10px; margin: 0 auto; border-radius: 50%; background-color: $green; animation: circleBounceDelay 1.2s infinite ease-in-out; }

.loader--circle .loader__circle--2 { transform: rotate(30deg); }
.loader--circle .loader__circle--2:before { animation-delay: -1.1s; }
.loader--circle .loader__circle--3 { transform: rotate(60deg); }
.loader--circle .loader__circle--3:before { animation-delay: -1s; }
.loader--circle .loader__circle--4 { transform: rotate(90deg); }
.loader--circle .loader__circle--4:before { animation-delay: -.9s; }
.loader--circle .loader__circle--5 { transform: rotate(120deg); }
.loader--circle .loader__circle--5:before { animation-delay: -.8s; }
.loader--circle .loader__circle--6 { transform: rotate(150deg); }
.loader--circle .loader__circle--6:before { animation-delay: -.7s; }
.loader--circle .loader__circle--7 { transform: rotate(180deg); }
.loader--circle .loader__circle--7:before { animation-delay: -.6s; }
.loader--circle .loader__circle--8 { transform: rotate(210deg); }
.loader--circle .loader__circle--8:before { animation-delay: -.5s; }
.loader--circle .loader__circle--9 { transform: rotate(240deg); }
.loader--circle .loader__circle--9:before { animation-delay: -.4s; }
.loader--circle .loader__circle--10 { transform: rotate(270deg); }
.loader--circle .loader__circle--10:before { animation-delay: -.3s; }
.loader--circle .loader__circle--11 { transform: rotate(300deg); }
.loader--circle .loader__circle--11:before { animation-delay: -.2s; }
.loader--circle .loader__circle--12 { transform: rotate(330deg); }
.loader--circle .loader__circle--12:before { animation-delay: -.1s; }

/*  Cubes  */

.loader--cubes { display: flex; flex-flow: row wrap; align-items: flex-start; width: 60px; height: 60px; position: relative; }

.loader--cubes .loader__cube { flex: 0 0 33%; max-width: 33%; padding-bottom: 33%; background-color: $brand; animation: cubeGridScaleDelay 1.3s infinite ease-in-out; }
.loader--cubes .loader__cube--1 { animation-delay: .2s; }
.loader--cubes .loader__cube--2 { animation-delay: .3s; }
.loader--cubes .loader__cube--3 { animation-delay: .4s; }
.loader--cubes .loader__cube--4 { animation-delay: .1s; }
.loader--cubes .loader__cube--5 { animation-delay: .2s; }
.loader--cubes .loader__cube--6 { animation-delay: .3s; }
.loader--cubes .loader__cube--7 { animation-delay: 0s; }
.loader--cubes .loader__cube--8 { animation-delay: .1s; }
.loader--cubes .loader__cube--9 { animation-delay: .2s; }

/*  Fade Circle  */

.loader--fade-circle { width: 64px; height: 64px; position: relative; }

.loader--fade-circle .loader__circle { width: 100%; height: 100%; position: absolute; left: 0; top: 0; transform-origin: center; }
.loader--fade-circle .loader__circle:before { display: block; content: ''; width: 10px; height: 10px; margin: 0 auto; border-radius: 50%; background-color: $purple; animation: circleFadeDelay 1.2s infinite ease-in-out; }

.loader--fade-circle .loader__circle--2 { transform: rotate(30deg); }
.loader--fade-circle .loader__circle--2:before { animation-delay: -1.1s; }
.loader--fade-circle .loader__circle--3 { transform: rotate(60deg); }
.loader--fade-circle .loader__circle--3:before { animation-delay: -1s; }
.loader--fade-circle .loader__circle--4 { transform: rotate(90deg); }
.loader--fade-circle .loader__circle--4:before { animation-delay: -.9s; }
.loader--fade-circle .loader__circle--5 { transform: rotate(120deg); }
.loader--fade-circle .loader__circle--5:before { animation-delay: -.8s; }
.loader--fade-circle .loader__circle--6 { transform: rotate(150deg); }
.loader--fade-circle .loader__circle--6:before { animation-delay: -.7s; }
.loader--fade-circle .loader__circle--7 { transform: rotate(180deg); }
.loader--fade-circle .loader__circle--7:before { animation-delay: -.6s; }
.loader--fade-circle .loader__circle--8 { transform: rotate(210deg); }
.loader--fade-circle .loader__circle--8:before { animation-delay: -.5s; }
.loader--fade-circle .loader__circle--9 { transform: rotate(240deg); }
.loader--fade-circle .loader__circle--9:before { animation-delay: -.4s; }
.loader--fade-circle .loader__circle--10 { transform: rotate(270deg); }
.loader--fade-circle .loader__circle--10:before { animation-delay: -.3s; }
.loader--fade-circle .loader__circle--11 { transform: rotate(300deg); }
.loader--fade-circle .loader__circle--11:before { animation-delay: -.2s; }
.loader--fade-circle .loader__circle--12 { transform: rotate(330deg); }
.loader--fade-circle .loader__circle--12:before { animation-delay: -.1s; }

/*  Folding Cube  */

.loader--folding-cube { display: flex; flex-flow: row wrap; width: 64px; height: 64px; transform: rotate(45deg); position: relative; }

.loader--folding-cube .loader__cube { flex: 0 0 50%; max-width: 50%; padding-bottom: 50%; transform: scale(1.1); position: relative; }
.loader--folding-cube .loader__cube:before { content: ''; width: 100%; height: 100%; background-color: $blue; position: absolute; left: 0; top: 0; animation: foldCube 2.4s infinite ease-in-out; transform-origin: 100% 100%; }

.loader--folding-cube .loader__cube--2 { transform: scale(1.1) rotateZ(90deg); }
.loader--folding-cube .loader__cube--2:before { animation-delay: .3s; }
.loader--folding-cube .loader__cube--3 { transform: scale(1.1) rotateZ(180deg); }
.loader--folding-cube .loader__cube--3:before { animation-delay: .6s; }
.loader--folding-cube .loader__cube--4 { transform: scale(1.1) rotateZ(270deg); }
.loader--folding-cube .loader__cube--4:before { animation-delay: .9s; }

/*  Ring  */

.loader--ring { width: 64px; height: 64px; position: relative; }

.loader--ring:before,
.loader--ring:after { content: ''; border-radius: 50%; position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

.loader--ring:before { border: 5px solid rgba(0, 0, 0, .25); opacity: .25; z-index: 1; }
.loader--ring:after { border-width: 5px; border-style: solid; border-color: $green transparent transparent transparent; animation: rotate 1.2s infinite linear; z-index: 2; }

