/* ------------------------------------------------------------ *\
	Sample Style
\* ------------------------------------------------------------ */

.samples { overflow: hidden; }
.samples:after { content: ''; line-height: 0; display: table; clear: both; }

.sample { text-align: center; width: calc(100% / 3 - 1px); height: 0; float: left; position: relative; padding-bottom: 24.99%; margin: 0 1px 1px 0; background: #f4f4f4; transition: background-color .35s ease; overflow: hidden; }
.sample:hover { background-color: #fff; }

.sample__preview { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.sample__link { position: absolute; top: 0; right: 0; bottom: 0; left: 0;  z-index: 4; }

.sample__icon,
.sample__title { position: absolute; right: 7px; z-index: 2; }

.sample__icon { font-size: 13px; line-height: 1.9; color: #000; width: 26px; height: 26px; opacity: .25; top: 17px; padding: 1px 0 0 1px; border: 2px solid; margin-right: 10px; border-radius: 50%; }
.sample__title { font-size: 11px; color: #444; opacity: .5; bottom: 26px; left: 7px; }

.sample__preview--8,
.sample__preview--9,
.sample__preview--10 { transform: none; margin-left: -18px; margin-top: -20px; }

.sample .sample__inner { width: 100%; height: 100%; background: #f4f4f4; transform: none; position: absolute; left: 0; top: 0; z-index: 1; }

.sample--perspective .sample__inner { transform: perspective(1000px); transition: transform 0.6s; transition-timing-function: cubic-bezier(0.2,1,0.3,1); }
.sample--perspective .sample__inner.is--transformed { transform: perspective(1000px) translate3d(0,50%,0) rotate3d(1,0,0,30deg); }
.sample--perspective .sample__inner.is--transformed + .search--example-10.search--wrapper .search__form { opacity: 1; transform: scale3d(1, 1, 1); }

@media ( max-width: 1023px ) {
	.sample { width: calc(50% - 1px); padding-bottom: 37.324%; }
}

@media ( max-width: 767px ) {
	.sample { width: auto; float: none; padding-bottom: 75%; margin: 0 0 20px; }
}


/*  Grid sizes  */

@media (min-width: 768px) {
	.samples--1of2 .sample { width: calc(50% - 1px); padding-bottom: 37.324%; }
}

.samples--full .sample { width: auto; float: none; padding-bottom: 75%; }
