/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { position: relative; }

.search .search__field { appearance: none; border-radius: 0; outline: none; }
.search .search__btn { background-color: transparent; border: 0; border-radius: 0; outline: none; }

/*  Search Example 1  */

.search--example-1 form { font-size: 0; }

.search--example-1 .search__field:focus { width: 180px; cursor: text; }
.search--example-1 .search__field { width: 32px; height: 32px; padding: 0 10px; border: 4px solid $brand; border-radius: 20px; background-color: transparent; font-size: 14px; transition: width .5s; cursor: pointer; }
.search--example-1 .search__btn { width: 4px; height: 12px; background-color: $brand; transform: rotate(135deg); position: absolute; right: -2px; bottom: -2px; }

/*  Search Example 2  */

.search--example-2 form { height: 50px; position: relative; text-align: left; }
.search--example-2 form.on { animation: search-in-out .7s linear 1; }

.search--example-2 .search__field { width: 50px; height: 50px; padding: 0; border: 4px solid $purple; border-radius: 50%; background: none; transition: width .4s ease-in-out .4s, border-radius .8s ease-in-out .4s, padding .2s ease-in-out .4s; }
.search--example-2 .search__field.square { width: 300px; padding: 0 40px 0 10px; border-radius: 0; transition: width .4s ease-in-out .4s, border-radius .8s ease-in-out 0s, padding .2s ease-in-out .4s; }

.search--example-2 .search__btn { width: 50px; height: 50px; padding: 0; border-radius: 50%; background: none; position: absolute; right: 0; top: 0; transition: all .2s ease-in-out; overflow: visible; }
.search--example-2 .search__btn:before { content: ''; width: 20px; height: 4px; background-color: $purple; position: absolute; right: -12px; bottom: -5px; transform: rotate(45deg); transition: all 0s ease-in-out; }

.search--example-2 .search__btn.close { transition: all .4s ease-in-out .4s; }

.search--example-2 .search__btn.close:before,
.search--example-2 .search__btn.close:after { content: ''; width: 27px; height: 4px; background-color: $purple; position: absolute; }

.search--example-2 .search__btn.close:before { transform: rotate(45deg); transition: all .2s ease-in-out; right: 12px; bottom: 23px; }
.search--example-2 .search__btn.close:after { transform: rotate(-45deg); right: 12px; bottom: 23px; }

/*  Search Example 3  */

.search--example-3 form { perspective: 1000px; }

.search--example-3 .search__field { width: 180px; padding: 10px; border: 1px solid rgba(0, 0, 0, .15); background-color: $white; cursor: pointer; }
.search--example-3 .search__btn { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: $blue; position: absolute; right: 0; top: 0; z-index: 10; pointer-events: none; transform-origin: right center; transition: all .6s ease-in-out; }

.search--example-3 .search__field:focus { cursor: text; }
.search--example-3 .search__field:focus + .search__btn { width: 50%; transform: rotateY(180deg); pointer-events: auto; }

/*  Search Example 4  */

.search--example-4 .search__field { width: 38px; height: 38px; padding: 0 20px 0 0; border-width: 0 0 1px 0; border-style: solid; border-color: transparent transparent $green transparent; border-radius: 38px; background: none; transition: all .8s ease-in-out; cursor: pointer; }
.search--example-4 .search__btn { display: flex; align-items: center; justify-content: center; width: 38px; height: 38px; background-color: $green; border-radius: 38px; position: absolute; right: 0; top: 0; z-index: 10; pointer-events: none; transition: all .8s ease-in-out; }

.search--example-4 .search__field:focus { width: 180px; border-radius: 0; cursor: text; }
.search--example-4 .search__field:focus + .search__btn { transform: translate(50%, 0) rotate(360deg); pointer-events: auto; }

/*  Search Example 5  */

.search--example-5 .search__field { width: 60px; height: 48px; padding: 0 40px 0 20px; border: 0; background-color: rgba(0, 0, 0, .1); cursor: pointer; transition: width .4s; }

.search--example-5 .search__caret { width: 2px; height: 100%; background-color: $brand; position: absolute; left: 0; top: 0; z-index: 10; transition: transform .4s; }

.search--example-5 .search__btn { width: 20px; height: 20px; background: none; border: 2px solid $brand; border-radius: 50%; position: absolute; right: 20px; top: 50%; margin-top: -12px; z-index: 10; pointer-events: none; transition: all .4s; overflow: visible; }
.search--example-5 .search__btn:before,
.search--example-5 .search__btn:after { content: ''; width: 8px; height: 2px; background-color: $brand; transform: rotate(45deg); position: absolute; left: 100%; top: 100%; z-index: 10; transition: all .4s; }

.search--example-5 .search__btn:before { margin: -1px 0 0 -1px; }
.search--example-5 .search__btn:after { margin: 4px 0 0 4px; }

.search--example-5 .search__field:focus { width: 240px; cursor: text; }
.search--example-5 .search__field:focus + .search__caret { transform: translate(10px, 0) scale(1, .6); }
.search--example-5 .search__field:focus ~ .search__btn { width: 24px; height: 24px; right: 15px; pointer-events: auto; }
.search--example-5 .search__field:focus ~ .search__btn:before { transform: rotate(-45deg) translate(-3px, -13px); }
.search--example-5 .search__field:focus ~ .search__btn:after { transform: rotate(45deg) translate(-24px, -1px); }

/*  Search Example 6  */
.search--example-6 .search__field { width: 48px; height: 48px; padding: 0 24px; border: 0; border-radius: 0; background: none; cursor: pointer; transition: width .3s 0s; }

.search--example-6 .search__btn { width: 48px; height: 48px; margin-left: -24px; border: 3px solid $purple; border-radius: 24px; transform: rotate(45deg); pointer-events: none; position: absolute; left: 50%; top: 0; z-index: 10; transition: width .3s 0s, transform .3s .6s, left .3s .3s, margin .3s .3s; overflow: visible; }
.search--example-6 .search__btn:after { content: ''; width: 24px; height: 3px; background-color: $purple; position: absolute; left: 100%; top: 50%; margin-top: -1px; transition: width .3s .3s; }

.effect-preview:hover .search--example-6 .search__field,
.search--example-6 .search__field:focus { width: 240px; cursor: text; transition: width .3s .6s; }

.effect-preview:hover .search--example-6 .search__btn,
.search--example-6 .search__field:focus + .search__btn { width: 240px; transform: rotate(0deg); left: 0; margin-left: 0; transition: width .3s .6s, transform .3s 0s, left .3s .6s, margin .3s .6s; }

.effect-preview:hover .search--example-6 .search__btn:after,
.search--example-6 .search__field:focus + .search__btn:after { width: 0; transition: width .3s .3s; }

/*  Search Example 7  */

.search--example-7 .search__field { width: 48px; height: 48px; padding: 0 15px; border: 0 solid $blue; border-radius: 5px; background: none; color: transparent; cursor: pointer; transition: width .3s .3s, border .3s 0s, color .3s 0s; }

.search--example-7 .search__btn { width: 36px; height: 36px; font-size: 0; position: absolute; right: 6px; top: 50%; margin-top: -18px; z-index: 10; pointer-events: none; }
.search--example-7 .search__btn path { fill: $blue; }

.search--example-7 .search__icon--search,
.search--example-7 .search__icon--clear { width: 36px; height: 36px; position: absolute; left: 0; top: 0; transition: transform .3s .3s; }

.search--example-7 .search__icon--search { transform: rotate(0deg) scale(1); }
.search--example-7 .search__icon--clear { width: 24px; height: 24px; transform: rotate(0deg) scale(0); left: 50%; top: 50%; margin-left: -12px; margin-top: -12px; }

.search--example-7 .search__field:focus { width: 240px; border-width: 3px; color: #000; cursor: text; transition: width .3s .3s, border .3s 0s, color .3s .3s; }
.search--example-7 .search__field:focus ~ .search__btn { pointer-events: auto; }
.search--example-7 .search__field:focus ~ .search__btn .search__icon--search { transform: rotate(180deg) scale(0); transition: transform .3s .3s; }
.search--example-7 .search__field:focus ~ .search__btn .search__icon--clear { transform: rotate(180deg) scale(1); transition: transform .3s .3s; }

/*  Search Example 8  */

.search--wrapper.search--example-8 { position: static; }

.search--example-8 .search__open svg { width: 36px; height: 36px; font-size: 0; }
.search--example-8 .search__open svg path { fill: $green; }

.search--example-8 .search__close { position: absolute; right: 5px; top: 5px; z-index: 1000; transform: scale(0) rotate(180deg); transition: transform .3s 0s ease-in-out; }
.search--example-8 .search__close svg { width: 36px; height: 36px; }
.search--example-8 .search__close path { fill: $white; }

.search--example-8 .search__form { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 999; pointer-events: none; }
.search--example-8 .search__form form { position: relative; z-index: 1000; }

.search--example-8 .search__label { display: block; padding-bottom: 5px; font-weight: 700; font-size: 16px; color: $white; text-align: center; text-transform: uppercase; letter-spacing: .1em; position: relative; z-index: 9; transform: translate(0, 100%) scale(.5); opacity: 0; transition: transform .3s .6s ease-in-out, opacity .3s .6s ease-in-out; }
.search--example-8 .search__controls { width: 320px; position: relative; }
.search--example-8 .search__field { width: 100%; padding: 15px 50px 15px 15px; border: 0; border-radius: 4px; background-color: $white; position: relative; z-index: 10; transform: scale(.5); opacity: 0; transition: transform .3s .9s ease-in-out, opacity .3s .9s ease-in-out; }

.search--example-8 .search__btn { background: none; border: 0; font-size: 0; position: absolute; right: 10px; top: 50%; margin-top: -12px; z-index: 10; opacity: 0; transform: translate(0, 10px); transition: opacity .3s .3s ease-in-out, transform .3s .3s ease-in-out; }
.search--example-8 .search__btn path { fill: $green; }

.search--example-8 .search__overlay { width: 100%; padding-bottom: 100%; background-color: $green; border-radius: 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(0); z-index: 999; visibility: hidden; transition: transform .5s 1.2s ease-in-out, visibility .5s 1.2s ease-in-out; }

.search--example-8 .search__form.is--opened { pointer-events: auto; }
.search--example-8 .search__form.is--opened .search__overlay { transform: translate(-50%, -50%) scale(2); visibility: visible; transition: transform .5s ease-in-out, visibility .5s ease-in-out; }
.search--example-8 .search__form.is--opened .search__field { transform: scale(1); opacity: 1; transition: transform .3s .3s ease-in-out, opacity .3s .3s ease-in-out; }
.search--example-8 .search__form.is--opened .search__label { transform: translate(0, 0) scale(1); opacity: 1; transition: transform .3s .6s ease-in-out, opacity .3s .6s ease-in-out; }
.search--example-8 .search__form.is--opened .search__btn { opacity: 1; transform: translate(0, 0); transition: opacity .3s .9s ease-in-out, transform .3s .9s ease-in-out; }
.search--example-8 .search__form.is--opened .search__close { transform: scale(1) rotate(0deg); transition: transform .3s 1.2s ease-in-out; }

/*  Search Example 9  */

.search--wrapper.search--example-9 { position: static; }

.search--example-9 .search__open { font-size: 0; }
.search--example-9 .search__open svg { width: 36px; height: 36px; }
.search--example-9 .search__open svg path { fill: $brand; }

.search--example-9 .search__close { font-size: 0; position: absolute; right: 15px; top: 15px; z-index: 999; transform: scale(.6); opacity: 0; transition: transform .5s, opacity .5s; }
.search--example-9 .search__close svg { width: 36px; height: 36px; }
.search--example-9 .search__close svg path { fill: $brand; }

.search--example-9 .search__form { display: flex; align-items: center; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 999; opacity: 0; border: 5px solid transparent; transition: opacity .5s, border .5s; pointer-events: none; }
.search--example-9 .search__form form { flex: 0 0 100%; max-width: 100%; padding: 0 10%; position: relative; z-index: 999; transform: scale3d(.8, .8, 1); opacity: 0; transition: transform .5s, opacity .5s; }

.search--example-9 .search__form:before,
.search--example-9 .search__form:after { content: '';  }

.search--example-9 .search__hint { width: 100%; padding-top: 10px; color: $brand; text-align: right; letter-spacing: .1em; }

.search--example-9 .search__overlay { width: 100%; height: 100%; background-color: $black; opacity: .8; position: absolute; left: 0; top: 0; z-index: 998; }

.search--example-9 .search__controls { position: relative; }

.search--example-9 .search__field { width: 100%; padding: 10px 70px 10px 0; border: 0; border-bottom: 2px solid $brand; background: none; font-size: 64px; color: $brand; }
.search--example-9 .search__field::-webkit-input-placeholder { color: $brand; opacity: .5 !important; }
.search--example-9 .search__field::-moz-placeholder { color: $brand; opacity: .5 !important; }
.search--example-9 .search__field:-moz-placeholder { color: $brand; opacity: .5 !important; }
.search--example-9 .search__field:-ms-input-placeholder { color: $brand; opacity: .5 !important; }
.search--example-9 .search__field::-ms-clear { display: none; }

.search--example-9 .search__btn { font-size: 0; position: absolute; right: 0; top: 20px; z-index: 999; }
.search--example-9 .search__btn svg { width: 64px; height: 64px; transition: opacity .3s ease-in-out; }
.search--example-9 .search__btn svg:hover { opacity: .75; }
.search--example-9 .search__btn svg path { fill: $brand; }

.search--example-9 .search__form.is--opened { opacity: 1; border-width: 25px; pointer-events: auto; }
.search--example-9 .search__form.is--opened .search__close { opacity: 1; transform: scale(1); }
.search--example-9 .search__form.is--opened form { opacity: 1; transform: scale3d(1, 1, 1); transition: transform .5s .3s, opacity .5s .3s; }

/*  Search Example 10  */

.search--example-10 .search__open { font-size: 0; }
.search--example-10 .search__open svg { width: 36px; height: 36px; }
.search--example-10 .search__open svg path { fill: $purple; }

.search--example-10.search--wrapper { width: 100%; height: 100%; background-color: #2f2c2c; position: absolute; left: 0; top: 0; z-index: 0; }
.search--example-10.search--wrapper .search__form { height: 50%; padding: 100px 50px 0; position: relative; opacity: 0; transform: scale3d(0.7, 0.7, 1); transition: opacity 0.6s, transform 0.6s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1); }

.search--example-10.search--wrapper .search__close { font-size: 0; position: absolute; right: 10px; top: 10px; }
.search--example-10.search--wrapper .search__close svg { width: 36px; height: 36px; }
.search--example-10.search--wrapper .search__close svg path { fill: $purple; }

.search--example-10.search--wrapper .search__field { width: 100%; padding: 10px 40px 10px 0; border: 0; border-bottom: 2px solid $purple; background: none; font-size: 32px; color: $purple; }

.search--example-10.search--wrapper .search__hint { width: 100%; padding-top: 10px; color: $purple; text-align: right; letter-spacing: .1em; opacity: .75; }

.search--example-10.search--wrapper .search__btn { font-size: 0; position: absolute; right: 0; top: 10px; }
.search--example-10.search--wrapper .search__btn svg { width: 36px; height: 36px; }
.search--example-10.search--wrapper .search__btn svg path { fill: $purple; }

.search--example-10 .search__controls { position: relative; }

/* Small Desktop */

$breakpoint-small-desktop {
	.search--example-9 .search__form.is--opened { border-width: 15px; }

	.search--example-9 .search__field { font-size: 32px; }

	.search--example-9 .search__btn { top: 10px; }
	.search--example-9 .search__btn svg { width: 36px; height: 36px; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.search--example-10.search--wrapper .search__form { padding: 50px 25px 0; }
}

/* Mobile */

$breakpoint-mobile {
	.search--example-9 .search__form form { padding: 0 15px; }
	.search--example-10.search--wrapper .search__form { padding: 50px 15px 0; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.search--example-10.search--wrapper .search__form { padding: 40px 15px 0; }
}
