/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

/* Button Block */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.button { font-size: 13px; line-height: 20px; color: #fff; font-weight: 500; display: inline-block; vertical-align: middle; padding: 15px 29px 13px; border: 1px solid #d07ef2; background: #d07ef2; border-radius: 3px; transform: translateZ(0); box-shadow: none; transition: all .35s ease; cursor: pointer; position: relative; }

.button:hover { color: #d07ef2; }

/* ------------------------------------------------------------ *\
	Button Icon Back
\* ------------------------------------------------------------ */

.button--icon-back:hover { color: #fff; }
.button--icon-back i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back:hover i { margin-left: -12px; margin-right: 12px; }

/* ------------------------------------------------------------ *\
	Button Icon Back Loop
\* ------------------------------------------------------------ */

.button--icon-back-loop:hover { color: #fff; }
.button--icon-back-loop i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back-loop:hover i { animation: loop-left .8s infinite; }

@keyframes loop-left {
	0% { margin-left: -4px; margin-right: 4px; }
	85% { margin-left: -12px; margin-right: 12px; }
	100% { margin-left: -4px; margin-right: 4px; }
}

/* ------------------------------------------------------------ *\
	Button Icon Back Fade
\* ------------------------------------------------------------ */

.button--icon-back-fade:hover { color: #fff; }
.button--icon-back-fade i { margin-left: -4px; margin-right: 4px; transition: margin .2s; }
.button--icon-back-fade:hover i { animation: icon-fade .8s infinite; }

@keyframes icon-fade {
	0% { margin-left: -4px; margin-right: 4px; opacity: 1; }
	100% { margin-left: -16px; margin-right: 16px; opacity: 0; }
}

/* ------------------------------------------------------------ *\
	Button Replace Right
\* ------------------------------------------------------------ */

.button--icon-replace-right { position: relative; overflow: hidden; }
.button--icon-replace-right i { position: absolute; top: 50%; transform: translate(-50%, -50%); left: 150%; transition: left .4s; }
.button--icon-replace-right span { transition: opacity .2s; }
.button--icon-replace-right:hover { color: #fff; }
.button--icon-replace-right:hover span { opacity: 0; }
.button--icon-replace-right:hover i { left: 50%; }


/* ------------------------------------------------------------ *\
	Button Replace Bottom
\* ------------------------------------------------------------ */

.button--icon-replace-bottom { position: relative; overflow: hidden; }
.button--icon-replace-bottom i { position: absolute; top: 150%; transform: translate(-50%, -50%); left: 50%; transition: top .4s; }
.button--icon-replace-bottom span { transition: opacity .2s; }
.button--icon-replace-bottom:hover { color: #fff; }
.button--icon-replace-bottom:hover span { opacity: 0; }
.button--icon-replace-bottom:hover i { top: 50%; }


/* ------------------------------------------------------------ *\
	Button Icon Move Bottom
\* ------------------------------------------------------------ */

.effect-preview:hover .button--icon-move-bottom,
.button--icon-move-bottom:hover { color: #fff; }
.button--icon-move-bottom { position: relative; overflow: hidden; }
.button--icon-move-bottom span { position: relative; top: 0; transition: top .3s; }
.button--icon-move-bottom i { position: absolute; left: 50%; transform: translate(-50%, -50%); top: 150%; transition: top .3s; }

.effect-preview:hover .button--icon-move-bottom i,
.button--icon-move-bottom:hover i { top: 50%; }

.effect-preview:hover .button--icon-move-bottom span,
.button--icon-move-bottom:hover span { top: -35px; }

/* ------------------------------------------------------------ *\
	Button Icon Grow
\* ------------------------------------------------------------ */

.button--icon-grow:hover { color: #fff; }
.button--icon-grow i { margin-left: -4px; margin-right: 4px; transition: transform .2s linear; }
.button--icon-grow:hover i { transform: scale(1.5); }

/* ------------------------------------------------------------ *\
	Button Icon Like
\* ------------------------------------------------------------ */

.button--icon-fill { position: relative; }
.button--icon-fill i { position: absolute; top: 50%; transform: translateY(-50%); left: 23px; }
.button--icon-fill i + i { opacity: 0; transition: opacity .2s; }
.button--icon-fill span { margin-left: 13px; }
.button--icon-fill:hover { color: #fff; }
.button--icon-fill:hover i + i { opacity: 1; }

/* ------------------------------------------------------------ *\
	Button Icon Like
\* ------------------------------------------------------------ */

.button--icon-like:hover { color: #fff; }
.button--icon-like i { transition: color .2s; }
.button--icon-like i + i { margin-left: -17px; color: transparent; transition: color .3s, opacity .3s .3s, transform .4s .2s; }
.button--icon-like:hover i + i { color: #fa0000; opacity: 0; transform: scale(3); }
.button--icon-like:hover i { color: rgba(255,0,0,.5); }

/* ------------------------------------------------------------ *\
	Button Border Out
\* ------------------------------------------------------------ */

.button--border-out:hover { color: #fff; }
.button--border-out:before { content: ''; border-radius: 3px; position: absolute; left: 6px; top: -6px; width: 100%; height: 100%; opacity: 0; border: 3px solid #57609E; transition: left .3s, top .3s, opacity .2s; }
.button--border-out:hover:before { opacity: 1; left: 0; top: 0; }

/* ------------------------------------------------------------ *\
	Button Border Background
\* ------------------------------------------------------------ */

.button--border-background { background-color: transparent; border: 0; z-index: 2; }
.button--border-background:before { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; border-radius: 3px; background-color: #d07ef2; z-index: -1; transition: width .2s; }
.button--border-background:after { content: ''; position: absolute; top: -2px; bottom: -2px; left: 50%; transform: translateX(-50%); width: 0; border-top:2px solid #d07ef2; border-bottom: 2px solid #d07ef2; transition: width .2s; }

.button--border-background:hover:before { width: 0; }
.button--border-background:hover:after { width: 100%; }

/* ------------------------------------------------------------ *\
	Button Background Fall In
\* ------------------------------------------------------------ */

.button--background-fall-in { background-color: transparent; border: 0; z-index: 2; }
.button--background-fall-in:before { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 3px; background-color: #d07ef2; z-index: -1; transition: width .3s, height .3s; }
.button--background-fall-in:after { content: ''; border-radius: 3px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150%; height: 200%; border: 1px solid #d07ef2; opacity: 0; transition: width .3s, height .3s, opacity .3s; }

.button--background-fall-in:hover:before { width: 0; height: 0; }
.button--background-fall-in:hover:after { width: 100%; height: 100%; opacity: 1; }
