/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link { position: relative; display: inline-block; transition: all .4s; text-transform: uppercase; font-size: 18px; font-weight: 500; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Link Push
\* ------------------------------------------------------------ */

.link--example-1 { overflow: hidden; }
.link--example-1:before { content: attr(data-hover); position: absolute; top: 0; left: 0; transform: translateX(-100%); z-index: 0; width: 100%; height: 100%; padding: 10px 20px; background-color: #f2857e; color: #fff; transition: transform 0.3s; }

.link--example-1 span { position: relative; z-index: 1; display: block; padding: 10px 20px; background-color: transparent; transition: transform .3s; }

.link--example-1:hover span { transform: translateX(100%); }
.link--example-1:hover:before { transform: translateX(0%); }


/* ------------------------------------------------------------ *\
	Link Calendar
\* ------------------------------------------------------------ */

.link--example-2 { line-height: 2em; perspective: 800px; }

.link--example-2 span { position: relative; transform-style: preserve-3d; transform-origin: 0% 50%; display: inline-block; padding: 3px 15px 0; background-color: #f6a6a1; box-shadow: inset 0 3px #f2857e; color: #fff; transition: background 0.6s; }
.link--example-2 span:before { content: attr(data-hover); position: absolute; top: 0; left: 0; transform: rotateX(270deg); transform-origin: 0 0; width: 100%; height: 100%; background-color: #d5756f; pointer-events: none; transition: transform 0.6s; }

.link--example-2:hover span { background-color: #D5756F; }
.link--example-2:hover span:before { transform: rotateX(10deg); }

/* ------------------------------------------------------------ *\
	Link Arrow
\* ------------------------------------------------------------ */

.link--example-3 { z-index: 1; padding-right: 16px; }

.link--example-3:before,
.link--example-3:after { content: ""; position: absolute; left: 50%; top: 50%; z-index: -1; transform: translate(-50%,-50%); width: 100%; height: 100%; opacity: 0; background-color: #f2857e; transition: all 0.3s; }

.link--example-3:after { left: auto; right: 0; transform: translateX(0) translateY(-50%) rotate(45deg) scale(0); height: 12px; width: 12px; background: linear-gradient(45deg, transparent 49%, #f2857e 50%); opacity: 1; }

.link--example-3:hover:before { width: 100%; height: 16%; opacity: 1; }
.link--example-3:hover:after { transform: translateX(0) translateY(-50%) rotate(45deg) scale(1); opacity: 1; }

/* ------------------------------------------------------------ *\
	Link Line Through
\* ------------------------------------------------------------ */

.link--example-4:hover:before { transform: scale(1); }

.link--example-4:before { content: ""; position: absolute; top: 50%; left: -10px; z-index: 1; transform: scale(0); height: 2px; right: -10px; background-color: #f2857e; transition: 0.3s ease-in-out all; }

.link--example-4 span:before,
.link--example-4 span:after { content: attr(data-hover); position: absolute; left: 0; top: 0; height: 100%; width: 100%; color: #000; clip-path: polygon(0 0, 0 52%, 100% 52%, 100% 0); transition: 0.3s ease-in-out all; }
.link--example-4 span:after { clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%); }

.link--example-4:hover { color: transparent; }
.link--example-4:hover:before { transform: scale(1); }

.link--example-4:hover span:before,
.link--example-4:hover span:after { color: #000; }
.link--example-4:hover span:before { transform: translateX(-3px) skewX(10deg); }
